[2021-12-30 11:02] vt-alt commented on #132
Maybe we should generalize list of testable Ubuntu-s, I think this should be possible,

[2021-12-30 14:43] solardiz commented on #132
Why can't we continue testing on a EOL'ed version of Ubuntu? Maybe we can fix something to make that work?

Do you mean having it automatically generated/updated? I'm not sure that's what we want. However, we should somehow be adding new versions.

[2021-12-30 14:59] vt-alt commented on #132
To me this sounds somehow contradictory.

I'll check if mkosi can work with this http://old-releases.ubuntu.com/ubuntu/dists/

How long do you plan to support groovy?

ps. Also, we can move it to build-only test in Docker (in `builds.yml`).

[2021-12-30 15:04] vt-alt commented on #132
I understand that _longer is better_, but there is long term releases and short term releases. Perhaps reasonable users who want to sit on the same old release for a long will at least use long term release like `focal` (which is boot tested).

[2021-12-30 15:13] solardiz commented on #132
Not updating the Ubuntu versions list automatically yet wanting to promptly add new versions is in fact contradictory, however my thinking is we don't want (more) sudden CI failures on unrelated changes to LKRG. When we explicitly add a new version of Ubuntu, we expect possible failure due to that and we can handle it on a pull request intended for just that.

Our testing on older versions isn't o

[2021-12-30 15:31] vt-alt commented on #132
I just noticed that groovy is completely deleted even from old-releases and that http://old-releases.ubuntu.com/ubuntu/dists/groovy/ is 404'd. So I don't see how can fix it, at least until they provide it somewhere. (Perhaps they will.)

Isn't you can always ignore failure for an unrelated commit if you see that it's new Ubuntu release just appeared?

Well, I don't see it now for lkrg, but other p

[2021-12-30 15:34] vt-alt commented on #132
This fixed quickly.

[2021-12-30 15:37] vt-alt commented on #132
What would be good in autogeneated Ubuntu dists list is we don't need to follow what and when they release (I personally don't follow this). But there could be failures like this with groovy (when it suddenly disappeared) So it's trade off. Well, if you don't want I will not try to implement it.

[2021-12-30 15:39] vt-alt commented on #132
No it's more complicated. Sometimes its 404, sometimes visible.

[2021-12-30 15:42] solardiz commented on #132
For now, I think let's keep Groovy removed and you add new version(s) manually. However, I'm open to revisiting this discussion and possibly doing things differently later. Thank you!

[2021-12-30 20:21] vt-alt commented on #132
[Now I'm not sure there was ever 404 since I realized I messed URLs. Anyway.] `mkosi -m http://old-releases.ubuntu.com/ubuntu/ -r groovy` works and I can fix CI.

[2021-12-30 21:08] vt-alt commented on #132
No I'm certain now there is 404 sometimes. Excuse me for the noise, it was driving me crazy too.

[2021-12-31 01:15] Pheidologeton opened #135 "[5.15.12] load error"
The following error occurs when trying to load a kernel module.
modprobe
[code]
dmesg
[code]
Arch linux, latest zen kernel.

[2021-12-31 01:53] solardiz commented on #135
@Pheidologeton Thank you for reporting this. Can you please show which `CONFIG_SECCOMP*` options your kernel has? My guess is it somehow has `CONFIG_SECCOMP`, but not `CONFIG_SECCOMP_FILTER`. Maybe we need to add support for that. My other guess is you're inserting LKRG into a kernel configured differently from the kernel for which LKRG was built. Let's figure this out.

[2021-12-31 01:57] Pheidologeton commented on #135
My CONFIG_SECCOMP
[code]

[2021-12-31 02:14] solardiz commented on #135
I'm not familiar with Arch and don't know what "latest zen kernel" is, but perhaps it's not the same kernel that "LKRG 0.9.2-dkms from AUR" was built against? And, what kernel _is_ the LKRG package built against?

I can see how we'd have this problem if the LKRG package is built against a kernel older than 5.9, but I doubt that's the case?

@rgacogne @itoffshore Can you comment?

[2021-12-31 02:16] Pheidologeton commented on #135
This is a DKMS package which is built from source code for the installed kernel. LKRG is not provided in binary.
My kernel
[code]

[2021-12-31 02:31] itoffshore commented on #135
I have the same `SECCOMP` config on `linux-hardened`:

[code]

I build my kernels with [arch-sign-modules](https://aur.archlinux.org/packages/arch-sign-modules)

[2021-12-31 02:41] solardiz commented on #135
Oh, indeed. Then I'm puzzled. Looking at 5.15.12 source code, I don't see why LKRG 0.9.2 would run into that issue with that configuration.

And LKRG 0.9.2 works for you, right?

[2021-12-31 02:43] solardiz commented on #135
@Pheidologeton Can you run `strings -a p_lkrg.ko | grep put_seccomp_filter` (when in the directory with `p_lkrg.ko` that `modprobe` would attempt loading for your current kernel)? What does it say?

[2021-12-31 02:55] itoffshore commented on #135
`dmesg`:

[code]
![Screenshot_2021-12-31_02-43-40](https://user-images.githubusercontent.com/1141947/147800335-c0592190-cb5f-4630-962a-32c811053d92.png)

the `string` command didn't return anything for me:

![Screenshot_2021-12-31_02-51-11](https://user-images.githubusercontent.com/1141947/147800352-0c2769c9-1281-4d7e-a12a-7a0577c6eac6.png)

[2021-12-31 03:19] solardiz commented on #135
Thanks, @itoffshore. The `strings` didn't work because the module is compressed. It'd work on uncompressed `.ko`.

[2021-12-31 03:23] solardiz commented on #135
My current best guess is that in @Pheidologeton's case gcc happened to optimize the `__put_seccomp_filter` symbol out of the kernel. It's a `static` function only used from the same source file, so gcc didn't have to keep it, and it is indeed problematic that we rely on it being present. We could want to look into alternatives.

@Pheidologeton Can you show `grep seccomp_filter /proc/kallsyms`?

[2021-12-31 13:47] Pheidologeton commented on #135
strings -a p_lkrg.ko | grep put_seccomp_filter
[code]
grep seccomp_filter /proc/kallsyms
[code]

[2021-12-31 14:07] rgacogne commented on #135
For what it's worth `t __put_seccomp_filter` is present in the output of `grep seccomp_filter /proc/kallsyms` when using either the `linux` or `linux-hardened` package, so I'm not sure what's going with the `linux-zen` kernel. The build instruction for the `linux-zen` kernel can be found here: https://github.com/archlinux/svntogit-packages/blob/packages/linux-zen/trunk/PKGBUILD

[2021-12-31 14:14] rgacogne commented on #135
On second thought, Arch is currently in the process of enabling LTO by default so `linux-zen` might very well have been built with LTO enabled.

[2021-12-31 14:15] itoffshore commented on #135
I always had problems running `linux-zen` (either with `lkrg` or `nvidia` or `zfs`) & settled on just installing:

- linux-lts
- linux-hardened
- linux-hardened-cacule

[2021-12-31 14:39] solardiz commented on #135
OK, this looks like compiler optimization clashing with our reliance on an internal symbol. We'll need to look into avoiding reliance on that symbol.

[2022-01-01 19:40] vt-alt commented on #132
Filed a bug https://bugs.launchpad.net/ubuntu/+bug/1956164

[2022-01-08 12:16] Adam-pi3 commented on #135
What is worth to mention is when you compile your own kernel from the sources, you can avoid this problem by adding:
[code]
to the definition of the function  (directly after the function) which you can find here:
https://github.com/zen-kernel/zen-kernel/blob/5.15/master/kernel/seccomp.c#L530

I would also remove a keyword `static`.

[2022-01-13 13:12] solardiz commented on #135
@Adam-pi3 As an option, we could make failure to find `__put_seccomp_filter` non-fatal - just log a warning and continue without seccomp monitoring. This is far from ideal, but nevertheless is a potential workaround to have in mind.

[2022-01-13 13:15] solardiz commented on #132
@vt-alt No replies to that launchpad bug entry yet, but I cannot reproduce the 404 now - can you? Thanks!

[2022-01-13 13:32] solardiz opened #137 "Intermittent "_STEXT MEMORY BLOCK HASH IS DIFFERENT" on Linux 5.16.0-051600daily20220113-generic"
As seen in https://github.com/solardiz/lkrg/runs/4801643170 for LKRG effectively at d75c7a48c3097123c760579eff5f0d94b8077c8b (December 9, 2021, after which we made no relevant fixes yet, so the issue probably applies to our latest as well):

[code]

However, another two runs of the test with the exact same kernel succeeded: https://github.com/lkrg-org/lkrg/runs/4801771771 and https://github.com/wl

[2022-01-13 14:02] solardiz opened #138 "Scheduled GitHub Actions also run in forks"
This should have been obvious, but I just found out that our daily "mkosi boot (mainline)" workflows also run in forks of this repo. While this provides extra testing, we're unlikely to ever notice and benefit from such testing in the many forks, yet they consume significant resources of GitHub.

I think there are two tasks here:

1. We should somehow have this disabled in the forks - perhaps we c

[2022-01-13 14:20] solardiz commented on #138
Upon manual review of the forks, somehow the daily scheduled workflows run only in some. Currently, they run in:

https://github.com/solardiz/lkrg/actions
https://github.com/wladmis/lkrg/actions

Previously, they also ran in:

https://github.com/0xC0ncord/lkrg/actions
https://github.com/vt-alt/lkrg/actions

That's 4 out of 28 forks total. (GitHub's displayed fork count is 30, but I think that incl

[2022-01-13 16:05] solardiz opened #141 "Build failure on CentOS Stream 8"
As first mentioned in https://github.com/lkrg-org/lkrg/pull/140#issuecomment-1012268148:

Somehow `build (quay.io/centos/centos:stream8` failed with:

[code]

Has the rename of state to __state from 5.14+ been just back-ported to CentOS Stream 8? We need to confirm this and likely introduce a proper (exact starting revision) RHEL kernel version check into our `p_get_task_state` (treating those new

[2022-01-13 18:03] Adam-pi3 commented on #137
@solardiz can you repro it? If yes, you could uncomment `P_LKRG_JUMP_LABEL_STEXT_DEBUG` under `lkrg/src/modules/print_log/p_lkrg_log_level_shared.h` which would give us a precise information what's going on:

[code]

[2022-01-13 18:20] solardiz commented on #137
I don't know. So far it's just one occurrence out of probably tens or hundreds of invocations of the test, depending on when the issue got introduced (e.g. starting with which kernel version).

However, yes, we can enable that debug setting in a fork of the repo and wait.

In terms of not abusing GitHub resources yet likely reproducing this sooner rather than later, it would be best to have the sa

[2022-01-13 21:14] vt-alt commented on #138
This is not just random fork, this is where I test these features for PRs.

[2022-01-13 21:33] vt-alt commented on #137
I don't like to think about using GA CI as abuse. Also, I don't understand what you propose and why. I am not a cloud provider to have spare hardware resources.

[2022-01-13 22:40] vt-alt commented on #132
[code]

[2022-01-14 00:22] vt-alt commented on #138
I just tried to fork passwdqc to see what will happen with actions there.
On the page https://github.com/vt-alt/passwdqc/actions it says to me:

"**Workflows aren’t being run on this forked repository**
Because this repository contained workflow files when it was forked, we have disabled them from running on this fork. Make sure you understand the configured workflows and their expected usage befo

[2022-01-14 09:26] solardiz commented on #138
Thank you @vt-alt and @wladmis for looking into this so promptly! Of course, none of these 4 are "random forks".

[2022-01-14 10:31] solardiz commented on #141
I cannot easily determine the exact revision from `kernel.spec` in 358, and there doesn't appear to be any publicly available `.src.rpm` between 348 and 358. I didn't check individual Red Hat developers' pages yet, though - IIRC, in the past some shared intermediate kernel revisions there. https://gitlab.com/redhat/centos-stream/src/kernel/centos-stream-8 appears to still only have 348.

BTW, look

[2022-01-14 10:34] solardiz commented on #141
Maybe it's this:

[code]

[2022-01-14 11:35] solardiz commented on #141
The problem is `RHEL_RELEASE` is only exported to C preprocessor as a string, and the preprocessor cannot convert them to integers, compare strings, nor extract characters from strings.

[code]

[2022-01-14 11:39] solardiz commented on #141
The good news is they've updated the minor to 6 already, so we can just check for 8.6+ and it should work. I should have checked that first.

[2022-01-14 11:59] solardiz commented on #137
Unintentionally triggered it again on 5.16.0-051600daily20220114-generic, unfortunately without debugging enabled: https://github.com/solardiz/lkrg/runs/4816305287?check_suite_focus=true

[2022-01-14 12:11] #141 closed

[2022-01-16 01:32] vt-alt commented on #137
Reproduced something with this debug option:
[code]

[2022-01-16 01:58] vt-alt commented on #137
Accidentally got this:
[code]

[2022-01-16 02:13] vt-alt commented on #137
Btw, there is also build warning:
[code]

[2022-01-16 12:08] solardiz commented on #137
Thank you, @vt-alt! Incidentally, it looks like we also have unintended sign extension in a printf format there - should fix that, too.

[2022-01-17 05:12] vt-alt commented on #132
Still not fixed. Maybe we should add Ubuntu 22.04 Jammy Jellyfish instead?

[2022-01-18 16:12] solardiz opened #144 "Build fails on Ubuntu's Linux 5.16.0-051600daily20220118-generic"
[code]

[2022-01-18 16:14] solardiz opened #145 "Build fails on CentOS Stream 9's Linux 5.14.0-39.el9.x86_64"
[code]

[2022-01-18 16:15] solardiz opened #146 "Build fails on OpenSUSE leap's Linux 5.3.18-59.37"
[code]

[2022-01-18 16:26] solardiz commented on #138
In my fork, I'm now getting a skipped scheduled run logged each day. I guess that's the best we can get, so I'm closing this issue. Thanks again, @vt-alt and @wladmis!

[2022-01-18 16:26] #138 closed

[2022-01-18 17:18] Adam-pi3 commented on #137
@vt-alt Can I see the full log where you managed to repro it with the DEBUG compilation?

[2022-01-18 19:35] vbooka1 opened #147 "incompatible with Proxmox?"
OS: Proxmox 6.4 (Debian 10.10)

Linux  5.4.157-1-pve #1 SMP PVE 5.4.157-1 (Mon, 29 Nov 2021 12:01:44 +0100) x86_64 GNU/Linux

linux-headers package could not be installed because Proxmox uses its own kernel build, so I have installed the package pve-headers-5.4.157-1-pve

LKRG build passes successfully, without any errors, but `insmod -f p_lkrg.ko` gives an error: "Invalid module format"

[code]

[2022-01-18 21:06] vt-alt commented on #137
@Adam-pi3 I posted two logs of boot with `P_LKRG_JUMP_LABEL_STEXT_DEBUG`. Are they not full? What else needs to be added?

[2022-01-18 21:38] Adam-pi3 commented on #137
@vt-alt I would like to see if it happens after LKRG is initialized or during initialization? If after how long it happens after initialization? I would like to see the full booting log if possible

[2022-01-18 21:52] vt-alt commented on #137
IC. I will try re-reproduce then.

[2022-01-19 06:57] vt-alt commented on #137
After a night [boot1.log](https://github.com/lkrg-org/lkrg/files/7894735/boot1.log) this seems unrelated but still a kernel panic.

[2022-01-19 08:24] vt-alt commented on #137
Seems a good one now [boot3-stext.log](https://github.com/lkrg-org/lkrg/files/7895240/boot3-stext.log).

[2022-01-19 14:15] vt-alt commented on #137
Another one [boot9-stext.log](https://github.com/lkrg-org/lkrg/files/7897757/boot9-stext.log) with multiple `copy` messages.

Is this enough?

[2022-01-19 15:28] solardiz opened #148 "Autodetect kernel revision peculiarities at configure/make time"
As suggested by @vt-alt, instead of figuring out exact (distro, stable) kernel revisions where e.g. a symbol got renamed (typically due to a back-port), etc., and testing for those with `#if`, we could introduce GNU autoconf-like tests to auto-detect such kernel revision peculiarities and adapt to those. This could save us effort (on figuring out exact revisions), simplify our actual source files,

[2022-01-19 15:58] solardiz commented on #147
@vbooka1 Thank you for reporting this issue. We were not aware of it. There are many different reasons why `finit_module` might fail with `ENOEXEC`. With some of those, a message should appear in `dmesg` - so can you please see and let us know what, if anything, appears in there when you try to insert the module?

[2022-01-19 16:08] solardiz opened #149 "Intermittent NULL pointer dereference in p_arch_static_call_transform_entry() on system shutdown"
As reported by @vt-alt in https://github.com/lkrg-org/lkrg/issues/137#issuecomment-1016139265 and related to or the same as #85:

[code]

[2022-01-19 16:54] Adam-pi3 commented on #137
@vt-alt yes, thanks! It looks like that problems is related to static branches and we need to dig in what has been changed in that path comparing to older kernels.

[2022-01-19 16:57] Adam-pi3 commented on #147
The problem which @vbooka1 sees is related to the incompatible build environment for LKRG with the currently running kernel. The detailed message is "Invalid module format" which tells that either kernel version is different or compiler is not the same. In general, it's not the same build environment and kernels disallows to load such module. It's unrelated to LKRG itself and any other module buil

[2022-01-19 17:35] solardiz commented on #147
While I think Adam is right, `pve-headers-5.4.157-1-pve` sounds like the right package for building modules against `Linux 5.4.157-1-pve`. Adam mentions compiler version difference as the other possibility. Maybe. Overall, we need to figure out if Proxmox supports building/loading of external kernel modules at all, and if so by having installed which packages, etc. Also, maybe the problem is isola

[2022-01-20 22:59] #144 closed

[2022-01-20 23:01] Adam-pi3 commented on #144
Latest kernel completely removed profile_task_exit, profile_munmap and task_free_notifier:
https://github.com/torvalds/linux/commit/2873cd31a20c25b5e763b35e5fb886f0938c6dd5
https://lore.kernel.org/all/20220103213312.9144-1-ebiederm@xmission.com/T/#u

It should be fixed by https://github.com/lkrg-org/lkrg/commit/1b39b4cf9902cb239be08ce30b13c0e312770ed1
I'm closing this issue.

[2022-01-21 14:31] Polluktus commented on #135
I'm having same problem on 5.16.2 with LKRG 0.9.2
[code]
I've build kernel locally on gentoo with my own custom config, custom patches, some yank from 5.17 and clang lto O3 march=native. So looks like its not only gcc problem. I can not be best example of this problem due to all this kernel modifications, but this may help you with something.
[code]
[code]
[code]
[code]
If you need more informatio

[2022-01-21 15:02] solardiz commented on #144
Thank you for addressing this, Adam.

Did the issue really affect 5.16 proper? We just got a report of another issue affecting a build of 5.16.2 at module load time, so I guess 5.16.x are actually unaffected by this build time issue so far (and the commit message saying 5.16+ is thus wrong, but is too late for us to fix now). I guess only latest mainline kernels are affected, and they have 5.16.0

[2022-01-21 15:17] solardiz commented on #145
I wonder if this would fix it (completely untested):

[code]

[2022-01-21 15:46] #145 closed

[2022-01-21 15:49] solardiz commented on #146
We currently use:

[code]

A check for OpenSUSE kernel version should be added in here.

[2022-01-21 17:04] Adam-pi3 commented on #135
@Polluktus the problem is due to the aggressive optimization. If you have custom build kernel with custom patches, as I mentioned above, you could try adding:
[code]
and it should solve your problem.

[2022-01-21 18:55] Polluktus commented on #135
@Adam-pi3 well... the good part is that it worked, thank you. But the bad part is that after signing module and insmod it, LKRG kill literally everything, I'm not even able to check whats happening, cuz shell in tty is also killed. From logs after restart there isnt too much info
[code]

[2022-01-21 19:04] solardiz commented on #135
@Polluktus Please create a separate issue for that new issue. To debug it, use `insmod p_lkrg.ko kint_enforce=0 pint_enforce=0`.

[2022-01-21 22:43] Polluktus opened #152 ""Corrupted 'off' flag!" on a kernel built with clang LTO"
Fallowing @solardiz advice, i created new issue after discussion in #135, seems similar to #30 and #106.
Kernel: Custom 5.16.2
LKRG: 0.9.2

My steps:
[code]
dmesg: https://pastebin.com/meTDESak

I know that troubleshooting custom kernel may by hard and almost impossible to reproduce, so if you decide to close this issue, i will understand.

[2022-01-22 08:50] solardiz commented on #152
Let's keep everything archived on GitHub, rather than use pastebin, so here's a copy of dmesg taken from the pastebin above: [dmesg.txt](https://github.com/lkrg-org/lkrg/files/7917932/dmesg.txt)

Excerpts:

[code]

Quoting Adam's request in #106, which is also applicable here:

This option can be enabled in `src/modules/print_log/p_lkrg_log_level_shared.h` file (un-comment line 31)

My guess, thou

[2022-01-22 08:52] solardiz commented on #152
Also quoting @Polluktus in #135:

[2022-01-22 08:54] solardiz commented on #152
I labeled this "question" for now, although I feel this is also mid-way between "bug" and "portability". It isn't exactly a code bug that we hook kernel-internal functions, but it is indeed not ideal that we (have to) do that.

[2022-01-22 13:04] Polluktus commented on #152
Yes, you were right, with
`CONFIG_LTO_NONE=y`
the problem is fixed
[code]
Later i will paste output of LTO + P_LKRG_TASK_OFF_DEBUG

[2022-01-22 13:36] Polluktus commented on #152
LTO + P_LKRG_TASK_OFF_DEBUG
[dmesg.txt](https://github.com/lkrg-org/lkrg/files/7918415/dmesg.txt)

[2022-01-22 17:30] Adam-pi3 commented on #152
Hm... Looks like some calls to `override_creds` functions has been inlined so the hook is never fired and we have FP. I'm not sure if we should spend more time on this at least for now. Looks like LTO will be problematic...

[2022-01-23 15:08] vbooka1 commented on #147
It seems that my first try failed because the compiler version of something else's version was different indeed. I have rebooted the server and compiled the module again, and despite `uname -r` is still `5.4.157-1-pve` now the module loads without problems. Most likely the compiler used some old versions of the packages and they were replaced with new ones after the reboot. I rarely reboot the ser

[2022-01-23 15:10] vbooka1 commented on #147
yes, it does support loading any external modules. I've just tested with acpi_call https://github.com/mkottman/acpi_call/ (I don't really need it on the server but it's the first one that came to my mind)

[2022-01-23 15:10] #147 closed

[2022-01-23 15:25] solardiz commented on #147
This is still a bit puzzling. I don't see why a reboot would have helped.

Another guess I had is you were under `/dev/shm`, which could possibly be mounted `noexec` - however, I saw no requirements for the filesystem to be "executable" in Linux's module loading code.

[2022-01-23 16:39] vbooka1 commented on #147
no, it is not:

`tmpfs on /dev/shm type tmpfs (rw,nosuid,nodev)`

[2022-01-29 12:54] solardiz commented on #146
@wladmis Are you going to look into this and fix it? Just asking. @vt-alt said you might. Thanks!

[2022-01-30 01:23] wladmis commented on #146
Hmm, I can easily build and test ALT, CentOS and Stream kernels, but I didn't look at OpenSUSE kernel sources yet. Maybe later.

[2022-01-30 03:16] vt-alt commented on #148
You see problems with the current approach. Besides, these accumulated `#if`s become more and more complicated. Precise version where they back ported a feature is hard to determine, so you use imprecise major numbers. And finally, in OpenSUSE they don't even include `suse_version.h` header (while file is present) anywhere, so these defines are lost and unusable.
Leap:
[code]
Tumbleweed:
[code]

[2022-01-30 03:20] vt-alt commented on #148
I got idea to grep for `SUSE_VERSION` and found they include it in the config, though:
[code]
So this `#if`ing could be continued.
Leap:
[code]

Curious `# CONFIG_SUSE_PRODUCT_OPENSUSE_LEAP is not set` for Leap.

[2022-01-30 14:45] #146 closed

[2022-01-30 15:02] solardiz commented on #137
Another one on our CI today: https://github.com/lkrg-org/lkrg/runs/4997275979?check_suite_focus=true

[code]

[2022-01-31 01:33] Adam-pi3 commented on #152
Closing this issue for now... @solardiz any objections?

[2022-01-31 01:35] 0xC0ncord commented on #152
I think in the future this should be revisited at least. While I do not use LTO at the moment, I will likely end up building my kernels with Clang's CFI as well once it becomes available for x86_64. It would be nice to be able to continue using LKRG once that happens.

[2022-01-31 01:37] 0xC0ncord commented on #152
On that note I wonder if compiling LKRG as a builtin would fix workaround the LTO issue?

[2022-01-31 02:41] #137 closed

[2022-01-31 02:44] Adam-pi3 commented on #137
https://github.com/lkrg-org/lkrg/commit/fb9e272f7d563fcd4b785dd744152c37b88e6298 commit should fix this issue. Unfortunately, the mainline kernel (from git) did not bump `LINUX_VERSION_CODE` yet. I expect, we would still see this problem until `LINUX_VERSION_CODE` is changed.
Nevertheless, it would be good to run some CI tests on the newest kernel (5.17+) with this changes (https://github.com/lkrg

[2022-01-31 05:18] vt-alt commented on #137
If there are some DEBUG options we can safely enable for CI runs, we can add them into CI script (enabling them using `sed`).

[2022-01-31 12:41] solardiz commented on #152
No objections, I think it's a WONTFIX for now. I'll close.

Currently, no, because we use the same hooking mechanism even when LKRG is linked in. We could avoid that, but then we'd need to implement and maintain two kinds of hooking.

[2022-01-31 12:41] #152 closed

[2022-01-31 12:47] solardiz commented on #137
Yet somehow we saw `5.17.0-051700rc1daily20220130-generic` in the CI log I posted in here yesterday.

[2022-01-31 16:06] solardiz commented on #137
@Adam-pi3 I think you misunderstood me. As I pointed out, we already started seeing 17 in the kernel version number in our mainline CI tests recently.

[2022-01-31 21:18] vt-alt commented on #137
OK I will try to add that.

Except for this, since how do I (or script) know when it's not bumped.

[2022-02-01 23:15] solardiz opened #156 "Intermittent NULL pointer dereference after module insert on Ubuntu 5.15.0-18-generic"
https://github.com/lkrg-org/lkrg/runs/5029333618?check_suite_focus=true

[code]

[2022-02-01 23:29] Adam-pi3 commented on #156
Can we try to load LKRG with log_level=3? From this log we can't tell at what stage of loading can be problematic

[2022-02-01 23:35] solardiz commented on #156
I'm a bit concerned that if we use non-default/debugging settings for LKRG in many of the CI runs, we might miss an issue that only affects real/default/non-debugging uses. Anyway, yes, I suppose we can update the CI setup to enable `log_level=3` for
`mkosi-boot (jammy)`. No idea if the problem will occur again, and if it will reoccur with this same distro vs. some other. I re-ran this failed job,

[2022-02-02 01:04] Adam-pi3 commented on #156
I think that this issue is another case of https://github.com/lkrg-org/lkrg/issues/87 and that's why I think `log_level=3` maybe can help gives us more information - it looks not related to LKRG itself.

[2022-02-02 13:37] vi opened #157 "Microphone stops working intermittently in WebRTC when p_lkrg module is loaded."
Steps to reproduce:

1. Load the module version 1f0bf0653462220639c591dd42f76a5700ec75f4 to Debian kernel `5.10.0-10-amd64`.
2. Set `lkrg.profile_validate` to at least 1.
3. On Xorg, use Chromium for a WebRTC call, with `HDA Intel PCH / Realtek ALC3204` audio card. For example, open two tabs of https://meet.jit.si/LkrgAudioIssues, unmuting microphone in one of them.
4. You should hear what you are

[2022-02-02 13:42] vi commented on #157
Sometimes audio disruptions are heard prior to full muting of the microphone.

`lkrg.kint_validate=1` alone triggers the bug,   `lkrg.pcfi_validate=1`, `lkrg.pint_validate=1`, `lkrg.smap_validate=1`, `lkrg.smep_validate =1`, `lkrg.smep_validate=1` and `lkrg.umh_validate=1` does not seem to affect the audio.

[2022-02-02 15:04] solardiz commented on #157
@vi Thank you for reporting. Does anything new appear in `dmesg` when these problems occur?

[2022-02-02 15:44] vi commented on #157
No.

[2022-02-02 15:47] vi commented on #157
Is there something like "optimisation fuel" for LKRG?
To set a number and make LKRG decrement it when doing each check, aborting and reporting the next check when it is 0; allowing to bisect specific place where problem occurs.

[2022-02-04 00:48] sempervictus opened #158 "Built-in on GCC 11.1 leaving orphan sections"
When building in the kernel tree, not as a module, on GCC 11.1.0, this warning is thrown at the end of the compilation process:
[code]
The tree in which this is happening is @ 5.10.96 with the `linux-hardened` patches (not adding major GCC plugins or anything like that).

[2022-02-09 18:21] solardiz commented on #157
@vi No, there isn't a debugging feature like you request, and I doubt that it would have helped in this case.

[2022-02-16 22:30] sempervictus commented on #158
Hmm, something's not right here. On the subsequent 5.10.100, built as a module, and loaded at runtime, i get this fine mess:
[code]
and in dmesg:
[code]

[2022-02-16 22:38] Adam-pi3 commented on #158
I don't see anything wrong with this:
[code]
LKRG does created a new section called `.p_lkrg_read_only` which probably matches the attribute of the kernel's `.rodata` section and this warning is printed.

The problem with initialization is related to:
[code]
which is exactly the same as https://github.com/lkrg-org/lkrg/issues/135. Please read the fix for that issue in my comment:
https://github.co

[2022-02-16 22:43] sempervictus commented on #158
Hey @Adam-pi3 - thanks for jumping in. The `EXPORT_SYMBOL(__put_seccomp_filter);` suggestion is a neat trick, thanks, will try that.
I'm hoping it will fix both the module-based and in-binary execution woes. Fun of VMWae to remove all of the handy CPU features for defensive tooling though (i know the actual hardware under that thing has SMAP/SMEP).

[2022-02-17 10:18] solardiz commented on #158
@sempervictus What "in-binary execution woes" are you referring to?

[2022-02-17 12:37] solardiz opened #159 "Crash when computing IDT hash in old Xen PV guest"
We might not care as the issue does not affect currently supported Qubes, but this _might_ be our bug/shortcoming affecting other systems as well, so to have it documented for later:

Trying to load LKRG on (no longer supported) Qubes 3.x paravirtualized kernels in a Xen VM, based on Linux 4.9.x or 4.14.x, instantly crashes in `p_lkrg_fast_hash`. The backtraces vary - sometimes go from `init_modul

[2022-02-17 12:47] sempervictus commented on #158
@solardiz: The inability for p_lkrg to run without exporting a bunch of symbols (which i'm guessing per @Adam-pi3's comment are being eaten up by GCC for those of us using -O3). I'm trimming back the exported symbols now to figure out the minimum required set in this setup and will try to push 'em up as a diff for in-tree compilation (since the DKMS method has no way to expose these from the runni

[2022-02-17 12:58] solardiz opened #160 "warning: passing argument 2 of 'kobject_init_and_add' discards 'const'"
After fb9e272f7d563fcd4b785dd744152c37b88e6298 we're getting this build warning on many kernels ranging at least from 3.10.x to 5.10.x:

[code]

@Adam-pi3 I guess you added the `const` to suppress a similar warning on assignment on some newer kernels? Ideally, we'd avoid it on all.

While at it, why does the function have this comment:

[code]

The function _is_ used in default builds of LKRG. Per

[2022-02-17 13:26] sempervictus commented on #158
This whole thing does make me wonder if the inability of LKRG to resolve symbols at runtime transfers to other rootkits - does O3's optimization pass actually break runtime hooking by accident for things we _dont_ want running in ring0? :smile:

I'm not a compiler genius, know some of the basics, but definitely don't speak Florian's or Brad's GCCnglish. That said, it does make me wonder whether it

[2022-02-17 13:48] sempervictus commented on #158
@solardiz - sorry for the pollution. I exist in a bit of a chainsaw-juggling paradigm (multiple tasks at multiple consultancies and some c-type roles which often digress from tech) so i try to get whatever's in the braincase out to persistent storage before the next context switch points the neural net at a completely different problem domain. Will try to do better and open separate issues.

I'm h

[2022-02-17 15:45] sempervictus commented on #158
Confirm that #161 works in local testing (5.15 kvm/grsec), in our OpenStack (5.10 kvm/grsec Nova Compute nodes), in AWS on a t2.large, but still need to check that original vmware target which reported having pretty much no CPU features exposed. Since the failure to start was caused by the symbol lookup failure, i think we can close this and focus on redress in the PR.

[2022-02-17 16:07] sempervictus opened #162 "Feature Request/Discussion Thread - Build-Time Symbol Resolution"
LKRG uses runtime symbol resolution to hook functions needed for it to do its job. This design makes perfect sense for an out-of-tree module unable to make changes to the kernel sources or build context when the kernel itself is built (as that happens separately). In the built-in use case, we _do_ have the control points to resolve symbols from source and full `.o` objects at build-time, but the L

[2022-02-17 18:58] sempervictus commented on #158
Sorry, i closed the issue since the symbol exports actually allowed it to load, but the linker warning persists and i should've left it open.

[2022-02-19 18:29] solardiz opened #165 "Consider sanitizing task names before logging"
LKRG can currently `printk` the contents of a task's `comm` field, which is the (possibly truncated) program name. If that string contains an embedded linefeed character, we get multiple lines logged, and the string can possibly spoof an unrelated kernel message or/and prevent the LKRG message from being detected by tools.

We could, for example, use escaping similar to what `fs/proc/array.c: proc

[2022-02-19 18:41] solardiz commented on #165
Brainstorming this issue, I thought that LKRG could possibly hook and harden `printk` to escape embedded linefeeds (and then also backslashes?) in any `%s` arguments. However, it uses a shared implementation of `*sprintf`, and patching that to always escape (which we could do e.g. by hooking `string_nocheck`) would likely break stuff. We really only need this for the logging.

If we limit the prot

[2022-02-19 21:05] solardiz commented on #165
Another crazy idea: maybe we can ensure that the microseconds would always be logged as the same value for lines wrapped because of embedded linefeed, and never the same for distinct messages? We could do this by sometimes advancing the logged timestamp a little bit beyond reality or/and sometimes forcing a wait until the next microsecond before logging a message - neither of these is ideal, but m

[2022-02-19 21:57] sempervictus opened #166 "False positive detection likely caused by aggressive inlining in custom kernel build"
![image](https://user-images.githubusercontent.com/1331084/154820449-29eba796-9aeb-4b14-a76f-b4abca5c947d.png)
^^ that's on the 5.10.101 build which has all of the exports marked as suggested (no errors at load-time anyway).

[2022-02-19 22:05] solardiz commented on #166
Nasty. This illustrates another rather fundamental issue we're facing lately: even when we do find and hook the symbol, there might be an inlined copy (or several) of the same code as well, and we wouldn't hook that, resulting in inconsistent LKRG state (it was supposed to be updated by all uses of the function, but is in fact getting updated by only some or possibly even not updated at all if the

[2022-02-19 22:11] solardiz commented on #166
In the case of your kernel build, it looks like we have this problem for at least two symbols, and I guess at least one of those wasn't among the forced `EXPORT_SYMBOL` ones (not in `add-exports.sh`).

[2022-02-19 22:37] sempervictus commented on #166
Any idea what the missing symbol might be so i could add it to the script? Doesnt sound like it'll help the problem you describe, but at least might as well squash one bug while we're here.

[2022-02-20 12:35] solardiz commented on #166
No, I don't think we should be adding one more symbol to the exports because of this, nor would it be expected to help.

My current best idea for a workaround is to be adding `noinline` (Linux kernel specific macro) or `__attribute__((__noinline__))` to right before every function that we hook and that may potentially be inlined, which you can do with `sed`. You can test this approach by doing it

[2022-02-22 00:59] Adam-pi3 commented on #39
@gnd I wonder if we should close this issue, any updates?
@solardiz what do you think?

[2022-02-22 01:00] Adam-pi3 commented on #82
@adrelanos @solardiz should we close this issue?

[2022-02-22 01:02] Adam-pi3 commented on #109
@solardiz @adrelanos @morfikov should we close this issue?

[2022-02-22 01:03] Adam-pi3 commented on #113
@solardiz @adrelanos I'm not sure there is anything which we as LKRG can do, can we?

[2022-02-22 01:07] Adam-pi3 commented on #131
@solardiz should we move forward with removing SLAB_HWCACHE_ALIGN and change the stack depth size buffer?
@udovdh any updates?

[2022-02-22 01:10] Adam-pi3 commented on #132
Looks like the issue is still there and we are not the only one affected by it:
https://bugs.launchpad.net/ubuntu/+bug/1956164/comments/4

@vt-alt yes, we should add 22.04 additionally to groovy. @solardiz what do you think?

[2022-02-22 01:13] Adam-pi3 commented on #148
I like the idea of `autoconf` although I have 0 (zero) experience with it. However, we would still need to have `#if...` approach with `autoconf` as well so I'm not sure how much it buys us.

Btw. do we need to change anything to support SUSE? Any logs / references?

[2022-02-22 01:18] Adam-pi3 commented on #149
@solardiz Can you reproduce it? Can we have more verbose logs? Looks like LKRG is not being unload but completely different module

[2022-02-22 01:21] Adam-pi3 commented on #157
@vi @solardiz I think it's not a bug per se, but when LKRG does perform validation, it disables IRQ and forces each core to perform metadata validation + main core to validate entire system integrity. I assume that this is relatively heavy operation for your machine and temporary and quick IRQ disable/enable operation might generate the problems which you can see.

[2022-02-22 01:24] Adam-pi3 commented on #158
@solardiz I'm not sure there is anything what we can do with it. At least if we don't provide custom linker script:
https://stackoverflow.com/questions/49095127/gnu-linker-orphan-sections-and-symbol-assignment

[2022-02-22 01:25] vt-alt commented on #148
It will buy us - no need to track what kernels versions where supported some feature — it's complicated because there is multiple branches (stable branches, vendor branches) (and `#if` becomes complicated and finding precise version numbers is hard — instead we will have simple `#if HAVE_FEATURE_X`.

I suggest to use `grep` to detect features inside main `Makefile` (or special `Makefile`) — grep f

[2022-02-22 01:26] Adam-pi3 commented on #159
@solardiz Can you generate a kdump file and compile `LKRG` with debug build?

[2022-02-22 01:28] Adam-pi3 commented on #160
@solardiz correct, I've added it to avoid warnings on a newer kernel compilation.
Yes, this feature (unhiding) originally was not designed to be on `production` and LKRG should be hidden (by default) after successful initialization. However, we decided to go otherwise.

[2022-02-22 01:32] Adam-pi3 commented on #165
Hooking `printk` is heavy but an interesting idea. Maybe we should first test sanitization of `comm` inside LKRG and later maybe extend to global protection.

Btw. I'm aware of this problem in the linux kernel in general but somehow I've never considered that really as a problematic issue.

[2022-02-22 01:33] vt-alt commented on #132
22.04 is [jammy](https://github.com/lkrg-org/lkrg/commit/e54ed31839e50363470a53124b667b31ed596248).
https://wiki.ubuntu.com/Releases

[2022-02-22 01:38] Adam-pi3 commented on #166
@solardiz Adding `__attribute__((__noinline__))` should help. In theory, `EXPORT_SYMBOL` can't be inline so this should work too. However, I remember that it was not always the case and compiler could generate unpredictable results:

https://lore.kernel.org/lkml/1368086323-9412-2-git-send-email-yefremov.denis@gmail.com/

[2022-02-22 01:53] vt-alt commented on #148
Example how people use Makefile for tests, not exactly our case with a grep, but: https://github.com/ebiggers/libdeflate/blob/master/Makefile

[code]

Very complicated example is perf, they have separate Makefile.config with detections: https://github.com/torvalds/linux/blob/master/tools/perf/Makefile.config

[2022-02-22 05:23] Adam-pi3 commented on #132
@vt-alt yep, that's what I meant. We should NOT remove `groovy` and at the same time we should add 22.04 (`jammy`). Sorry for confusion

[2022-02-22 05:27] vt-alt commented on #132
Upstream repo for groovy does not work and is deleted from all mirrors. How could we not remove it? And how we can add jammy if it's already added?

[2022-02-22 05:47] Adam-pi3 commented on #160
It should be fixed by https://github.com/lkrg-org/lkrg/commit/5fededdf466d1c483e7f19659efcf0b86207dc01. @solardiz can you verify?

[2022-02-22 06:02] Adam-pi3 commented on #132
@vt-alt I'm aware it is not working for now (see my previous comments), but the bug which you opened is not closed and because we are not the only one who encounter this problem I hope it will be fixed. When this happens, we should reenable `groovy`.

Thanks for adding `jammy` - I was not aware it is already added.

[2022-02-22 06:30] udovdh commented on #131
No updates other than that I discontinued lkrg because of the findings.

[2022-02-22 06:52] vi commented on #157
Can I somehow test this temporarily IRQ disabling outside of LKRG? Is there some user-exposed knob in sysfs to also trigger that?

[2022-02-22 08:34] adrelanos commented on #82
Well, since I opened this issue I am biased to wish this to be implemented. :)

How come? https://github.com/adrelanos/security-misc/commit/7e128636b3a4ea7fe5dfa12018685ab7b5dda706 is a hack. It works for Kicksecure / Whonix users which has security-misc installed by default but not for LKRG by itself which would still be incompatible with the VirtualBox host software.

As per https://github.com/l

[2022-02-22 09:02] adrelanos commented on #113
I guess this would have to be done in DKMS or by the distribution to apply for all kernel modules.

[2022-02-22 09:02] #113 closed

[2022-02-22 09:47] morfikov commented on #109
Probably.

[2022-02-22 13:00] solardiz commented on #160
@Adam-pi3 Thanks. The warning is gone for me (so far test-built on one system that previously had it). So I'll close this issue now.

However, the commit message also says "fixes compilation for kernels < 5.10" and makes a change to `p_arch_jump_label_transform_apply_entry`. I am puzzled by this because I didn't see any issue compiling LKRG for kernels below 5.10 a few days ago - I guess maybe a s

[2022-02-22 13:00] #160 closed

[2022-02-22 13:11] solardiz commented on #166
My understanding is that exporting a symbol takes and records its address, causing a non-inlined copy of the function to be preserved, but it does not prevent the compiler from also generating inlined copies of the function's body or its parts. Explicit `noinline` should achieve the latter.

[2022-02-22 15:56] Adam-pi3 commented on #160
@solardiz `RET_INSN_OPCODE` was introduced with kernel 5.10 (not below). I'm surprised you didn't see any warnings. Do you use some distro kernels?

[2022-02-22 16:00] Adam-pi3 commented on #132
@vt-alt I would be thankful if you shed some more light on what `mkosi` verifies. I can see in that file `https://github.com/lkrg-org/lkrg/blob/main/.github/workflows/mkosi-boot.yml`:
[code]
But I don't see `Bionic` which is visible here `https://github.com/lkrg-org/lkrg/blob/main/.travis.yml`. Should we add `Bionic` to `mkosi` as well?

[2022-02-22 16:28] solardiz commented on #160
@Adam-pi3 I think the reason is the affected code is within `#ifdef P_LKRG_CI_ARCH_JUMP_LABEL_TRANSFORM_APPLY_H`, which we define on 5.3+. So this gives us that "narrow range of kernel versions" in my guess. I didn't try kernels in the 5.3 to 5.9 range. Apparently, we don't have them in our GitHub Actions tests either.

[2022-02-22 17:00] Adam-pi3 commented on #158
@solardiz We do have own section which we keep as a read-only where we keep all of the configuration knobs and dynamically resolves symbols / pointers. We are aligning it to the PAGE_SIZE and we place a marker page before and after our critical data. We especially created it for security. From my perspective option #1, #2 and #3 sounds good.

[2022-02-22 17:21] solardiz commented on #157
@Adam-pi3 I think a bigger issue could be that LKRG enters `p_text_section_lock()` state for a fairly long time. Can this cause any timing-critical code to be waiting on a lock? For example, something in the kernel triggering a JUMP_LABEL update? Or maybe something in LKRG itself that acquired some other lock first, thus causing other kernel functionality to wait on that other lock?

If that's the

[2022-02-22 17:34] vi commented on #157
Is a Linux kernel module that just periodically disable and re-enable IRQs an easy thing to implement?

[2022-02-22 18:18] solardiz commented on #149
It'll probably will take some stress-testing to reproduce this one - so far we've only seen it once on CI. Maybe let's use debugging builds once we have a stress-testing setup separate from CI.

[2022-02-22 18:23] solardiz commented on #148
@Adam-pi3 I think @vt-alt's idea is to use something custom. GNU `autoconf` typically has its tests written as "try and see if it works" - but as we won't test-run pieces of kernel-space code during a build from user-space, we would instead use something e.g. based on `grep`.

We don't currently have any open issue for LKRG on SUSE. @vt-alt took care of the known one in #153.

[2022-02-22 18:29] solardiz commented on #132
BTW, we're seeing many CI failures with QEMU reporting "hardware error". I sometimes have to re-run jobs a few times until we get all-green again. Maybe this means we're already close to or beyond the maximum resource usage we can have on GitHub.

[2022-02-22 18:33] Adam-pi3 commented on #148
@solardiz I see.
@vt-alt @solardiz I'm not really sure how it is more beneficial what we currently have because many of our 'global' checks are similar, e.g., `#if defined(CONFIG_SECCOMP)` is not much worse than `#if defined(HAVE_FEATURE_X)`.

We have a lot of checks based on the kernel version but then we would replace `#if LINUX_VERSION_CODE` with `#if defined(HAVE_FEATURE_Y)` but we would still

[2022-02-22 18:40] solardiz commented on #131
@Adam-pi3 I think we should definitely "change the stack depth size buffer", at least untying it from `PAGE_SIZE`, because writing it in those terms just adds confusion. We could also reconsider having it vary by `P_LKRG_TASK_OFF_DEBUG` - on one hand, we could want to more likely trigger and detect insufficient buffer size in a debugging build, but on the other it makes debugging less representati

[2022-02-22 18:43] solardiz commented on #109
I think let's close for now. We can revisit later. We're considering additions to LKRG that could affect the decision-making here, so deciding on this issue now is premature.

[2022-02-22 18:48] solardiz commented on #82
I think no, ideally we'd implement automatic detection of VirtualBox and adjust LKRG's default `lkrg.pcfi_validate` accordingly.

[2022-02-22 18:50] solardiz commented on #39
@Adam-pi3 Let's wait to hear from @gnd, but yes - without this issue having recently been reproduced by anyone, it doesn't look actionable for us.

[2022-02-22 18:59] solardiz commented on #148
@Adam-pi3 Consider for example this check:

[code]

Of course, it would be simpler as one condition than many, and more importantly the auto-configuration will also work for any future back-ports of the change to stable/longterm and distro kernels.

Besides, the RHEL and SUSE checks we already have in there are imprecise - they only check the distro's minor version number, but the actual change ha

[2022-02-22 19:13] vt-alt commented on #148
'autoconf' does not suppose to avoid `#if`s since code should be different. It will simplify `#if` _condition_ writing.

[2022-02-22 19:19] vt-alt commented on #132
What do you mean? `mkosi` builds bootable disk image. and then also boot it in qemu. With this we verify that lkrg does not hang the system straight away on the boot.

Docker builds just `make` lkrg for their corresponding distribution kernels, but don't boot them. So it only verifies ability to build.

[2022-02-22 19:24] vt-alt commented on #132
https://github.com/lkrg-org/lkrg/runs/5259672421?check_suite_focus=true
Seems to be even before Linux boot "KVM: entry failed, hardware error 0xffffffff".

[2022-02-22 19:31] vt-alt commented on #132
As I remember there is not KVM on github actions, so it should not even try enter KVM. Possible there is some misconfigured GA workers, need investigate further.

[2022-02-22 19:36] Adam-pi3 commented on #132
@vt-alt Thanks. Can we add Bionic to `mkosi` as well?

[2022-02-22 19:43] vt-alt commented on #132
As I remember there was [some problems with  bionic](https://github.com/lkrg-org/lkrg/pull/61) but maybe they are gone already. I will look again.

[2022-02-22 19:46] vt-alt commented on #132
Maybe we should report to [upstream ](https://github.com/actions/virtual-environments).

@solardiz Is there any stat on this?

[2022-02-22 20:09] vt-alt commented on #132
Looking more attentively I see on failed build qemu parameters:
* qemu-system-x86_64 -machine type=q35,**accel=kvm**,smm=off -smp 2 -m 1G ... -cpu host ...

And on successful:
* qemu-system-x86_64 -machine type=q35,**accel=tcg**,smm=off -smp 2 -m 1G ...

So mkosi decides it should be kvm, but there are obviously no kvm on GA.
[code]
I don't see options to control this, perhaps we shall do `rm -f "

[2022-02-22 20:27] vt-alt commented on #132
BTW, `hirsute` is EOL'ed @ January 20, 2022, so I'd expect its fate similar to `groovy` anytime soon.

[2022-02-22 20:46] Adam-pi3 commented on #132
@vt-alt `/dev/kvm` exists if there is an installed a KVM driver which supports hardware virtualization. I'm not sure if removing it (you would need `rmmod kvm`  instead of `rm -f`) won't break the test. QEMU should still be able to run in emulation mode.

[2022-02-22 20:55] vt-alt commented on #132
Device could be created manually with `mknod` w/o even presence of the driver, in that case opening it will return `ENODEV`.
QEMU may run in emulated mode w/o kvm if it's allowed with command line option like `-M accel=kvm:tcg` in that case it will fallback to tcg if there is no kvm. But mkosi does not pass `tcg` there so it just fails.
I am quite familiar with all this because I'm doing virtme-li

[2022-02-22 21:33] solardiz commented on #132
Not really, but I think this started occurring within the recent 2 weeks, and the other day I had to restart a job 3 or 4 times until all builds succeeded. Also, IIRC on one occasion I saw QEMU report a "hardware error" not right away, but at some point after some messages from the guest Linux kernel - but most of the time it's right away, as you noticed.

[2022-02-22 21:36] vt-alt commented on #132
Maybe they experimenting with KVM but it's definitely not working now. I will submit PR with a fix.

[2022-02-22 22:01] solardiz commented on #159
Basically, IDT is unreadable:

[code]

This is with computation of IDT hash excluded (otherwise it'd crash right there) and `loglevel=6` (so that we'd get that printout of IDT base, etc., and a crash in the following debugging code). Without `loglevel=6`, it'd stay up for a little while, but would see changing CPU metadata hash (apparently because the IDT base address is part of what's hashed and

[2022-02-22 22:04] vt-alt commented on #148
BTW, why do you think so? I think they can back-port any change that may require code LKRG change _at any time_. Only their kABI is supposed to be stable.

[2022-02-22 22:12] solardiz commented on #159
Apparently, the returned IDT base is in hypervisor address range, not guest kernel, so is understandably unreadable from the kernel.

https://googleprojectzero.blogspot.com/2017/04/pandavirtualization-exploiting-xen.html

[2022-02-22 22:41] solardiz commented on #148
@vt-alt Sure, Red Hat and others can make invasive in-kernel changes at any time, but from my impression they "typically" hold and then mass-release sets of changes requiring extensive QA, with only smaller or urgent (bug and security fix) changes showing up all the time (not waiting until a next minor release of the distro).

[2022-02-22 23:00] vt-alt commented on #148
Strong change (that may require LKRG changes) is perhaps where we see function rename or replacement, or some `struct` parameter change. I just looked changes between kernel-5.14.0-65.el9 and kernel-5.14.0-66.el9 in https://gitlab.com/redhat/centos-stream/src/kernel/centos-stream-9 And what I see, for example:
* in 7daa655 they replace `rpcrdma_post_sends` (deleting it completely) with `frwr_send`

[2022-02-23 01:50] Adam-pi3 commented on #159
I'm not an expert on PV, but in full virtualization, `sidt` is intercepted and can be modified by hypervisor. Hyper-V can 'fake' the result for `sidt` for UM (for security reasons to 'hide' info leak) but kernel must always be able to correctly set own IDT page and be able to migrate it. Even in Xen PV (based on the link which you pasted) kernel must be able to poke IDT so if this VA is shared wit

[2022-02-23 11:09] solardiz commented on #159
Intercepting `sidt` requires UMIP support (in CPU and Xen), which is possibly how/why LKRG just works on the newer system (Xen is documented to have added UMIP support between versions on these systems).

Apparently, in PV kernel IDT updates go via a hypercall. IDT descriptor reads currently don't (no longer do?), but they don't appear to be followed by reads of the actual IDT (so LKRG differs fro

[2022-02-23 12:39] solardiz commented on #159
Confirmed - on the affected system, each logical CPU's view of IDT base alternates between all CPUs' addresses. This actually makes sense because the CPUs aren't bound to physical ones, and `sidt` isn't virtualized here.

[2022-02-23 12:42] solardiz commented on #159
Proposed fix (tested, works):

[code]

[2022-02-23 15:33] solardiz opened #168 "Crash in rcu_sched on 5.15.0-18-generic #18-Ubuntu"
As seen in https://github.com/vt-alt/lkrg/runs/5294495248?check_suite_focus=true and is not necessarily LKRG related.

[code]

[2022-02-23 16:38] solardiz commented on #159
BTW, I still don't know whether this issue only affects old Xen or also recent Xen on old CPUs (without UMIP). This distinction would only matter for us to more specifically document the issue/fix. Maybe @adrelanos has comments to enable that?

[2022-02-23 16:54] solardiz commented on #159
Also, I think Xen still supports 32-bit PV guests, but my fix above is only for 64-bit. We'd need to test for a different address range on 32-bit, or maybe disable IDT checking unconditionally when `CONFIG_XEN_PVH` yet the kernel is 32-bit.

[2022-02-23 21:04] vt-alt commented on #132
Wow this makes things really hard to understand, I found relevant logs (just for the record):

https://github.com/lkrg-org/lkrg/runs/5251323060?check_suite_focus=true
https://github.com/lkrg-org/lkrg/runs/5251322870?check_suite_focus=true

[2022-02-23 21:24] vt-alt commented on #132
Reported in issue 5128.

[2022-02-24 00:18] Adam-pi3 commented on #168
Yes, It looks like another variation of #87 and #156. The crash happens in a similar context

[2022-02-24 01:18] #159 closed

[2022-02-27 17:42] vt-alt commented on #132
JFYI: I tried to reproduce, but it does not. https://github.com/vt-alt/kvm_on_ga_tests/actions/workflows/test.yml

[2022-03-26 11:10] solardiz opened #170 "Build error on post-5.17 kernels"
mkosi-mainline started failing with:

[code]

Linux 5.17 had been out for a few more days, and mkosi-mainline builds were not failing yet, so I assume this is actually a post-5.17 change, even though the kernel version number hasn't been updated further yet.

When fixing this, we should be careful not to claim we're fixing a 5.17+ issue, as that would be misleading. I mention this because we, unfo

[2022-03-27 15:54] solardiz commented on #170
Upstream change: https://github.com/torvalds/linux/commit/967747bbc084b93b54e66f9047d342232314cd25

Proposed fix:

[code]

[2022-03-27 17:24] #170 closed

[2022-03-30 07:55] debrouxl opened #172 "Crash when killing a process following exploit detection"
On two different computers running Debian sid amd64 5.16.0-4/-5, I've experienced three full system DoS of the hang variety, over the several few days after I added LKRG 0.9.2 by using the procedure from https://www.kicksecure.com/wiki/Linux_Kernel_Runtime_Guard_LKRG .

Here's the excerpt of the kernel log from the Skylake computer. The two others on the Sandy Bridge computer were similar attempts

[2022-03-30 12:08] solardiz commented on #172
Thank you for reporting this, @debrouxl. It's weird stuff that we need to figure out, and there's probably more than one issue here.

Is the `preload` that gets killed this one? - "preload is an adaptive readahead daemon. It monitors applications that users run, and by analyzing this data, predicts what applications users might run, and fetches those binaries and their dependencies into memory for

[2022-03-30 12:17] solardiz commented on #172
Just verified that there are no unexpected differences in LKRG code between our 0.9.2 release and what's in Whonix's LKRG fork's "master" branch - which I guess is the basis for the package @debrouxl installed.

[2022-03-30 12:26] vt-alt opened #173 "p_lkrg: section 4 reloc 77 sym '_raw_read_lock': relocation 28 out of range (0xbf003914 -> 0xc1009800)"
There is boot test failure on ARM-32 architecture in 5.10.109, LKRG 0.9.2.0.1.git10ba314-alt1.
[code]
@wladmis

[2022-03-30 12:30] vt-alt commented on #173
This is perhaps kernel options dependent, because the same kernel with other build options boots good. Failure is on the kernel with some DEBUG options enabled (-debug kernel).

[2022-03-30 12:31] vt-alt commented on #173
Additional DEBUG options we have for that kernel:
[code]

[2022-03-30 20:33] solardiz commented on #172
In discussion with Adam, we determined that no, this is probably not a race condition. I overlooked that the two log messages use different task structs - `p_source->p_ed_task` (LKRG's own) vs. `p_source->p_ed_task.p_task` (saved pointer to the kernel's). It looks like the latter is simply not initialized in that code path.

[2022-04-01 06:50] debrouxl commented on #172
I downloaded the lkrg-dkms 0.9.2 source package from the Kicksecure repository, uncommented the #define P_LKRG_TASK_OFF_DEBUG line, rebuilt the package and deployed it to both computers. I planned on rebooting today for deploying the modified LKRG, alongside a new version of the kernel, but the Sandy Bridge computer crashed before I got a chance to do that :)
I had left a `tail -F /var/log/kern.lo

[2022-04-02 08:57] debrouxl commented on #172
Well, the task off debug code of 0.9.2 seems to be leaking memory :)
On the usual Sandy Bridge computer, the first allocation failure occured at less than 20 minutes uptime. That was yesterday evening, but I didn't watch and therefore notice:
[code]

Looks like I failed to disable preload on that computer.
This morning, the errors continue, unsurprisingly.
[code]

I added a bit of swap to try and

[2022-04-03 19:03] Adam-pi3 commented on #172
When you try to debug / report any issues in LKRG, please always use the latest LKRG from the github repo:
https://github.com/lkrg-org/lkrg
Can you try it?

I tried to reproduce your issue and I've installed the latest Debian sid on my VM, deployed the latest LKRG (from the github), installed `preload` and so far I haven't seen any issues. Do I need to have any special configuration to be able to

[2022-04-11 15:43] solardiz opened #174 ""mkosi boot (mainline)" crashing on "mkdir" since April 3"
Since April 3, `mkosi boot (mainline)` is failing as follows (copied to here from today's reproduction in my fork of the repo, as somehow GitHub now says the logs were not retained for the scheduled jobs):

[code]

Somehow it's always on `mkdir` (at least in the logs I bothered to check, while logs for scheduled jobs were still available).

[2022-04-11 17:46] solardiz opened #175 "-DP_LKRG_DEBUG_BUILD breaks ARM builds"
Uncommenting these lines in `Makefile`:

[code]

results in:

[code]

and

[code]

[2022-04-11 18:59] solardiz opened #176 "P_LKRG_STRONG_KPROBE_DEBUG incompatible with P_LKRG_DEBUG_BUILD"
Uncommenting these lines in Makefile:

[code]

is incompatible with also enabling:

[code]

Resulting in:

[code]

(shown here on outdated CentOS 7, but also seen on literally all of the distros/kernels we test in GitHub Actions)

[2022-04-11 21:17] solardiz commented on #174
With `log_level = 6` and the below four debugging settings enabled:

[code]

[code]

[2022-04-12 04:46] Adam-pi3 commented on #174
@solardiz can you do a quick check in `mkosi`?

[2022-04-12 18:34] solardiz commented on #174
@Adam-pi3 Your analysis looks sound to me, and I've tried what you suggested - and the result is unexpected. Instead of crashing elsewhere, everything just worked! Now we need to explain that.

Experiment commit: https://github.com/solardiz/lkrg/commit/310a83623f1a0166c393a350b28eca453771a9e7

[code]

Successful `mkosi-mainline` run with the above: https://github.com/solardiz/lkrg/runs/5995407429?

[2022-04-12 18:39] solardiz commented on #174
OK, looks like this is in fact the only place in our tree where we had `handler = NULL`. I thought we had that in many places.

We also have one instance of `entry_handler = NULL`, in `p_security_bprm_committed_creds.c` - we might want to check whether that's still OK with the new kernel code (per testing, apparently it is).

[2022-04-12 18:42] solardiz commented on #174
I think I'll prepare a pull request fixing this issue shortly.

[2022-04-12 21:00] Adam-pi3 commented on #174
@solardiz I'm compiling the latest kernel in my VM to prepare the Linux kernel fix and submit all the information to the maintainers. I don't think we should change our code - maybe temporarily.

[2022-04-12 21:03] solardiz commented on #174
@Adam-pi3 I think it's OK for us to have a workaround for this kernel likely-bug, since the workaround is so trivial.

Oh, and they do check `entry_handler` for non-NULL before calling the other handler over that pointer. So the bug is only with `handler`.

[2022-04-12 21:09] Adam-pi3 commented on #174
I just confirmed on my VM that that's the issue and simple patch works well. I will try to shape an email to the kernel developers (I will send you a draft via email).

Sure, let's keep the workaround for now - we can always remove it in the future.

Yes, the bug is only in the return handler....

[2022-04-12 21:23] #174 closed

[2022-04-13 00:49] Adam-pi3 commented on #176
@oshogbo Can you take a look?

[2022-04-13 07:39] oshogbo commented on #176
Sure, let me look into this.

[2022-04-13 12:07] solardiz commented on #174
@Adam-pi3 Regarding this being a bug in the kernel - for that, the old behavior would need to be documented - is it? The new behavior actually makes sense to me - if a kretprobe is used, then it's illogical not to have a return handler. Otherwise a regular kprobe should have been used. IIRC, we even discussed that regarding this specific probe, and ended up using a kretprobe there for consistency

[2022-04-13 15:20] Adam-pi3 commented on #174
The way how my understanding of Linux kernel documentation is that KRETPROBES is a wrapper around KPROBE, which is a core for all KPROBE related hooking mechanisms (in the past also JPROBES etc). If you look how KPROBES is officially documented, it says that:
[code]

[2022-04-16 16:23] solardiz commented on #176
This issue isn't fully fixed yet - still getting part of the above errors - those for functions other than `security_bprm_committ*` now.

#178 says:

[code]

However, this test fails for me (on the same outdated CentOS 7 that I used for the original issue description here). That's no surprise because the PR addressed only `security_bprm_committ*` whereas the build errors reported in this issue are

[2022-04-17 13:25] Adam-pi3 commented on #176
@oshogbo ?

[2022-04-26 21:18] Adam-pi3 commented on #174
Patch was merged today to BPF tree:
https://git.kernel.org/pub/scm/linux/kernel/git/bpf/bpf.git/commit/?id=1d661ed54d8613c97bcff2c7d6181c61e482a1da

[2022-04-29 16:43] oshogbo commented on #176
Sorry. I somehow missed the notice.
Yes, I will look into this.

[2022-05-06 18:27] solardiz opened #183 "Make LKRG's calls to kernel functions AArch64 BTI compatible"
See https://github.com/lkrg-org/lkrg/pull/181#issuecomment-1117476393

Perhaps we could check the pointed-to instruction at runtime and, if it's a `bti`, then `bl` or `b` to it accordingly.

[2022-05-07 19:28] solardiz opened #184 "pCFI broken on 32-bit x86"
As seen in #181:

[code]

[2022-05-07 21:05] solardiz commented on #183
One way to workaround this issue could be to have a second set of function pointers in our RO page, and have assembly stubs with `b` instructions going via those pointers. Then if the target function needs that, we'd be copying the looked up symbol address to that second pointer, and replacing our main pointer with address of the stub. The stubs could be hard-coded or generated at runtime (in the

[2022-05-08 19:50] solardiz opened #185 "warning: array subscript 2048 is outside array bounds of 'p_ro_page[1]'"
As seen on recent systems - e.g., the below is copied from "mkosi boot (mainline)" - but not on older ones:

[code]

[2022-05-09 00:10] Adam-pi3 commented on #185
We are intentionally crossing the boundary here for the debugging purposes. I'm OK fixing it and remove the last debug dump. Although, there are a few other cases where we do intentionally cross such boundaries. It looks like the newer kernel / compiler options are very strict. I wonder if we can add some kind of #pragma around a few codes where we know it is desired (e.g., reading entire RO secti

[2022-05-09 19:14] solardiz commented on #185
I think we should remove the last one.

Where do we? If detectable by the compiler, it's free to assume undefined behavior and as an optimization do something other than what we expect, even if we were to suppress the warnings.

However, so far the above is the only such warning.

[2022-05-10 10:21] berkley4 opened #186 "copy-builtin.sh produces faulty security/lkrg/Makefile"
I'm trying to build the latest 5.10 linux-hardened with the latest git pull of lkrg, using the copy-builtin.sh script. This has worked flawlessly in the past, but since 0cf357d9c08588ed0dd180a52bb953378f9ea948 an incorrect security/lkrg/Makefile is produced.

`KBUILD_VERBOSE=1 make distclean`

errors out with.....

[code]

The top of security/lkrg/Makefile is where the trouble appears to lie.....

[2022-05-10 12:07] solardiz commented on #186
Thanks, @berkley4!

@oshogbo @sempervictus You want to help fix this?

We could also want to introduce some way to prevent/detect similar breakage going forward.

[2022-05-10 12:14] #185 closed

[2022-05-10 12:22] solardiz opened #187 "CI: mkosi boot jobs often failing with "TypeError: __init__() got an unexpected keyword argument 'user'""
These are intermittent errors that have become more frequent lately. I only recall seeing them for mkosi-mainline before, but today they also occurred for the older-Ubuntu tests.

[code]

[2022-05-10 12:35] solardiz commented on #187
This isn't even intermittent anymore - they just keep failing upon "Re-run failed jobs".

[2022-05-11 04:42] berkley4 commented on #186
If debug builds just need the addition of `p_lkrg-objs += modules/print_log/p_lkrg_debug_log.o` to the new Makefile, then the following patch should work.

Note that p_resolve_ksym.o acts as a marker and needs to remain listed first in the assignation (in $BASEDIR/../Makefile) in order for sed to match the whole block (otherwise you would miss the `p_lkrg-objs +=` bit).

[code]

[2022-05-11 12:58] sempervictus commented on #186
I've been utterly slammed the last few months and haven't even done a proper setup for the built-in test harness :disappointed:. All for having the script updated to address the debug change. Will try to get a few tests in this week, but not likely to happen till Friday at this rate.

[2022-05-12 14:14] solardiz commented on #187
@vt-alt These just keep failing. Can you please take a look and hopefully fix this at your convenience? Thank you!

[2022-05-12 16:58] solardiz commented on #187
I think let's wait a bit for upstream to possibly fix the bug - maybe there's nothing we'll need to do then, and we'll also happen to help them get the fix tested.

Incidentally, I don't understand why this bug initially only manifested itself in our mainline kernel tests. Don't we use the same mkosi version (latest git) in all of our uses of mkosi?

[2022-05-12 17:09] vt-alt commented on #187
Breakign commit is merged 4 days ago and I see failed (mkosi) builds appearing since 4 days ago. So I don't see succesful builds which should not be there.

[2022-05-14 16:07] solardiz commented on #187
Upstream fixed the issue, I just re-ran the failed jobs - and all are green. Closing. Thank you, @vt-alt!

[2022-05-14 16:07] #187 closed

[2022-05-19 02:29] Alessandro-Barbieri commented on #40
If you have the ability to fix it, could you?
Now PREEMPT_RT is a mainline option and the most common off-the-shelf use for it is in audio recording/production.
Also the user is the one responsible on how the software is used, not the developers.

[2022-05-19 12:05] solardiz commented on #40
@Alessandro-Barbieri This stuff is tricky in many ways, both technical and beyond. It isn't like we're stubborn to implement a trivial change (it is not trivial) that would help people (not obvious, it's a tricky trade-off).

Regarding your specific use case, do you really want LKRG on an audio recording/production system? Knowing that it would actually hurt the realtime-ness of the system, someti

[2022-05-22 17:39] solardiz opened #188 "Validate task capabilities and securebits"
In `p_dump_creds()`, we save a copy of many things, including

[code]

and

[code]

However, we currently don't validate these.

If/when we're confident we're hooking all places where these are legitimately modified (and we update our copy as above), we should implement the validation. We can also do it the other way around - first implement the validation in an experimental branch and see what br

[2022-05-25 11:14] solardiz opened #189 "rcu_preempt detected expedited stalls"
Today's scheduled `mkosi-mainline` run "failed" because the boot log contained these two:

[code]

[code]

Everything else worked OK - the system shut down cleanly. However, I suppose "stalls" are not good to have, and for our CI having any "Call Trace" in the boot log is currently considered a failure.

[2022-06-14 17:24] solardiz commented on #131
@udovdh We've just made changes that would likely avoid the original issue you reported here, in that kernel build you were using before.

[2022-06-16 10:20] lc85446 opened #191 "Is it ok to nest schedule() between spin_lock() and spin_unlock()?"
In the LKRG codes ,  we can see many patterns  like this :
`spin_lock(&p_db_lock);
 ......
 schedule();
......
spin_unlock(&p_db_lock);`

Is it right to nest schedule() between spin_lock() and spin_unlock()?

What's more,  this code pattern will cause  p_hide_itself(void)  oops  on ARM64  when CONFIG_PREEMPT_COUNT is enabled.

`[ 1128.684669] BUG: sleeping function called from invalid context at k

[2022-06-17 04:22] lc85446 commented on #191
By replacing DEFINE_SPINLOCK(p_db_lock) with DEFINE_MUTEX(p_db_lock),   and related changes,  the p_hide_itself(void) can work OK  both on x86 and on ARM64.

So what is your suggestion about p_db_lock?  Is it necessary to use spinlock?
Thank you!

[2022-06-19 00:01] Adam-pi3 commented on #191
@lc85446 Thanks for reporting this issue. I didn't put too much love on `hide` option as I should and that's the result - good catch :)
Unfortunately, LKRG is designed in such a way that that specific synchronizer *must* be a spinlock (unless we modify LKRG arch). I've looked at the related code and I believe that we do not need to take `p_db_lock` in that specific point of time because we already

[2022-06-19 23:11] Adam-pi3 commented on #191
@lc85446 let me know if https://github.com/lkrg-org/lkrg/commit/cdef7d533afb70aee145471839f78668d44a4318 fixes the problem.

[2022-06-20 03:02] lc85446 commented on #191
@Adam-pi3 ,  after applying  cdef7d5,  p_hide_self() still causes  another kernel oops,
`
[  598.213488] BUG: sleeping function called from invalid context at mm/slab.h:428
[  598.213489] in_atomic(): 1, irqs_disabled(): 0, pid: 5809, name: sysctl
[  598.213490] INFO: lockdep is turned off.
[  598.213493] ------------[ cut here ]------------
[  598.213494] kernel BUG at kernel/sched/core.c:6653!
[

[2022-06-20 05:09] Adam-pi3 commented on #191
@lc85446 together with @solardiz we are in the middle of discussion that we need to change the logic in `sysctl` interface which should also address this issue. Although, the proposed path (allowing preemption to be enabled) is not the way to go (opens for security risks). As a quick & temporary patch you can move call to `p_lkrg_open_rw` function to be made after invocation of `proc_dointvec_*`

[2022-06-20 08:09] lc85446 commented on #191
OK, I've just referred to the p_lkrg_open_rw() for X86,  so 2404d32 is also a temporary patch and will be fixed by the new `sysctl` logic ?

Sorry,  I don't understand which can only happens when OOM?  Do you mean  p_cpu_online_action()/p_cpu_dead_action() and p_module_event_notifier() ?   If yes , why ?

[2022-06-21 08:49] lc85446 commented on #191
But  2404d32 said "We don't need to disable preemption in this code path." ,  I think this is also a temporarily patch, right?

OK, I see, thanks.

[2022-06-21 08:52] lc85446 commented on #191
I've tried this change, but another oops still happened.

My patch is :
`
diff --git a/src/modules/comm_channel/p_comm_channel.c b/src/modules/comm_channel/p_comm_channel.c
index 2dba9ea..b00b024 100644
--- a/src/modules/comm_channel/p_comm_channel.c
+++ b/src/modules/comm_channel/p_comm_channel.c
@@ -571,8 +571,8 @@ static int p_sysctl_hide(struct ctl_table *p_table, int p_write,
    unsigned int

[2022-06-21 14:08] 0xC0ncord opened #192 "_STEXT memory block hash is different sometime between kernel 5.15.38 and 5.15.42"
It looks like sometime after kernel 5.15.38 I am seeing LKRG alert on mismatched _STEXT memory block hashes. The latest kernel that I have access to where this does not occur is 5.15.38, and the earliest kernel where I started seeing this behavior is 5.15.41.

On this particular system, I see these logs:
[code]

The audit log seems to suggest this may be BPF related?
[code]
This particular kernel

[2022-06-25 17:50] solardiz commented on #192
So mainline's 26c44b776dba4ac692a0bf5a3836feb8a63fea6b got backported to 5.15.40+ here:

https://cdn.kernel.org/pub/linux/kernel/v5.x/ChangeLog-5.15.40

[code]

This means that we need to add checks for those kernels to the changes @Adam-pi3 had implemented in fb9e272f7d563fcd4b785dd744152c37b88e6298.

We also need to check whether this commit possibly got backported to any other stable branches,

[2022-06-25 17:58] solardiz commented on #192
FWIW, looks like 5.15.40 was released on May 15.

[2022-06-26 17:49] 0xC0ncord commented on #192
Sure! I'll give this a whirl.

[2022-06-26 19:33] 0xC0ncord commented on #192
As of right now it looks like only the 5.15.x branch received the backport, but I rewrote the version check in the linked PR in a way that makes this really easy to extend.

[2022-06-27 07:41] solardiz opened #194 "mkosi-mainline runs out of space on /boot"
Now `mkosi-mainline` is failing with:

[code]

which prevents it from getting far enough to let us see if #189 is still present or not (I guess it is).

We probably need to either be removing the old kernel or enlarge `/boot`.

[2022-06-27 07:43] solardiz opened #195 "warning: call to '__warn_flushing_systemwide_wq' declared with attribute warning: Please avoid flushing system-wide workqueues"
New compile warning seen in `mkosi-mainline`:

[code]

[2022-06-27 07:47] #192 closed

[2022-07-01 06:03] vt-alt commented on #194
Btw, I did not see this issue until just now (that I looked at `Issues` tab) so that would be better if you mention me next time [and Github will send me notification].

[2022-07-02 08:01] #194 closed

[2022-07-02 08:29] solardiz commented on #189
Looks like this problem is gone - might have been a temporary bug in mainline. I'll close the issue now - we can re-open if needed.

[2022-07-02 08:29] #189 closed

[2022-07-02 08:31] solardiz commented on #194
Thank you for fixing this, @vt-alt!

[2022-07-05 21:26] mrl5 commented on #109
what was the motivation behind creating dedicated systemd service for lkrg instead of relying on https://www.freedesktop.org/software/systemd/man/modules-load.d.html?

my point here is that it turns out that with dedicated systemd/OpenRC service one must remember about few important things like load order as well as mentioned side effects of service being stopped - maybe it's over-engineering?

[2022-07-05 22:28] solardiz commented on #109
@mrl5 To your question (even though directed at Adam), I think the pros and cons were not specifically considered at the time. See also the comments at https://github.com/lkrg-org/lkrg/issues/108#issuecomment-968357020

[2022-07-05 23:12] Krish-sysadmin opened #198 "Forced into emergency mode due to "Failed to mount boot-efi.mount" error"
Fedora 36, stock kernel: 5.18.9-200.fc36.x86_64

UEFI secure boot is enabled, LUKS encrypted. Module correctly installed, tested, signed and it loads. Grub commandline:

[code]

With lkrg installed and enabled on Fedora 36 at boot one sees the emergency mode prompt and prior to this the error message "Failed to mount boot-efi.mount - /boot/efi". The logs show "[p_lkrg] Blocked usermodehelper execu

[2022-07-06 00:43] Krish-sysadmin commented on #198
Update: I added the sysctl "lkrg.umh_validate=0" and that fixes the issue but that disables validation of uses of usermodehelper which is not desired. So what can be done about this? @Adam-pi3 @solardiz  pinged so that this issue gets noticed. Thank you. Apologies if pinging isn't courteous

[2022-07-06 10:00] solardiz commented on #198
We use a hard-coded allow list of known programs invoked via UMH. It currently includes `/sbin/modprobe`, but not `/usr/sbin/modprobe`. We probably need to add the latter, but I am wondering whether the issue would also occur for other programs - did Fedora make a global change perhaps causing `/usr/sbin` paths to be used, or is this an isolated occurrence?

[2022-07-06 10:02] #198 closed

[2022-07-06 10:08] solardiz opened #199 "Ubuntu-based CI failures (systemd-container : Depends: systemd (= 249.11-0ubuntu3) but 249.11-0ubuntu3.1 is to be installed)"
@vt-alt JFYI, today these have started failing as:

[code]

Hopefully, this is temporary and no action on our part is needed.

[2022-07-06 10:20] vt-alt commented on #199
Maybe this is related to this https://github.com/actions/virtual-environments/issues/5806

[2022-07-06 10:51] solardiz commented on #109
I notice we already have:

[code]

So maybe this already does the trick for shutdown, but maybe not for other "equivalent" targets? Maybe we need:

[code]

We also have:

[code]

Why do we list `shutdown.target` here? Maybe we need to drop it, @morfikov (as you're credited in the commit introducing those lines)?

I didn't test any of this for whether LKRG gets unloaded on reboot/poweroff/halt/shut

[2022-07-06 10:55] solardiz commented on #199
Looks related indeed, although somehow for us the issue occurred just today whereas for them it occurred 2 weeks ago.

[2022-07-06 10:57] vt-alt commented on #199
Perhaps because of "phased update" `20% of users`.

[2022-07-06 13:25] morfikov commented on #109
It's about the `ExecStop` line. Just comment it out or remove it altogether.

The dependencies you mentioned are for proper handling of the service, since lkrg service is started early on boot and the defaults don't apply in this case. You can read more about it [here](https://www.freedesktop.org/software/systemd/man/systemd.target.html#Default%20Dependencies).

[2022-07-06 13:41] Krish-sysadmin commented on #198
I'm not completely sure but I do believe that Fedora uses /usr/sbin/modprobe by default. Which distribution have you tested LKRG on? RHEL or CentOS Stream?

[2022-07-06 13:50] solardiz commented on #109
@morfikov Thanks, however this does not get us anywhere.

Of course, it's about `ExecStop`, however we want LKRG to be unloaded when the service is stopped, just not when it is stopped as part of system shutdown (or equivalent), and removing that line would break that. If we do, we could as well ditch the systemd unit altogether, which is within consideration.

Regarding the dependencies, I asked

[2022-07-06 13:57] Krish-sysadmin commented on #198
Also not directly connected to this issue, but how would one use lkrg on Fedora such that on new kernel upgrades the module is built automatically using dkms? Might be easy to do but I don't know enough about dkms to know how. Thanks

[2022-07-06 13:57] Krish-sysadmin commented on #198
Also not directly connected to this issue, but how would one use lkrg on Fedora such that on new kernel upgrades the module is built automatically using dkms? Might be easy to do but I don't know enough about dkms to know how. Thanks @solardiz

[2022-07-06 14:57] solardiz commented on #198
@Krish-sysadmin We test on many different distributions - including automated testing here on GitHub Actions using different versions of Ubuntu, different kernels on those, and RHEL 7 and 8 rebuilds, and CentOS Stream 9. We do not have Fedora among automated tests, but we sometimes happen to try LKRG on different versions of Fedora as well.

Does the fix I committed earlier today work for you on F

[2022-07-06 16:35] Krish-sysadmin commented on #198
Yup it does fix it. Thanks a ton.

Regarding DKMS, I realise its off topic, but I'm curious how you use lkrg personally? How do you get it to work on kernel upgrades? Thanks again

[2022-07-06 16:56] solardiz commented on #198
@Krish-sysadmin I rebuild LKRG manually.

[2022-07-06 18:00] Krish-sysadmin commented on #198
Regarding 2, according to https://github.com/dell/dkms would a simple ``dkms ldtarball /path/to.lkrg/0.9.3.tar.gz`` work?

[2022-07-06 18:22] solardiz commented on #198
@Krish-sysadmin In GitHub Actions, it's several versions of Ubuntu. In our manual testing, it's also CentOS 7 and Alma/Rocky Linux 8.

[2022-07-06 18:46] solardiz commented on #198
Arch Linux in particular has LKRG packaged, so presumably it works there: https://aur.archlinux.org/packages/lkrg-dkms

Anyway, we'd appreciate it if you continue testing on your Fedora, including with its default lockdown setting.

[2022-07-06 18:53] Krish-sysadmin commented on #198
Also Fedora is a good distribution, I just have to test lkrg with dkms in a virtual machine and I'll then try it on my main.

[2022-07-06 18:54] Krish-sysadmin commented on #198
Well yes, but that's not part of the official repositories. It's like a copr

[2022-07-06 18:55] Krish-sysadmin commented on #198
I tried it and like Arch but getting SELinux to work on it is a pain because there aren't as many policies included as with Fedora or RHEL

[2022-07-06 21:11] Krish-sysadmin commented on #198
Pull request #200 @solardiz

[2022-07-08 16:18] solardiz commented on #109
Looks like the `runlevel` command (traditional for SysV init) exists even with systemd, and produces the expected output of `N 3` on a normally booted system. Perhaps it'd return `6` or such in the second field during shutdown? If so, we can check that inside the `ExecStop` command and make the actual action conditional.

[2022-07-09 19:02] solardiz commented on #109
We went for checking `runlevel` for OpenRC in #197. Perhaps we can do the same for systemd. @morfikov Maybe you want to test this and contribute a PR? Thanks!

[2022-07-10 01:42] morfikov commented on #109
I'm busy recently, so I can't help you with testing.

[2022-07-10 19:35] solardiz commented on #199
Looks like this issue is gone. Closing.

[2022-07-10 19:35] #199 closed

[2022-07-12 01:03] solardiz opened #201 "selinux_enabled enforcement does not obey kint_enforce"
For `selinux_enabled`, we unconditionally restore it to the old value, instead of obeying `kint_enforce`. We should probably fix that.
For `selinux_state->enforcing`, we do obey `kint_enforce`.

[2022-07-14 19:45] solardiz commented on #186
@sempervictus Are you going to send us a PR fixing this issue? Thanks!

[2022-07-14 20:38] sempervictus commented on #186
Thanks for pinging @solardiz - added to "todo" list for the weekend.

[2022-07-16 02:43] sempervictus commented on #186
#203 builds correctly in the default config, could use some testing for `SECURITY_LKRG_DEBUG=y` as well as runtime checks for both products.

[2022-07-17 15:27] solardiz commented on #165
A similar issue exists for module names, although hopefully only for "attacks" by root.

[2022-07-17 19:49] solardiz opened #204 "Harden LKRG's sysctl handlers"
Right now, LKRG's sysctl handlers open/close r/w access at the outer layer, regardless of whether the access is a write or a read. We should either skip that for reads or use temporary (not on r/o page) variables in the outer layer so that the open/close can be moved to inside the existing `if` block.

Also, the min/max variables used in the sysctl table should be made `const`, and/or the values c

[2022-07-17 22:55] solardiz commented on #204
Also, should fix handling of races between 2+ concurrent sysctl updates, where with current code one of these could set the page back to r/o and another then crash on writing into the page that it had opened r/w access for.

[2022-07-17 23:16] solardiz commented on #204
I think we'll need to do that, because as seen in backtrace in https://github.com/lkrg-org/lkrg/issues/191#issuecomment-1159913630 the call to `proc_dointvec_minmax` can sleep (perhaps that was a debugging build deliberately tagging all potentially-sleeping memory allocations, but anyway at least theoretically the issue is presumably there).

I happen to have implemented this today for `log_level`

[2022-07-18 22:54] Krish-sysadmin opened #206 "/usr/src/linux does not exist by default on Fedora"
Hi. After following the DKMS instructions I attempt to run https://github.com/lkrg-org/lkrg/blob/main/scripts/add-exports.sh but I see that it has a dependency on the /usr/src/linux directory existing but that's not the case on a fresh Fedora 36 install. So how would we modify this script for that?

$ tree /usr/src/
/usr/src/
├── debug
└── kernels

[2022-07-19 11:50] solardiz commented on #206
Thanks for reporting.

What were you trying to do? What's your reason to use this script in the first place? Did you run into an issue that it works around, and what was that, and is that the only such issue? In other words, was the script both necessary and sufficient in your case? One of the reasons I ask is because we'd consider simply dropping the script from our tree.

As to the directory nam

[2022-07-19 14:04] Krish-sysadmin commented on #206
For now I am using the default kernel from my distro, Fedora, but in the future yes I plan to have a custom kernel. In this case (a) would I need that script or (b) should it work without? Thanks!

[2022-07-19 14:05] Krish-sysadmin commented on #206
And if needed with a custom kernel build could you explain why it is needed in that case and not when you're using the kernel package from your distro?

[2022-07-19 15:06] #206 closed

[2022-07-19 17:31] solardiz commented on #206
I'm no lockdown expert, but per my re-reading of a private discussion thread we had in 2020, the lockdown mode that's default with Secure Boot should work in newer kernels, which I think means `integrity`, and it was mentioned that `confidentiality` restricts use of kprobes, so presumably won't work. In summary, `integrity` should work and `confidentiality` should not.

Also, I think your question

[2022-07-19 23:17] Krish-sysadmin commented on #206
I understand. Thanks anyway. Have a great day!

[2022-07-20 05:58] Krish-sysadmin commented on #206
Hi, didn't want to open a whole new github issue for this. So people who use LKRG might be using a custom kernel. One such config I set up is https://pastebin.mozilla.org/GmPMoXk1/raw - shows the diff between Fedora's 5.18.11 kernel config vs custom. I believe LKRG depends on kprobes etc so whatever I was aware it depended on I left enabled in the kernel config.

 Is there something in there I nee

[2022-07-20 06:28] vt-alt opened #208 "5.15.55: Integrity verification failed (no details)"
End users reporting LKRG induced kernel panics: https://bugzilla.altlinux.org/43005

![IMG_20220720_090515](https://user-images.githubusercontent.com/36664211/179910498-28e830ac-72e4-40d0-ac7c-0db9cb771115.jpg)

I am only wonder why LKRG does not tell the reason for the kill except for a very generic `Integrity verification failed`. This means we will never know even a slightest hint for the real

[2022-07-20 08:20] solardiz commented on #208
I think this is #192, so already fixed in our git. If ALT is packaging 5.15.40+, you need to include that patch in your LKRG package.

As to no log messages prior to kernel panic, that's nasty. My guess is console log level was reduced to include only messages beyond a certain severity. Does ALT do that by default? IIRC, kernel panic uses EMERG severity. Other LKRG messages are up to CRIT.

[2022-07-20 08:37] solardiz commented on #206
@Krish-sysadmin I'm sorry, I'm not going to spend my time on this, and I would be unlikely to spot everything just by looking. Good luck!

[2022-07-20 10:52] solardiz opened #209 "watchdog: BUG: soft lockup - CPU#0 stuck for 30s! [systemd-udevd:444] for mkosi-mainline with 5.19.0-051900rc6daily20220716-generic"
Hopefully, this is not LKRG-related, but it is nevertheless an issue seen on our CI today (for `mkosi-mainline`), so recording it in here in case it repeats:

https://github.com/lkrg-org/lkrg/runs/7427152212?check_suite_focus=true

[code]

[2022-07-20 13:05] Krish-sysadmin commented on #206
Ok, thank you. I'll just test it out and let you know if it works @solardiz

[2022-07-20 13:38] wladmis commented on #208
Hi!

For some reason this panic was not triggered during the package build
tests. I would like to enhance those tests that this kind of issue could
be detected early, but I have no idea what to add. Could you please give
any?

[2022-07-20 15:50] wladmis commented on #208
@solardiz There was `sysctl lkrg.trigger=1` (it was done by opening `/proc/sys/lkrg/trigger` and writing `1\n` to it). I increased timeout to 20 secs, but still there was no panic.

[2022-07-20 15:54] solardiz commented on #208
@wladmis Then I guess nothing triggered an update of the jump labels during this time. I'd try (un)loading other modules while LKRG is already loaded.

[2022-07-20 16:28] solardiz commented on #206
@Krish-sysadmin Yes, loading the module like that is the first test you'd do after building it.

[2022-07-20 18:10] solardiz opened #210 "Heavy pCFI unnecessarily skipped on systems with ORC"
Per discussion with @Adam-pi3 and testing on AlmaLinux 8.5 (see https://github.com/lkrg-org/lkrg/pull/202#issuecomment-1190588572), we need this:

[code]

The issue had been overlooked because of a bug in the logging. Prior to recent changes, we had:

[code]

where `p_debug_log` and `P_LKRG_WARN` were inconsistent, so this message was always suppressed.

When reworking the log messages, I temporar

[2022-07-20 18:16] solardiz opened #211 "Make logging of sysctl value changes more consistent"
We have inconsistent logging of sysctl value changes:

[code]

For all of these but `log_level` and `interval`, we include both the old and the new value. Also, for those where we log "Enabling" or "Disabling" instead of numeric values, we only do that when the value has changed. So it's illogical that for `log_level` and `interval` we log a "Changing" message that does not let us see whether the

[2022-07-20 18:20] solardiz opened #212 "Module KOBJ list hash changed unexpectedly on mkosi-boot (bionic)"
This just happened in my fork of the repo, even though the same test had succeeded here, as well as in my fork on other occasions:

https://github.com/solardiz/lkrg/runs/7434862217?check_suite_focus=true

[code]

[2022-07-20 20:05] vt-alt commented on #208
Yes boot test should have catch this.

[2022-07-20 20:28] solardiz commented on #208
A kernel panic is indeed not good for filesystem health, but it's unexpected for the filesystem to be practically lost as a result of that. What fs type was that?

[2022-07-21 15:32] solardiz commented on #208
I wonder if we have any of these affected kernels 5.15.40+ in our CI, do we? If we happen to have them and we didn't trigger the issue in CI, then we probably need to add something to ensure it'd have been triggered (and test that in a fork by removing the fix). If we don't have them, I guess that's fine - no action needed.

[2022-07-21 15:48] solardiz commented on #212
This can possibly be a side effect of me having introduced this:

[code]

The rationale was that those now-skipped checks would only produce `WATCH` severity messages (except for one `FAULT` in `P_PRINT_FOUND_MORE`, which I found unimportant). However, those pieces of code could also do a `p_mod_bad_nr++;` and we later use `if (!p_mod_bad_nr)` as one of the conditions on reporting a discrepancy li

[2022-07-21 15:55] Adam-pi3 commented on #208
We can easily force TRACEPOINT / JUMP_LABEL activity by executing: `echo 1 > /sys/kernel/debug/tracing/events/enable`. If commands finish the job, we should run `sysctl lkrg.trigger=1` and later we should disable tracing via `echo 0 > /sys/kernel/debug/tracing/events/enable` and we should re-run `sysctl lkrg.trigger=1` again.
Although sequence of such commands might take some time...

[2022-07-21 16:00] solardiz commented on #210
@Adam-pi3 Is this "Frame pointer is not on the stack" condition possibly unexpected and problematic enough in the non-ORC builds that we should treat it as a security violation? I wonder if it's right to treat it as an `ISSUE` (literal translation of the former `WARN` that you had chosen for it) or maybe treat it as `WATCH` or `DEBUG` if it's expected to sometimes occur without an attack or maybe

[2022-07-21 16:12] solardiz commented on #204
While at it, also look into and clean up usage of signed vs. unsigned integers vs. printf formats. Right now, we use a weird mix.

[2022-07-21 16:40] solardiz commented on #210
I temporarily upgraded the message to `FAULT` for testing by CI in my fork - so far, 16 out of 18 checks successful, 2 pending - so it looks like this message doesn't normally appear. (Incidentally, somehow the 19th check - CodeQL - does not run in my fork.)

[2022-07-21 16:45] solardiz commented on #210
All 18 have passed. So, what do we set the severity of this message to? If it's `ALERT`, I assume we'll need to trigger pCFI enforcement on it. Let's not have alerts without possibility of enforcement.

[2022-07-21 16:54] wladmis commented on #208
For now even with this advice I have no success to trigger a KP during the build test. I guess it is because the test is quite simple compared with a real booting system, and not many things happen in it.

[2022-07-21 17:00] solardiz commented on #208
@wladmis Sorry to ask the obvious, but are you sure you're testing a problematic combination of kernel (5.15.40+ yet in 5.15.x branch) and LKRG (without our recent fix in #193)? And is this the same kernel configuration that's in the user report?

[2022-07-21 17:30] wladmis commented on #208
Yes, I'm sure. It is LKRG 0.9.3 and kernel version 5.15.55 (not exactly the same version, but kernel config should be same). Sure the user's system configuration is quite different from the test one.

[2022-07-21 18:54] Adam-pi3 commented on #208
@wladmis I think @solardiz is referring not to LKRG 0.9.3 but to git TOT since it includes fixes related to JUMP_LABEL

[2022-07-21 19:13] wladmis commented on #208
No, it does not include that fixes.

[2022-07-21 19:47] #212 closed

[2022-07-21 19:47] #210 closed

[2022-07-21 19:47] #211 closed

[2022-07-21 19:51] solardiz opened #214 "Consider upgrading "Frame pointer is not on the stack" to ALERT"
While fixing #210, we set this message to `FAULT`. Let's keep it that way for a while, and if we receive no reports of this occurring in normal usage (outside of attacks), let's consider upgrading the message severity to `ALERT` and triggering the configured pCFI enforcement on this condition. Conversely, if the message does appear in normal usage, we'll probably want to downgrade it to `ISSUE` or

[2022-07-21 19:56] solardiz commented on #208
@Adam-pi3 Actually, @wladmis did answer my question - LKRG 0.9.3 is obviously old enough that it doesn't yet contain the fix, so the issue could have been triggered. However, as you pointed out to me in our private discussion, it is not surprising the issue isn't easy to trigger reliably. Maybe @wladmis needs to add loading and unloading of _many_ other modules to trigger it.

[2022-07-21 19:57] Adam-pi3 commented on #208
It is not as easy to generate that specific type of patching (JMP8) and one of the way which I can think you can try is to load and unload a lot of Kernel modules and in the mean time you can execute `sysctl lkrg.trigger=1`

[2022-07-22 03:20] vt-alt commented on #208
User said (in downstream bug report) it's XFS.
![IMG_20220721_093543](https://user-images.githubusercontent.com/36664211/180355512-26189951-de30-42bd-b8eb-1deaa57298d2.jpg)
He had to run ` xfs_repair -L` to clear journal, which also reports dangling inodes and relocations errors, then run `apt-get --reinstall`, etc.

[2022-07-22 12:10] solardiz commented on #208
Indeed, but do you suggest any specific change? Disable kernel integrity enforcement by default? Force disk sync before panic?

Of course, you'll soon have this specific LKRG/kernel incompatibility fixed by using our latest code, but issues like this can reoccur.

I also think this indicates XFS is somehow problematic. A simple kernel panic shouldn't cause any metadata corruption, and a journaling

[2022-07-22 12:50] wladmis commented on #208
They say it is known that XFS is very bad at the sudden power off ([an example](https://superuser.com/questions/84257/xfs-and-loss-of-data-when-power-goes-down)), and the KP case should not be any better.

[2022-07-22 14:22] solardiz commented on #208
@wladmis Those examples tend to be 10+ years old or involve VMs (so filesystem-on-filesystem), and the typical effect is loss of recent or not-so-recent writes - not metadata corruption.

[2022-07-22 14:25] solardiz commented on #204
I think before proceeding to fix these issues, we should change most of the sysctl handlers to use a shared function in place of their bodies. So that we don't introduce even more copy-pasted-edited code.

[2022-07-23 17:44] ajakk opened #215 "ovl_create_or_link inlining leads to false positive 'off' flag corruption for dockerd"
I'm running lkrg-0.9.4 on Gentoo. Docker is at 20.10.16.

[code]

This seems to be the interesting part of dmesg, with log level set to 6:

[code]

[2022-07-23 18:25] solardiz commented on #215
Thank you for reporting this, @ajakk!

Is this issue new with 0.9.4 or does it also occur with 0.9.3?

Either way, can you please try uncommenting `//#define P_LKRG_TASK_OFF_DEBUG` in `src/modules/print_log/p_lkrg_print_log.h`? By the way, this is something we hadn't tested recently - I _hope_ it still builds and works - let's see.

[2022-07-23 18:40] solardiz commented on #215
Looks like the reported flag value is exactly 9x the normalization multiplier:

[code]

This is close to the maximum `off` nesting depth we support in `p_validate_off_flag()`, and moreover if we still have this in the debugging output the actual depth must have been about twice that, so 18x. That's weird. When we set the maximum at 9x, the expectation was that actual maximum to be seen is 2x or ma

[2022-07-23 18:50] solardiz commented on #215
Sorry, that very patch won't even work because of the integer wraparound I mentioned. The maximum that would work reliably (regardless of what the random values are) is `4` in place of `3`, but that's not enough to cover the 18x we presumably had. Here's a more elaborate version:

[code]

[2022-07-23 18:59] ajakk commented on #215
I believe this has been an issue since I started using lkrg, around 0.9.2. So, certainly not a recent regression.

The first patch works! The second patch seems to be an improvement, but it produces inconsistent results:

[code]

[2022-07-23 19:21] solardiz commented on #215
That's weird. I'd suspect that if the second patch doesn't consistently fix the issue, the first patch would even more likely/frequently not do so. Maybe you need to unload/reload LKRG with the first patch a few times to trigger it failing too. The random values used in `off` flag protection vary per-LKRG-load.

When you get that `ERRO[0000] error waiting for container: unexpected EOF` message wit

[2022-07-23 20:14] ajakk commented on #215
So, with this patch:

[code]

I've reloaded lkrg a few times, and run `docker run hello-world` twice. This is lkrg's logs during the docker-run executions:

[lkrg-log.txt](https://github.com/lkrg-org/lkrg/files/9174576/lkrg-log.txt)

[2022-07-23 20:32] andrewfader opened #216 "dkms not building"
Just upgraded and can't build dkms
[code]

[2022-07-23 20:38] solardiz commented on #215
This time we have:

[code]

and it's 13x:

[code]

I really don't see why the loop in `p_validate_off_flag()` didn't bring it in range now. Possibilities are it was actually something like 256+13 or we're seeing this in `p_ed_is_off_off()` called directly. Maybe some other possibility I overlook.

Further debugging output suggests this involved `override_creds()` / `revert_creds()` (this is no sur

[2022-07-23 20:41] solardiz commented on #216
@andrewfader Maybe the issue isn't in any way DKMS related? Maybe LKRG somehow fails to build for you in general? Please take a look at (apparently) `/var/lib/dkms/lkrg/r481.7bb9cf1/build/make.log` or/and try to build LKRG manually.

[2022-07-23 20:42] solardiz commented on #216
Oh, it literally says you're missing headers for your kernel version! So just install those.

[2022-07-23 20:42] #216 closed

[2022-07-23 20:46] ajakk commented on #215
Sorry, didn't realize!

This is generated with `journalctl -b -k | grep -E '15:12:(22|23|24|25)'`, limiting the output to the few seconds of the other log:

[lkrg-log.txt](https://github.com/lkrg-org/lkrg/files/9174618/lkrg-log.txt)

[2022-07-23 20:54] solardiz commented on #215
Thanks. Can you try increasing `P_LKRG_TASK_OFF_MAXBUF` from 256 to, say, 10000? I guess the debug logging here is limited by that buffer's size, and we'd have even more of it with the buffer increased.

The overrides look _mostly_ balanced (interleaved on/off), but not fully, and perhaps this adds up...

[2022-07-23 20:56] solardiz commented on #215
At the same time, you can revert to default `log_level` now. Enabling `P_LKRG_TASK_OFF_DEBUG` increases severity of just the messages we're interested in here. I think there's no further need to see all other debugging as well. So let's have a more focused debugging log now.

[2022-07-23 21:33] Adam-pi3 commented on #215
@ajakk would you be able to answer a few questions?
 1. Which kernel version do you use?
 2. Do you have custom build / compilation or distro kernel?
 3. Do you have any aggressive optimization enabled?
 4. Do you use overlayfs / overlayfs2 (which one if you do)?
 5. Can you check if you see the same problem if you revert to the commit 6e30ac23b9d1d70e966767bbbede70cba1eb6262 ?

[2022-07-23 21:46] solardiz commented on #215
@Adam-pi3 Let's also hear from @ajakk, but meanwhile I can answer some of these:

The kernel is `5.15.52-gentoo-dist-hardened`. I don't know if it's custom or distro, or if aggressive optimization was used - that's for @ajakk to answer.

Per the logs the `overlay` module is in use, and various `ovl_` functions are seen in stack traces triggered by `P_LKRG_TASK_OFF_DEBUG`.

That commit you referenc

[2022-07-23 21:50] solardiz commented on #215
@ajakk Adam's questions reminded me, do you by any chance get this message triggered? -

[code]

If you do, please try to reload LKRG as it says and see if the problem persists.

[2022-07-23 21:53] solardiz commented on #215
Also, upon reloading do you possibly get the message from here? -

[code]

Despite of the `overlay` module already appearing in `lsmod`?

If so, that would indicate that aggressive optimizations of the kernel prevented `ovl_create_or_link` from being hookable by us, leading to the false positives seen here.

[2022-07-23 22:02] ajakk commented on #215
Linux sol 5.15.52-gentoo-dist-hardened #1 SMP Fri Jul 8 13:10:28 CDT 2022 x86_64 AMD Ryzen 7 5800X 8-Core Processor AuthenticAMD GNU/Linux

I've relatively recently switched back down to upstream-LTS from upstream-stable kernels, though.

This is Gentoo's `sys-kernel/gentoo-kernel` distribution kernel (adds `-dist`) with `USE=hardened` (adds `-hardened`), which is the upstream kernel with Gentoo's

[2022-07-23 22:03] solardiz commented on #215
@Adam-pi3 `ovl_create_or_link` is `static` and with only two callers, both also `static`. So it's not too surprising it might have gotten e.g. inlined into those or into their callers. I think we need to look into something else to hook.

`ovl_create_or_link` uses `security_dentry_create_files_as`, which is reliably hookable and isn't currently used by anything else in-tree. However, the issues ar

[2022-07-23 22:06] solardiz commented on #215
Can you also check `lsmod | grep overlay` just before `systemctl restart lkrg`?

[2022-07-23 22:08] solardiz commented on #215
Unrelated to this issue, but that setting is otherwise problematic with LKRG, see #79.

[2022-07-23 22:09] ajakk commented on #215
Sorry, here's that too (with kernel logs from the start of lkrg's first ALERT):

[code]

[lkrg-log.txt](https://github.com/lkrg-org/lkrg/files/9174743/lkrg-log.txt)

[2022-07-23 22:10] Adam-pi3 commented on #215
Just a few notes, I've just checked the recent Ubuntu LTS 22.04:

[code]
@ajakk Thanks for all the information, the problem is likely related to the following line:
[code]
@solardiz We would need to do the homework to verify what can or cannot be hooked. Be aware that 'static' can be added anyway to other functions which we choose (it happens all the time).
@ajakk Can you provide the output from t

[2022-07-23 22:12] ajakk commented on #215
[code]

[code]

[2022-07-23 22:13] solardiz commented on #215
Sorry, I was wrong about using _default_ `log_level`. Should have been `log_level=4`. Anyway, we don't need this now - we seem to have figured out the problem already.

[2022-07-23 22:16] Adam-pi3 commented on #215
@ajakk Can you do a test where you modify the following file in the linux kernel sources? Execute the following command:
[code]
next, recompile `overlay` module and reload it

[2022-07-23 22:22] solardiz commented on #215
@Adam-pi3 I think that test could be rather time-consuming for @ajakk if he's not used to that on this system (uses a distro kernel). Maybe it's better use of everyone's time to ask @ajakk to experiment with a possible LKRG fix instead.

Looking at the code, I think simply hooking `security_dentry_create_files_as` instead of `ovl_create_or_link` should do the trick. So let's try?

[2022-07-23 22:25] Adam-pi3 commented on #215
@solardiz From the top of my head I don't even remember why this specific function must be hooked to double allign the flag. From my understanding somewhere down-the path, there is 'forgotten' call to the 'revert' or called it twice. I would like to first find out what was exactly the case, if nothing has been changed in the kernel since we developed this hook and the we can look for possible solu

[2022-07-23 22:28] solardiz commented on #215
@ajakk Can you try this LKRG hack, please? -

[code]

[2022-07-23 22:41] solardiz commented on #215
@Adam-pi3 Sure we need fresh understanding of the underlying issue before fixing it for real.

`ovl_create_or_link` looks like it usually does two overrides followed by one revert. The first override is inside its call of `ovl_override_creds`. The second is in `put_cred(override_creds(override_cred));`, which is conditional upon `prepare_creds` having succeeded (nasty for us that it's conditional,

[2022-07-23 22:44] solardiz commented on #215
BTW, that the call to `security_dentry_create_files_as` is also conditioned on `prepare_creds` having succeeded is actually good for us. Unfortunately, it's also conditioned on `if (!attr->hardlink)`, which is irrelevant to the imbalance we're trying to work around, and thus is problematic for us.

[2022-07-23 23:42] Adam-pi3 commented on #215
@ajakk In fact, we can try different approach. Would you be able to run the following command? Example of output
[code]
If you see the same function as being visible in your kernel (`ovl_dentry_is_whiteout`), then you can try the following LKRG patch and verify if docker works fine:

[code]

[2022-07-24 00:10] solardiz commented on #215
@Adam-pi3 Yes, let's try that. However, don't we even more importantly need to update the hooked function name in `p_exploit_detection.c`?

[2022-07-24 01:06] andrewfader commented on #216
I do have the correct headers installed @solardiz , any other suggestions on how I can get a log of how this doesn't build? It's been building fine until now.
[code]

[2022-07-24 01:44] Adam-pi3 commented on #215
@solardiz this is just a temp patch to verify if @ajakk environment will be correctly handling it. We do not change any function names here, just inside of the function body we changed the logic and name of the hooked function (but still using old LKRG's function name).
If this patch is fine, we would need to rename directories and filenames together with function names

[2022-07-24 02:22] andrewfader commented on #216
Nevermind I figured it out ... somehow I had a /usr/lib/modules/5.18.12-hardened1-1-hardened/ and a /usr/lib/modules/5.18.12-hardened1-2-hardened/

[2022-07-24 04:04] ajakk commented on #215
It's not too terribly time consuming, there's a binary distribution kernel package (`sys-kernel/gentoo-kernel-bin`) and a package that compiles the distribution kernel locally (`sys-kernel/gentoo-kernel`, what I'm using) to allow for the user to change build time specifics. In this case, patching the kernel is as simple as generating the patch, putting it in the right directory, and rebuilding the

[2022-07-24 06:13] andrewfader commented on #216
No I thought i fixed it but it's still busted even with the standard linux kernel...

[2022-07-24 06:44] andrewfader commented on #216
Nvm, it's a problem with the arch pkg, needs to change dkms.conf from p_lkrg to lkrg

[2022-07-24 10:29] solardiz commented on #215
@Adam-pi3 Sure. I wrongly thought we actually used function names from the `p_functions_hooks` array for hooking, but I now see they're only for reporting. Maybe that's actually something to change in an unrelated cleanup later.

Great news that the patch worked. Meanwhile, I was thinking - maybe this issue is a reminder for us to reconsider and instead of insisting that `off` is off where expecte

[2022-07-24 10:33] solardiz commented on #216
@andrewfader Thank you for posting these updates. I see you've also posted a comment to https://aur.archlinux.org/packages/lkrg-dkms - great! I hope this will be taken care of in Arch's update to 0.9.4.

[2022-07-24 18:09] Adam-pi3 commented on #215
@solardiz I look at this problem a bit opposite. Instead of 'weakening' `off` we should add hardening in other places (like uid as you mentioned). Let's take this discussion offline (meeting?). I will try to look a bit more on the proposed patch (compare older kernels) and if it is stable and portable, I will prepare PR.

[2022-07-24 18:22] andrewfader commented on #216
and https://aur.archlinux.org/packages/lkrg-dkms-git as well. Thanks for checking back in. Hopefully the arch package maintainer will check it out within a few days.

[2022-07-25 05:52] Adam-pi3 commented on #215
Summary of evaluation:
- The proposed patch should be valid and backwards compatible up to version 4.16 (inclusive).
- The `ovl_dentry_is_whiteout` function first appeared in the kernel 4.10 but it has slightly different logic until version 4.16. The difference is that in `ovl_rename` override is called before `ovl_dentry_is_whiteout`. Although the logic in the proposed patch should correctly hand

[2022-07-26 17:02] solardiz commented on #215
Thanks for your analysis, @Adam-pi3. I've confirmed some of this (looking at those kernels' code) and didn't find any discrepancies with your description. Meanwhile, I got the below thoughts:

1. Per Adam's findings above, we also have an issue on most kernels below and including 4.6, where our current code tries to correct for unbalanced override/revert that doesn't actually exist. I think the im

[2022-07-28 13:53] solardiz opened #219 "Consider generic support of unbalanced override/revert_creds"
This is item 3 in https://github.com/lkrg-org/lkrg/issues/215#issuecomment-1195744061

Background:
The fact that unbalanced override/revert can stay in the kernel as a non-issue (in `ovl_create_or_link`) suggests that maybe _we_ are wrong or just unnecessarily strict in expecting and requiring the balance. The first idea would have been to reset (not decrement) `off` on `revert_creds`, however I r

[2022-07-28 14:14] solardiz opened #220 "Consider updating shadow credentials on commit_creds, etc."
This is item 4 in https://github.com/lkrg-org/lkrg/issues/215#issuecomment-1195744061 and alternative to #219:

Unfortunately, exploits can currently make us keep our `off` flag set for too long (over some credentials-using code in and calls into the kernel) by abusing `override_creds`. So maybe the option of accepting that and "weakening" "`off` must be off" checks (replacing them with resetting

[2022-07-28 15:41] vt-alt commented on #208
There is also similar kernel panic report for `0.9.2.0.1.git10ba314-alt1.331577.1` (by ALT QA) so the bug maybe introduced earlier than `v0.9.3`.

![testing-1](https://user-images.githubusercontent.com/36664211/181579215-7f52cccb-2579-406f-a0cf-3828da8e02bc.jpg)

[2022-07-28 15:52] solardiz commented on #208
In our understanding, there wasn't a bug - rather, the kernel proceeded to make changes that LKRG did not expect, so we had to adapt, which we did for mainline (5.17+ at the time) between 0.9.2 and 0.9.3, and for 5.15.40+ (which didn't exist at the time of 0.9.3 release) between 0.9.3 and 0.9.4.

Now you've shared a screenshot showing an issue with 0.9.2 on 5.10.133. This could be something else e

[2022-07-28 15:55] solardiz commented on #208
Oh, I see 5.10.133 is actually the latest in that series, and is very recent. Now we need to see whether they possibly back-ported that same change, and if so we will in fact need to update our code.

[2022-07-28 16:10] vt-alt commented on #208
Yes it's unfortunate, I think they use default settings for distribution which is set by people who aren't aware, nor care about other needs than it looks good for users. So it the future we may get more of such abbreviated and incomprehensible reports from the end users if LKRG doesn't log using highest log level (which I suggest).

[2022-07-28 16:16] solardiz commented on #208
I think we can't reasonably log _everything_ at the highest severity level, but we can upgrade what we currently log as `CRIT` to `EMERG`. What do you think, @Adam-pi3?

[2022-07-28 16:23] solardiz commented on #208
Just confirmed that https://cdn.kernel.org/pub/linux/kernel/v5.x/ChangeLog-5.10.133 mentions a back-port of the "problematic" change. We'll need to adapt to that, re-check other kernel branches, and maybe release 0.9.5 shortly. Ideally, we'd come up with and implement a way to detect that change other than via kernel version number, but that's tricky.

[2022-07-28 19:40] solardiz commented on #215
I guess you meant between 4.7 and 4.9?

[2022-07-28 19:58] solardiz opened #221 "Fix jump label support for 5.10.133+"
As seen in https://github.com/lkrg-org/lkrg/issues/208#issuecomment-1198324555 and confirmed by https://cdn.kernel.org/pub/linux/kernel/v5.x/ChangeLog-5.10.133 that very recent longterm kernel includes the "problematic" back-port. We need to adapt our kernel version checks accordingly.

[2022-07-28 20:02] solardiz opened #222 "Use KERN_EMERG in place of KERN_CRIT"
As mentioned in https://github.com/lkrg-org/lkrg/issues/208#issuecomment-1198354860, some distros appear to limit console messages to `EMERG` severity by default, which results in insufficient information on kernel panic screens from LKRG - only the panic itself is seen, but not the more detailed security alert(s) leading to it. Since we actually expect all of our alerts to go to the console, we c

[2022-07-28 20:21] solardiz commented on #221
Maybe instead of checking specific longterm kernel revisions, we can check for the presence of `ASM_RET` macro, which is introduced as part of the same change set:

https://github.com/torvalds/linux/commit/b17c2baa305cccbd16bafa289fd743cc2db77966

Both 5.15.40 and 5.10.133 included this commit as well, so hopefully further backports (to even older branches) will include it as well.

[2022-07-28 20:51] Adam-pi3 commented on #215
Yes, 4.7 until 4.9

[2022-07-28 20:52] #208 closed

[2022-07-28 20:54] solardiz commented on #209
Here's another, also for mainline with slightly newer kernel: https://github.com/solardiz/lkrg/runs/7568173574?check_suite_focus=true

[code]

[2022-07-28 23:30] #221 closed

[2022-07-28 23:30] #222 closed

[2022-07-29 11:50] #215 closed

[2022-07-29 11:52] solardiz commented on #215
@ajakk We've just merged Adam's fix for this issue. We'd appreciate you testing. I _might_ make a follow-up PR cleaning up this fix, so you might want to test before and/or after that. Thanks!

[2022-07-29 16:38] solardiz commented on #215
@ajakk This is now #224, hopefully to be merged real soon.

[2022-07-29 16:45] solardiz commented on #220
I was wrong about this part - we would still need that flag for its short-lived uses across (sys)calls such as `setuid`, where the credentials are briefly inconsistent, as long as we can sometimes perform asynchronous validation of task credentials (that is, not only when the task itself attempts to use the credentials, but also e.g. as part of our system+tasks integrity checking on timer).

[2022-07-29 19:00] solardiz commented on #222
Turns out this isn't a harmless change like I thought it was. On Ubuntu 20.04, got alert messages relayed via `syslogd` to all logged in users. Perhaps not what we intended! Might revert.

[2022-07-30 18:52] solardiz commented on #222
The messages are relayed even to users SSH'ed in remotely, and here's what they look like:

[code]

There isn't literally a `syslogd` running. There is an `rsyslogd`. I guess it's the one sending those.

Also, I was able to inject a terminal escape sequence via the exploit's filename - it affected the terminal of the other logged in user accordingly. I think that's actually an `rsyslogd` vulnerabi

[2022-08-25 04:20] sandikata opened #225 "Can't find '__put_seccomp_filter'"
[code]

[code]

[code]

[2022-08-25 04:22] sandikata commented on #225
All needed drivers are available in running kernel.

[code]

[2022-08-25 15:56] solardiz commented on #225
The issue here is we're relying on this kernel-internal symbol, which modern compilers/linkers with some options optimize out. See also #135 and #163. While we need to arrive at a real fix, you can use our `scripts/add-exports.sh` on your kernel tree as a temporary workaround. Alternatively, if you were overriding your kernel build options enabling more aggressive optimizations than upstream's def

[2022-08-25 16:01] solardiz commented on #135
Closing in favor of #225.

[2022-08-26 03:47] sandikata commented on #225
Actually, I have -O3 optimization on cachyos kernel.
I can try to rebuild with -O2 to see if it make sense.

[2022-08-26 04:27] sandikata commented on #225
It loads now, but i see another issue.

[   70.577995] LKRG: ISSUE: IOMMU table can't be found (skipping)

[2022-08-26 04:28] sandikata commented on #225
[code]

[2022-08-26 07:04] solardiz commented on #225
Please open a separate issue for that.

[2022-08-26 07:09] sandikata opened #226 "LKRG: ISSUE: IOMMU table can't be found (skipping)"
It loads now, but i see another issue.

[   70.577995] LKRG: ISSUE: IOMMU table can't be found (skipping)

_Originally posted by @sandikata in https://github.com/lkrg-org/lkrg/issues/225#issuecomment-1228039200_

[2022-08-26 07:10] sandikata commented on #226
#( 08/26/22@ 7:27 )( root@aleksandrov ):~
   zgrep IOMMU /proc/config.gz
CONFIG_IRQ_MSI_IOMMU=y
CONFIG_GART_IOMMU=y
CONFIG_VFIO_IOMMU_TYPE1=y
CONFIG_VFIO_NOIOMMU=y
CONFIG_IOMMU_IOVA=y
CONFIG_IOMMU_API=y
CONFIG_IOMMU_SUPPORT=y
# Generic IOMMU Pagetable Support
CONFIG_IOMMU_IO_PGTABLE=y
# end of Generic IOMMU Pagetable Support
# CONFIG_IOMMU_DEBUGFS is not set
# CONFIG_IOMMU_DEFAULT_DMA_STRICT is no

[2022-08-31 11:24] solardiz commented on #226
@sandikata I'm sorry we did not comment sooner.

This is not a big deal - and, we're already doing the right thing by not treating this condition as an error, but just an issue worth noting in the log. While it's nice to protect the IOMMU table (and we do when we can), I'm not aware of any exploit targeting it anyway.

As to why this is failing for you, we don't really know. We look up these two s

[2022-09-01 11:03] solardiz opened #227 "mkosi-mainline failing with "/etc/default/grub: No such file or directory""
@vt-alt Starting yesterday, we're getting this:

[code]

e.g. in https://github.com/lkrg-org/lkrg/runs/8132981536?check_suite_focus=true

[2022-09-02 06:10] vt-alt commented on #227
[code]
Seems another `mkosi` improvement, systemd/mkosi@2db9f7ff41cda0d6387c571947d5a95938958078.

[2022-09-02 11:41] #227 closed

[2022-09-02 11:44] solardiz commented on #226
FWIW, we're also seeing this `ISSUE` in some of our own tests, e.g. with `mkosi-mainline` here: https://github.com/lkrg-org/lkrg/runs/8150878349?check_suite_focus=true

[code]

[2022-09-04 12:01] solardiz commented on #226
Turns out an upstream change broke our IOMMU table integrity checking... by making that unneeded?

https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=78013eaadf696d2105982abb4018fbae394ca08f
https://cdn.kernel.org/pub/linux/kernel/v5.x/ChangeLog-5.19

[code]

(actually merged in April)

@Adam-pi3 Maybe we should simply skip the code or suppress the message on 5.19+?

[2022-09-04 21:18] mrl5 opened #230 "[OpenRC] ALERT: BLOCK: UMH: Executing program name /lib/rc/sh/cgroup-release-agent.sh"
Hello,

I'm using lkrg-0.9.5 on openrc system (funtoo linux) and I'm constantly seeing this error in `dmesg`:
[code]

it happens always on boot and randomly later. Here are the contents of this file: https://github.com/OpenRC/openrc/blob/9b08de926b0ea2fd95d5d9f8cb3463eb3cd72d02/sh/cgroup-release-agent.sh.in -- there is also this comment in this file:
[code]

**I don't see any side effects except t

[2022-09-05 10:15] solardiz commented on #230
@mrl5 Thanks for reporting. Can you please send us a pull request adding `"/lib/rc/sh/cgroup-release-agent.sh",` to `p_umh_global` in `src/modules/exploit_detection/syscalls/p_call_usermodehelper/p_call_usermodehelper.c` keeping that list in alphabetical order?

[2022-09-05 19:08] mrl5 commented on #230
sure thing I can do it :) I have one question -- taking into consideration that I'm total noob in this area, but still -- could you pls confirm that this safe to add it considering:
* https://nvd.nist.gov/vuln/detail/CVE-2022-0492
* https://unit42.paloaltonetworks.com/cve-2022-0492-cgroups/
* https://blog.aquasec.com/threat-alert-container-escape
* https://0xdf.gitlab.io/2021/05/17/digging-into-cg

[2022-09-11 03:34] Adam-pi3 commented on #230
@mrl5 thanks for the PR. I can confirm it is safe to add it, more about that you can read our short write-up here:
https://www.openwall.com/lists/lkrg-users/2019/07/25/1
and here:
https://twitter.com/lkrg_org/status/1501586002166616069

[2022-09-11 03:34] #230 closed

[2022-09-11 13:03] solardiz commented on #230
Thank you for the PR and for sharing your concern, @mrl5.
Thank you for reviewing and merging this, @Adam-pi3.

My understanding is that while the most concerning attacks like the one you two referenced would involve substituting a custom program path, so would be defeated by our allow list even with this addition, there's also a subtle concern of whether any of the individual programs we allow-li

[2022-09-20 20:14] Adam-pi3 commented on #226
@solardiz Yes, we can do it. In fact, the IOMMU related code is moved to the vendor specific drivers but I'm not sure we want to go and support this path. I will work on PR to suppress this message for 5.19+ (and maybe later for backported LTS)

[2022-09-25 00:10] #226 closed

[2022-10-11 07:20] wladmis commented on #208
Hi!

For some reason this panic was not triggered during the package build
tests. I would like to enhance those tests that this kind of issue could
be detected early, but I have no idea what to add. Could you please give
any?

--
   WBR,
   Vladimir D. Seleznev

[2022-10-13 21:27] solardiz commented on #208
@wladmis In a comment above, @Adam-pi3 suggested:

We don't currently have a better idea.

[2022-10-14 02:06] vt-alt commented on #208
This does not look hard (looping insmod/rmmod)). @wladmis if you will be successful in reproducing the bug with such test please report. We may want to add this into CI.

[2022-10-17 11:41] solardiz opened #232 "flush_workqueue(system_unbound_wq) triggers a compile-time warning"
As seen in our `mkosi-mainline` builds lately:

[code]

[code]

[2022-10-17 11:44] solardiz opened #233 "get_random_int() is gone"
As seen in our `mkosi-mainline` builds starting today, with kernel `6.1.0-060100rc1daily20221017-generic`:

[code]

[2022-10-17 16:10] solardiz commented on #233
So @zx2c4 deprecated `get_random_int` in favor of `get_random_u32` in https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=de492c83cae0af72de370b9404aacda93dafcad5

One problem is this breaks out-of-tree uses. It would have been nice to to have to make another release of LKRG just to support Linux 6.1+'s dropping of this function. (We don't yet know whether we'll have enou

[2022-10-17 16:20] zx2c4 commented on #233
[code]

Something seems off here, by the way. `P_M_SS_MORE_OFTEN_RATE` is less than `P_S_SS_MORE_OFTEN_RATE`. Should that be 214748 instead?

[2022-10-17 16:25] zx2c4 commented on #233
Also, `get_random_u16()` and then scaling all those constants would be even more efficient. Or if you don't care about some loss of precision `get_random_u8()` might even work. You can also refactor this exercise in terms of maximums. For example:

100%: `prandom_u32_max(1) == 0`
50%: `prandom_u32_max(2) == 0`

For powers of 2, `prandom_u32_max()` is uniformly distributed. For non-powers of two, t

[2022-10-17 16:26] solardiz opened #234 "Simplify our get_random_long() compatibility wrapper"
Our current `get_random_long` compatibility wrapper is weird:

[code]

Maybe I forget, but I see no good reason for us to do more than a `get_random_bytes` of the entire `unsigned long` sized value.

The `arch_get_random_long` quick path we may keep or drop. It basically uses the RDRAND instruction on x86. Some would say such reliance (rather than using it as an extra input when [re]seeding) on it

[2022-10-17 17:06] solardiz commented on #232
Perhaps we should instead use `cancel_work_sync` or `flush_work` on our potentially queued work functions.

Either way, to be race-free we should ensure we would never re-queue the work at this point - that is, we had already shut down whatever mechanism would have queued the work and no pending instance of that mechanism is still running - a condition I'm not sure we currently fully enforce.

[2022-10-17 17:11] zx2c4 commented on #233
You are not correct. `get_random_u32()` is in current 4.9.y stable kernels, since v4.9.320. It was added to mainline in 4.11.

I don't think the `get_random_int()` removal will be backported.

`get_random_long()` is still useful and in active use. I don't anticipate it going away.

You can probably get away with:

[code]

Note, however, that on really ancient kernels, the implementation of get_ran

[2022-10-17 17:31] zx2c4 commented on #234
It looks like you just copied and pasted the code from ancient kernels. Yikes. Indeed, just use `get_random_bytes(&l, sizeof(l))` and call it a day.

[2022-10-17 17:35] solardiz commented on #233
Oh right, here's what it was:

[code]

[2022-10-17 17:37] zx2c4 commented on #234
Actually, looking at this, it appears that you're calling get_random_bytes() on the secret (rather than, say, get_random_once() or similar). That means you have a fresh u32 every time anyway?  This makes no sense. So if you go with the basic `get_random_bytes(&l, sizeof(l))`, you'll probably recover performance anyway.

[2022-10-17 17:37] zx2c4 commented on #234
Also `RDRAND` is mostly not fast.

[2022-10-17 17:40] zx2c4 commented on #233
![thehorror](https://i.giphy.com/media/ztEgW4lPD3qSbZHVt2/giphy.webp)

[2022-10-17 17:43] solardiz commented on #233
@zx2c4 Sorry if we hurt your eyes.

[2022-10-17 18:12] solardiz commented on #234
I suppose `get_random_bytes` on those old kernels is likely slower still?

Anyway, preserving the coding style for now (to be dealt with project-wide separately):

[code]

[2022-10-17 20:20] #233 closed

[2022-10-17 20:20] #234 closed

[2022-10-18 15:51] solardiz commented on #186
IIRC, this issue is supposed to be fixed by #203. Closing.

[2022-10-18 15:51] #186 closed

[2022-10-24 04:06] wladmis commented on #208
Ok

[2022-10-26 15:57] solardiz opened #236 "AlmaLinux 8 build fails with "invalid application of 'sizeof' to incomplete type 'p_text_poke_loc'""
This just started happening today, only noticed in forks of this repo so far:

https://github.com/solardiz/lkrg/actions/runs/3330536896/jobs/5509151190

[code]

My guess is it's some RHEL8 change that we now need to adapt to, but I didn't look into this for real yet.

[2022-10-26 16:15] solardiz commented on #236
I guess _some_ of our Linux 5.6+ checks should now also apply to RHEL 8.something+, but we need to figure out exactly which and starting with what RHEL 8 release.

We have:

[code]

and we started introducing the above logic and more for 5.6+ in 0f7c6350a844c4a65a6860bff1172035e3cccae3 - this is now to be reviewed against RHEL8 backports.

[2022-10-26 17:11] solardiz commented on #236
According to https://access.redhat.com/articles/3078 RHEL 8.6 was released on 2022-05-10 and already included 4.18.0-372.9.1. Here we have the problem on 4.18.0-372.32.1.el8_6, so still within RHEL 8.6 (rather than in a revision that would look like it's getting closer to 8.7 - I'd expect the 372 to change for that). This also means we wouldn't be able to distinguish these kernels by our usual RHE

[2022-10-26 17:15] solardiz commented on #236
I just did - our recent successful build was on 4.18.0-372.26.1.el8_6. So something broke between that and 4.18.0-372.32.1.el8_6. I'm not sure there's anything for us to `#if` for to detect that difference. We can probably download and review the SRPMs to find out.

[2022-10-26 17:31] solardiz commented on #236
So it's https://almalinux.pkgs.org/8/almalinux-baseos-x86_64/kernel-devel-4.18.0-372.26.1.el8_6.x86_64.rpm.html vs. https://almalinux.pkgs.org/8/almalinux-baseos-x86_64/kernel-devel-4.18.0-372.32.1.el8_6.x86_64.rpm.html

Somehow the .src.rpm is only downloadable at the URL given in 26, and gives a Not Found in 32 for now (not propagated yet?), but the kernel-devel binary package is downloadable fr

[2022-10-26 17:44] solardiz commented on #236
As expected `struct text_poke_loc` is gone from `4.18.0-372.32.1.el8_6.x86_64/arch/x86/include/asm/text-patching.h`. Curiously, the unexported interfaces like that are getting added to `4.18.0-372.32.1.el8_6.x86_64/vmlinux.h`, but I doubt we want to include that.

Removed:

[code]

Added (in `vmlinux.h`):

[code]

A few `#define` are added between these revisions as well, including of `ASM_RET`, w

[2022-10-26 17:51] solardiz commented on #236
There's also:

[code]

whereas we have:

[code]

Maybe we were already missing support for `JMP8_INSN_OPCODE`, which RHEL8 had introduced earlier? Maybe we should enable this whole 5.6+ piece based on availability of those opcode macros - at least on RHEL?

[2022-10-26 17:54] solardiz commented on #236
`JMP8_INSN_OPCODE ` is also present in `/lib/modules/4.18.0-348.23.1.el8_5.x86_64/build/arch/x86/include/asm/text-patching.h` on my Alma 8.5 test system, which has been running LKRG for some months now with no issues (but with little activity). So either we didn't actually need to support it or the issue somehow was not triggered for me.

[2022-10-29 10:24] solardiz commented on #236
The exact same problem has started occurring with Rocky Linux 8 as well, confirming this indeed comes from RHEL 8 upstream.

[2022-10-30 21:15] Adam-pi3 commented on #236
I think that might be the best way to go and if we detect `JMP8_INSN_OPCODE` we can extrapolate that we need to define `struct text_poke_loc` by ourselves. Although, we have 2 versions of that and I guess we need to distinguish if it is RHEL build, then use the newest one

[2022-10-31 18:26] solardiz commented on #209
All of these appear to be on unloading of some other module(s). We could want to see if our modules integrity checking support code can possibly introduce a deadlock into the kernel e.g. when multiple modules are attempted to be unloaded concurrently.

[2022-10-31 20:38] solardiz commented on #236
@Adam-pi3 I think you misread what I wrote. LKRG built fine on Alma 8.5, which already has `JMP8_INSN_OPCODE`, but didn't meet our checks for needing to define `struct text_poke_loc` by ourselves. Which means that system did provide `struct text_poke_loc`.

The reason I brought up `JMP8_INSN_OPCODE` was different: it appeared on RHEL 8 earlier, but we did not check for it in code. So maybe we miss

[2022-11-03 19:22] redplait commented on #183
according to https://lwn.net/Articles/804982/

(interesting note: not all exported functions conform with this requirement, see http://redplait.blogspot.com/2022/10/bti-incompatible-exported-functions-in.html)
so we can just check if first instruction in function is BTI c
and if not we could make 8byte thunk like
BTI c
B jimm26 ; to kernel function - this will be direct branch and BTI not violated

[2022-11-04 04:41] Adam-pi3 commented on #236
I've been playing with free kernel versions:
- 4.18.0-372.26.1.el8_6.x86_64 (the newest kernel for RHEL 8.6)
- 4.18.0-372.32.1.el8_6.x86_64
- 4.18.0-372.9.1.el8.x86_64 (the oldest kernel for RHEL 8.6)

I found that only the newest one has declared `DISP32_SIZE` and I prepared the patch for LKRG taking this into account and I was able to correctly compile and run it for all 3 kernels and I've verif

[2022-11-04 14:25] Adam-pi3 commented on #236
Now I'm thinking if we should add extra check here:
[code]
to also take into account RHEL version being 8.6+

[2022-11-04 17:44] solardiz commented on #236
@Adam-pi3 This looks reasonable to me, and I think it's not necessary to specifically check 8.6+, although you may. Please do prepare a PR and let's see what our CI tests say. Thank you!

[2022-11-05 13:28] solardiz opened #240 "Review/revise the checks in p_cmp_tasks"
As I mentioned in https://github.com/rapid7/metasploit-framework/issues/17200#issuecomment-1304322458 we have two potential shortcomings in the checks in `p_cmp_tasks`:

1. We mute `cred` and `real_cred` pointer mismatches if the pointed-to credentials appear to match what we expect (same *uid/*gid/namespace).

[code]

Why don't we simply do:

[code]

2. The `p_cmp_creds` call for `real_cred` is s

[2022-11-05 14:08] solardiz commented on #240
I've just tried making these changes. No issues on most systems so far, but on Ubuntu 22.04 we got:

[code]

[2022-11-05 14:50] solardiz commented on #240
Per talking to @Adam-pi3, our current best guess is we're not hooking some place(s) where the credentials pointers can be updated yet the credentials themselves stay the same (are a copy), even though we _are_ hooking a function used on `fork` (maybe we don't strictly need to, if we restrict the checks like that anyway).

So, unless we add hooks, maybe it's reasonable design to have pointer mismat

[2022-11-05 15:17] solardiz opened #241 "Specialize p_update_ed_process"
In `p_update_ed_process`, we currently update everything we track per-task. We can (and probably should) instead update only those fields that could have legitimately changed in the specific context a given call to `p_update_ed_process` is made from. We could split this function in several, or we could introduce a parameter that would tell it what to update.

We could also check that the fields we

[2022-11-05 17:38] #236 closed

[2022-11-05 17:39] #240 closed

[2022-11-09 16:53] solardiz opened #246 "UMH: Optionally block distros' core dump analysis programs"
We're currently (after #245) allow-listing these UMH program pathnames:

[code]

This is dangerous non-essential functionality of those distros, which we could want to have LKRG optionally block - so maybe split them out into a separate optional allow list later.

[2022-11-16 12:36] 12D687 opened #247 "stdout piping"
I wonder If there is any possibility to pipe the lkrg output for custom logfile. Because it's cumbersome and unreliable for reading kernel buffer using dmesg.

[2022-11-16 13:27] solardiz commented on #247
Instead of using the `dmesg` command, you can use one of the underlying kernel interfaces, which are:

1. `/dev/kmsg`. If you do a `SEEK_END` on it, you'll only be reading newly appearing messages. Such reads don't affect other readers from that pseudo-file.
2. `/proc/kmsg`. Reads _do_ affect other readers (whatever has been read disappears for all readers).
3. Various sub-calls of `syslog(2)`.

I

[2022-11-16 17:20] solardiz commented on #247
Also, how custom does your log file need to be? Most distros either readily direct kernel messages to a separate log file or use systemd journal, in which case `journalctl -k` (you can also add `-f`) will show you kernel messages only.

So you can do e.g.:

[code]

[2022-11-17 13:26] solardiz commented on #247
Not an issue we need to track, so I'm closing, but please feel free to add further comments anyway.

[2022-11-17 13:26] #247 closed

[2022-11-18 14:11] 12D687 opened #248 "insmod error"
When I try to load lkrg ( sudo insmod output/lkrg.ko kint_enforce=1
) I face this issue.
insmod: ERROR: could not insert module output/lkrg.ko: Operation not permitted

[2022-11-18 16:24] solardiz commented on #248
My best guess is you do not really have root, not even after `sudo` - are you perhaps running this in a container?
Also, does anything appear in `dmesg`?

Not an issue we need to track, so closing it, but please feel free to add comments.

[2022-11-18 16:24] #248 closed

[2022-11-19 17:17] solardiz opened #250 "Make pCFI AArch64 PAC compatible"
To get LKRG to fully work on CPUs+kernels supporting the latest AArch64 extensions, besides fixing #183 for BTI support we also need to make our pCFI checks compatible with PAC. To do this, we'll probably need to mask out the PAC bits in our checks of pointers seen on the stack, but only when `system_supports_address_auth()`.

[2022-11-21 08:56] 12D687 commented on #248
I don't know if you see this
I try to run without root privileges and I face this issue again. Secondly I'm not running lkrg in container. Also you said in the readme in section Testing run insmod command whit sudo privileges. As well nothing appears in dmesg.

[2022-11-21 14:48] solardiz commented on #248
Of course, this needs to be run as root. I never said nor implied otherwise.

If your `sudo` works correctly, this isn't in a container, and nothing appears in `dmesg`, then I don't have a good guess as to what the problem may be.

As you had also opened a different issue, it sounds like you were successfully running LKRG on some other system, correct? If so, you'll need to figure out what's diffe

[2022-11-22 09:34] 12D687 commented on #248
I apologize. When I run the command again and then look dmesg. Then it says: Lockdown: insmod: unsigned module loading is restricted; see man kernel_lockdown.7
It's just kernel lockdown nothing serious.
It just my mistake. Nevermind it

[2022-11-28 11:51] solardiz opened #251 "P_LKRG_UNHIDE's behavior inconsistent with its name"
We wrap some functionality related to the `hide` feature/setting in `#ifdef P_LKRG_UNHIDE` and define that macro by default. Changing that default (not defining the macro) should probably remove the ability to unhide. What it actually does is remove the code to unhide _and_ the `hide` setting, which remains disabled by default, so in essence it removes the ability to hide.

For the existence of `P

[2022-11-28 14:23] solardiz commented on #251
The sysctl setting used to be `unhide` prior to e5924c419a9565b940a67cc169ad3ba0ebc1f975 in 2017, so prior to public release of LKRG. Changing it to `hide` back then is what made `P_LKRG_UNHIDE` inconsistent with its name. The easiest fix for now would be to also rename `P_LKRG_UNHIDE` to `P_LKRG_HIDE`, but I'm not sure that's what we want long-term.

[2022-11-28 14:30] solardiz commented on #251
Disabling `P_LKRG_UNHIDE` currently leaves `p_hide_itself` compiled in, and there's a call from `p_lkrg_register`:

[code]

However, there's nothing to enable that setting in such a build. So we have dead code. If we rename to `P_LKRG_HIDE`, we should also exclude that dead code in builds with `P_LKRG_HIDE` disabled.

Alternatively, we can add a way to set `p_hide_lkrg` in such builds - add a modu