[2020-08-11 15:34] solardiz opened #1 "Work around Linux 5.8's unexporting of native_write_cr4"
Linux 5.8 no longer exports the `native_write_cr4` symbol unless `CONFIG_LKDTM` is enabled. We use that symbol, and need to work around that, perhaps by using `kallsyms_lookup_name` to locate it.

Reference: https://www.openwall.com/lists/lkrg-users/2020/08/07/1

[2020-08-11 15:37] solardiz opened #2 "When logging file permissions, use octal"
Let's fix our code to log the permissions in octal (indicating that with leading zero), not hex.

[code]

(Any other as well places?)

[2020-08-11 15:42] solardiz opened #3 "Replace ptrace syscall hooks"
Replace the 3 ptrace syscall hooks (for 1 main and 2 arch-specific syscalls) with one hook on `security_ptrace_access_check`.

Related discussion: in special cases like this, we could use security hooks the way they were intended to be used, but since we also use kprobes anyway it might be more consistent for us to also use kprobes even on `security_*`. Ridiculous at first glance, but consistent a

[2020-08-11 15:46] solardiz opened #4 "Make UMH blocking support pathnames on CPA-protected pages"
Currently LKRG blocks disallowed usermodehelper pathnames by temporarily setting the pages containing those to read-write and overwriting the pathnames with all-slashes. This is incompatible with recent kernels' CPA. We need to come up with a different way.

Reference: https://www.openwall.com/lists/lkrg-users/2020/07/19/1

[2020-08-11 15:50] solardiz opened #5 "Reserved to match Bitbucket pull request #5"
This issue number is reserved to match a pull request we had merged on Bitbucket:

[code]

[2020-08-11 15:52] solardiz opened #6 "Reserved to match Bitbucket pull request #6"
This issue number is reserved to match a pull request we had merged on Bitbucket:

[code]

[2020-08-11 15:52] #6 closed

[2020-08-11 15:52] #5 closed

[2020-08-17 21:30] solardiz commented on #1
We believe this is fixed with 671b079eb985d6b2b24fb943f39cdf48bfce62d6, although more testing is needed. Closing the issue for now (can reopen if necessary).

[2020-08-17 21:30] #1 closed

[2020-08-17 23:26] morfikov commented on #1
I can confirm that it builds, at least on:

[code]

[2020-08-19 05:45] yuwezyu opened #9 "[BUG]:Misuse mutex_lock in arm exception mode"
Recently I have installed the lkrg to my android device which runs with kernel-4.9. But when adb exec the setenforce 0 cmd, it causes a bug:

[code]

  If CONFIG_PANIC_ON_SCHED_BUG and CONFIG_DEBUG_ATOMIC_SLEEP are both enabled will lead to this error.
  I googled and finally found out that kprobe will lead arm into exception mode which don't allow any API to be used that may cause sleeping.
  Bec

[2020-08-24 02:57] yuwezyu commented on #9
Hi @Adam-pi3

Yes.

In my opinion, before sel_write_enforce() be called, ARM will change into UND_MODE to run p_sel_write_enforce_entry(). This mode is similar to IRQ_MODE. They are both at atomic context. So any schedule(sleeping might lead to) is not allowed.

I don't have any good idea yet. : (
Thanks.

[2020-08-25 02:24] yuwezyu commented on #9
Hi @Adam-pi3

I have tried the patch. It seems OK(actually not) by just setenforce 0. Because there is no might_sleep macro in up()/down().
When I run my test program, it shows:

`[ 2298.622349] BUG: scheduling while atomic: poc/4921/0x00000000

[ 2298.622415] ------------[ cut here ]------------
[ 2298.622419] kernel BUG at /home/workspace/hewj/NX8/kernel/msm-4.9/kernel/sched/core.c:3460!
[ 2298.

[2020-08-25 15:58] Adam-pi3 commented on #9
I've divided work on that issue in 2 separates problems. I've just pushed the changes which addresses JUMP_LABEL issue. In short we are fine to not have any locks there:
https://github.com/openwall/lkrg/commit/4adc39fe684028a364715289fafa5608bcceb697

sel_write_enforce is slightly different. I've encounter the same __schedule() warning but only on non-x86 (with the patch which I've privately share

[2020-09-09 03:56] Adam-pi3 commented on #9
I've just pushed solution for SELinux synchronization issue. Can you verify this commit:

https://github.com/openwall/lkrg/commit/ef4d2c5f0b33366e8a6d22da07c9d7cb3b389883

I've tested it on ARM as well as x86 and I've not seen this issue anymore.

[2020-09-10 03:26] yuwezyu commented on #9
OK, I'll try it.

[2020-09-10 08:58] vt-alt opened #10 "kselftests ftrace tests trigger kernel panic"
Various kselftests trigger LKRG caused kernel panic (on 5.7.19). For example, ftrace group of tests (just run `ftracetest` to run all of them):

[code]

[2020-09-10 09:27] vt-alt opened #11 "LTP test request_key03 causes soft lockup"
[code]
Hangs here. Console:
[code]

Same test without lkrg loaded finishes successfully.

[2020-09-10 09:31] vt-alt commented on #11
Btw, do you use debug kernel and/or kasan in your tests?

[2020-09-10 10:58] vt-alt commented on #11
Didn't paste actual soft lockup message. Now from the different kernel:
[code]
This is from 5.4.62 with PROVE_LOCKING, which did not produce any message though.

[2020-09-10 11:12] vt-alt commented on #10
kselftests on `PROVE_LOCKING` kernel (no message if lkrg is not loaded):
[code]

Then it proceeded normally until `ftrace` where is panicked as usual.

[2020-09-10 13:33] vt-alt opened #12 "LTP: ftrace-stress-test triggering LKRG"
Another LTP test triggering LKRG:
[code]
Console:
[code]

[2020-09-14 03:05] #9 closed

[2020-09-15 13:54] wsandin commented on #2
Hi @solardiz, and thanks for your great contributions within open-source infosec.

I'd gladly do this one to get acquainted with the source and bui.d. Can you assign this issue to me?

[2020-09-17 19:58] solardiz opened #14 ""make install" exits 0 even on failure"
As detected on Travis CI (seen on Ubuntu Xenial only):

[code]

As you can see, systemd service installation failed because `/usr/local/lib/systemd/system` was apparently returned by `systemctl show -p UnitPath` (that's what our script uses), yet that directory was missing.

If we fix our script to propagate errors to its exit code (and assuming that `sudo` does so as well), that CI build will sta

[2020-09-17 23:05] wsandin commented on #2
I've had a good browse for `'p_.*_log\('` log statements, and references to  and couldn't find any other places where this would be applicable. I weren't able to reproduce the case of dirty inodes, to fully test it but the print feels pretty clear.

[2020-09-18 07:07] #2 closed

[2020-09-24 15:50] solardiz commented on #14
We need to consider that `make install` might be used by packages of LKRG installing it into a DESTDIR / "buildroot" directory (do we support that?) for subsequently including the target pathnames in the binary package. If so, having `make install` exit 0 even when it fails may result in a broken package instead of a package build failure, which is a bug.

[2020-10-03 14:04] solardiz commented on #11
Adam noticed this is a duplicate of #4, and it looks that way to me as well. Closing.

I'm a bit surprised the kernel messages here don't explicitly mention CPA. As I recall, when someone posted a similar backtrace to lkrg-users, it did also mention CPA. Other than that, looks like the same issue to me. I think once we fix #4, we'll need to ask @vt-alt to retest that this issue is indeed also gone

[2020-10-03 14:09] solardiz commented on #11
Oh, one more detail: we should probably add `/sbin/request-key` to our allow list. Perhaps _after_ having tested that a fix for #4 addresses this issue as well (resulting in _clean_ blocking of the execution of that program). Was too quick to close. ;-)

I'll reopen for these two remaining tasks here:

1. Retest after fixing #4.

2. Add `/sbin/request-key` to our allow list, unless we fix #4 in a

[2020-10-03 14:14] solardiz commented on #10
As discussed with Adam via e-mail, the first comment here is a duplicate of #12 (or vice versa), whereas the second comment is a separate issue. I suggest that we use this GitHub issue to track fixing of what's described in the second comment, and use #12 for the first comment's issue.

[2020-10-12 07:40] morfikov opened #17 "LKRG doesn't build for kernel 5.9"
Using the latest git commit on kernel 5.9:

[code]
---
[code]

[2020-10-13 17:36] Jacekalex commented on #17
Mee Too xD

`
# root ~> cat /proc/version
Linux version 5.9.0-g2 (root@domek) (gcc (Gentoo Hardened 9.3.0-r1 p3) 9.3.0, GNU ld (Gentoo 2.33.1 p2) 2.33.1) #2 SMP PREEMPT Tue Oct 13 18:52:22 CEST 2020
`

`# root ~> make
make -C /lib/modules/5.9.0-g2/build M=/ssdtmp/lkrg modules
make[1]: Wejście do katalogu '/ssdtmp/fabryka/kernel/src64/linux-5.9.0-gentoo'
  CC [M]  /ssdtmp/lkrg/src/modules/ksyms/p_r

[2020-10-17 00:00] 0xC0ncord commented on #17
It seems that `__module_address` and `__module_text_address` syms are no longer exported in 5.9, so that will need reworking too.

[2020-10-17 01:06] 0xC0ncord commented on #17
#18 gets LKRG building and running on 5.9.

[2020-10-19 08:22] solardiz opened #19 "Complete UMH support for Linux 5.9+"
This issue is to track the missing bit of work on UMH mentioned by Adam in PR #18: https://github.com/openwall/lkrg/pull/18#issuecomment-711438794

[2020-10-19 08:26] solardiz commented on #17
I've just merged #18 (thanks @0xC0ncord!), which fixes the literal issue described here (build failure), but there's a remaining bit of work on Linux 5.9+ support now tracked as #19.

[2020-10-19 08:26] #17 closed

[2020-10-25 17:07] Adam-pi3 commented on #12
For the last couple of weeks (month?) I've been working on adding FTRACE support for LKRG. I believe I've working patches which I should push soon.
However, during development I've been hitting a weird bug which I thought is related to the FTRACE support for LKRG. I've spent significant amount of time on that to understand it better. It turns out this is bug in Linux Kernel itself and has nothing

[2020-10-25 18:37] solardiz commented on #12
Thanks @Adam-pi3. Perhaps you should report this to the right places per the `MAINTAINERS` file. Have you?

And perhaps you should add ftrace support to LKRG anyway.

[2020-10-27 03:22] Adam-pi3 commented on #12
@solardiz I didn't report it anywhere (yet). I hope I can find some time to analyze it more. This bug looks hm... interesting from the security perspective. However, I'm not sure if it can be repro just from root account or non-priv user as well.

I've started to push some 'refactor' changes to LKRG. When I finish that part, I would be able to push full FTRACE support. Hopefully I can do it during

[2020-10-30 18:36] Adam-pi3 opened #21 "Add 'notrace' and 'static' attribute to the most of our internal functions"

[2020-10-30 18:44] solardiz commented on #21
Adam, please provide some rationale for this. Thanks!

[2020-10-30 19:04] Adam-pi3 commented on #21
Sure. When FTRACE is enabled GCC compiles every code with -pg option. It adds a stub at the beginning of each function (in fact long NOP) which can be dynamically "overwritten" and place 'jump' to the specified code to execute when needed. It also applies to LKRG's functions (including critical functions).
However, some of the functions in the kernel are very critical and we do not want to allow s

[2020-11-02 03:13] Adam-pi3 commented on #12
I've pushed all necessary changes to support FTRACE. However, as I mentioned, Linux kernel has bugs related to FTRACE and LKRG may accentuate them.

[2020-11-02 11:48] solardiz commented on #12
Thanks, Adam. Please do report the bug(s) upstream.

I've just made a couple of nitpick comments on your commit, but obviously it can't be reviewed for real without someone else having effectively redone your research and analysis to validate it.

[2020-11-02 21:14] Adam-pi3 commented on #12
Yes, it's in my TODO list (digging more into Linux kernel ftrace bug and reporting it).

I saw your comments, thanks for reviewing. Yep, I'm aware that these type changes can't be fully reviewed without full picture why it is done in such specific way. It took me a lot of time to come with such changes.

I've just pushed some more changes which simplifies synchronization with JUMP_LABEL and fixes

[2020-11-03 16:00] Adam-pi3 commented on #12
@vt-alt Would you be able to check it on your side?

[2020-11-07 16:52] #4 closed

[2020-11-09 16:47] #3 closed

[2020-11-16 13:58] solardiz opened #26 "Update UMH documentation to reflect new enforcement behavior"
#23 changed the mild enforcement behavior for UMH from blocking execution to killing the process. We probably need to update the documentation and LKRG's messages and source code comments accordingly.

We currently have this in `README`:

[code]

And these in code:

[code]

I think we should now use the same wording that we do for `pint_enforce=1` ("kill the task", "KILL TASK", and "Kill task").

[2020-11-16 14:51] oshogbo commented on #26
Yes I can change that

[2020-11-16 14:52] oshogbo commented on #26
You can assign this issue to me.

[2020-11-18 11:56] savchenko opened #27 "LKRG fails to initialize with a certain combination of boot parameters"
Debian Buster, stock kernel: `4.19.0-12-amd64 #1 SMP Debian 4.19.152-1 (2020-10-18)`

UEFI secure boot is enabled. Grub cmdline, newlines added for readability:
[code]

relevant dmesg output:
[code]

Is this due to the "lockdown" activated by the presence of Secure Boot? If yes, could you suggest any workarounds?

Thank you.

[2020-11-18 17:10] oshogbo commented on #26
@Adam-pi3 ping?

[2020-11-18 17:28] Adam-pi3 commented on #26
I've been running a few more tests - sorry for delay. I'm not sure that "kill [the] task" is a valid description for that specific feature. The main reason why I'm not 100% sure is that we do not kill the task which generate an UMH. We do kill the task from UMH WQ pool-threads which are created for handling the request. We do not kill the "attacking process". More-over, the attacking process is no

[2020-11-18 17:57] solardiz commented on #26
Thanks @Adam-pi3. Given your explanation, I think we should keep the old description. I'm closing this issue.

[2020-11-18 17:57] #26 closed

[2020-11-18 18:11] solardiz commented on #27
I think this belongs on lkrg-users rather than on GitHub since it's not an LKRG bug: we clearly document that LKRG requires kprobes, and the above clearly shows that you have them disallowed. Discussing your local configuration details and workarounds is more of an lkrg-users matter. That said:

We exchanged a few private e-mails with @mjg59 earlier this year, where he shared this (and I hope he d

[2020-11-18 23:34] savchenko commented on #27
Noted. I should probably try with the newer kernel available in testing/Sid to check if either:
- Lockdown can be reduced to "integrity" level.
- It is possible to enable kprobes in "confidentiality" mode.

Probably the latter as this is bog-standard Debian kernel and I am not changing lockdown settings.
Passing `lockdown=integrity` to 4.19 makes no difference as it is not aware about such paramet

[2020-11-19 03:33] vt-alt commented on #12
New results from lkrg 3f76f5148b184e02b0b5b24bb1e8bac0e96a3376 on 5.4.77 (with various `DEBUG` options enabled) kernel: LTP `tracing` testcases list does not crash the system, but still produces a warning on the first run (subsequent run on the system w/o reboot does not reproduce this message):

[code]

Another run after reboot produced `BUG: soft lockup`:

[code]

[2020-11-19 03:37] vt-alt commented on #12
To add - subsequent run on the system w/o reboot after some repeated soft lockup messages (which maybe aren't caused by the test run though, by the nature of soft lockup warnings) finally hanged the system completely.
[code]

[2020-11-19 03:45] vt-alt commented on #10
To continue testing from issue #12 -- kselftests (from kernel v5.8) run of `./ftracetest test.d/ftrace/` does not trigger any issue with lkrg on `5.4.77-std-debug-alt1`.

[2020-11-19 03:51] vt-alt commented on #11
Test for this issue on `5.4.77-std-debug-alt1` -- run of `runltp -s request_key03` produces a lot of following messages, but does crash the kernel.

[code]

[2020-11-19 04:45] vt-alt commented on #10
This was partial tests. I will re-run full `kselftests` suite and post results a bit later. This requires some time.

[2020-11-19 05:27] savchenko commented on #27
Attempted the same on Debian Sid, v5.9.0 kernel:
[code]
I thought that missing `cryptohash.h` is a Debian-specific issue, however trying to compile LKRG on a fresh Ubuntu 20.10 VM resulted in exactly the same error, albeit a different `apt-file` search result.

Ubuntu 20.10, note the mismatch between headers and kernel versions:
[code]

Sid:
[code]
Buster (stable):
[code]

[2020-11-19 09:57] solardiz commented on #27
Regarding the `cryptohash.h` issue, you seem to be using an out of date revision of LKRG. For GitHub issues, we assume that you use the latest LKRG from this repo, not any past release, nor any distro package.

[2020-11-19 10:04] solardiz commented on #27
Probably yes.

That's not my understanding of what Matthew wrote in those e-mails. My understanding is that there was a non-upstream implementation of lockdown in some distro kernels, which restricted kprobes even in "integrity" mode. So you'd hope to no longer be at an implementation like that when you upgrade to a newer kernel.

[2020-11-19 10:06] savchenko commented on #27
I was using https://www.openwall.com/lkrg/lkrg-0.8.1.tar.gz which is mentioned in Readme and at the official website. Will re-run tests with master branch and report back.

[2020-11-19 10:56] solardiz commented on #27
It is well-known to us (and has been discussed on lkrg-users) that LKRG 0.8.1 doesn't build on Linux 5.8+. The README here hasn't been updated from that release - maybe we should be updating it with such knowledge - but then it also says the release was only tested until Linux 5.7 inclusive.

For Linux 5.8+, you really absolutely have to use our latest code. We currently recommend that on older ke

[2020-11-19 11:40] solardiz commented on #11
You mean "does not"?

[2020-11-19 11:53] solardiz commented on #11
@vt-alt I've just pushed a commit allowing `/sbin/request-key`. Can you please retest, and if everything is OK now then close this issue? Thanks!

[2020-11-19 16:38] vt-alt commented on #11
Yes!

[2020-11-19 16:52] vt-alt commented on #10
It turned out to be harder than I thought. Because, these tests cause some weird warnings with stack traces in the dmesg even w/o lkrg. This may be interesting, though:
[code]

[2020-11-22 17:36] solardiz commented on #27
I think we don't need to track this discussion as a GitHub issue, so I'm closing it.

[2020-11-22 17:36] #27 closed

[2020-11-26 23:19] vt-alt commented on #11
Updated to 3cd05c371f92fc8983f232c34fda6c7b163897fb and retested. Test does not cause kernel failures.
Dmesg:
[code]

[2020-11-27 08:09] solardiz commented on #11
Thank you, @vt-alt! Looks like we're done with this issue. Closing.

[2020-11-27 08:09] #11 closed

[2020-12-05 22:56] morfikov opened #30 "kernel: [p_lkrg] <Exploit Detection> ON process[337418] | zsh] has corrupted 'off' flag!"
I compiled LKRG with the changes up to the following commit:

[code]

And it looks like that whenever I try to open a new terminal, I get the following messages in the log:

[code]

---
[code]

[code]

[2020-12-06 12:26] solardiz commented on #30
@morfikov Can you try with the latest commit? It's potentially relevant. Thanks!

[2020-12-06 13:27] morfikov commented on #30
Yes, with the last commit, it looks like the issue went away.

[2020-12-06 13:27] #30 closed

[2020-12-12 19:30] Adam-pi3 commented on #12
One of the reported bugs was fixed with CVE-2020-27825:

https://access.redhat.com/security/cve/cve-2020-27825
https://twitter.com/Adam_pi3/status/1337493829855965184

The lockups which you see are also unrelated to LKRG. I've reported details logs from LOCKDEP to the maintainers. However, there are not much updates on that. Nevertheless, these problems are unrelated to LKRG.

[2020-12-16 19:08] madaidan commented on #27
What exactly does LKRG require kprobes for? Are they an absolute requirement? The documentation only states that these are required for the protected user space processes feature but it also states that this functionality is only present in the experimental branch (which also appears to have been dropped?). Could kprobe usage perhaps be replaced with some other mechanism or, at the very least, cou

[2020-12-16 20:07] solardiz commented on #27
Again, this is more of a topic for lkrg-users, but I don't mind replying in here:

For all of its kernel function hooking, which it does for almost all of its features. Lately, LKRG's use of kprobes tend to be optimized to ftrace, though (and this is why LKRG works on 5.8 and 5.9 at all, see http://blog.pi3.com.pl/?p=831).

Currently, yes.

Where does it state that?

Right, I thought the mentions

[2020-12-16 20:47] madaidan commented on #27
Thanks for the reply. It cleared up a lot of things.

I was referring to that, sorry.

hardened-kernel still disables kprobes.

https://github.com/Whonix/hardened-kernel/blob/ba34167459fab24b973f722b438bd09b83593ae6/usr/share/hardened-kernel/hardened-vm-kernel#L685

ftrace is also disabled.

https://github.com/Whonix/hardened-kernel/blob/ba34167459fab24b973f722b438bd09b83593ae6/usr/share/hardened-

[2020-12-16 21:09] solardiz commented on #27
Threat model that involve attackers with root yet try to harden the kernel from them are weird. Sure there is BSD securelevel and there were e.g. LKRG "protected features" in its "experimental branch" (now dropped), but these are extremely hard to use reasonably. I don't know what exactly your threat model is and whether it's possibly reasonable, but I think most are not.

[2020-12-16 21:27] madaidan commented on #27
In Whonix, we are planning on shipping a full system AppArmor policy to enforce fine-grained restrictions upon every process, including those created by root in an attempt to minimize attack surface as much as humanly possible whilst also using a hardened kernel and placing all apps within a strict sandbox. Our goal is similar to that of AOSP's security model but on desktop Linux.

[2020-12-16 21:46] solardiz commented on #27
What you describe makes sense, except that you seem to use the term "attack surface" to mean something that I think it normally does not, e.g. `ManadhataKaynarWing07.pdf` "A Formal Model for a System’s Attack Surface":

[code]

Note that restricting what a process can do, while likely beneficial for system security, does not affect its attack surface. A more relevant term would be "least privilege

[2020-12-16 21:52] solardiz commented on #27
More relevant to our previous discussion on LKRG, what you describe doesn't imply distrusting root nor hardening the system from what root can do - rather, it's distrusting code quality of specific programs trusted not to be deliberately malicious. This is fine, and does not require hardening the kernel from deliberate attacks by root. What you do is restrict what those programs can do so they're

[2020-12-16 23:10] madaidan commented on #27
I was referring to the attack surface of the rest of the system. By restricting X program to its bare essentials, there is not much it could do to compromise Y (other parts of the system) as Y's attack surface from the perspective of X is mostly eliminated. I was not referring to the attack surface of X. Although, principle of least privilege would be a much better term indeed.

If we only distrus

[2020-12-17 10:28] adrelanos commented on #27
We intent to implement [Multiple Boot Modes for Better Security - an Implementation of Untrusted Root](https://www.whonix.org/wiki/Dev/boot_modes). In essence, in grub boot menu user can choose to boot into user, secureadmin or superadmin. Secureadmin will be a untrusted root, confined by [apparmor-profile-everything](https://www.whonix.org/wiki/apparmor-profile-everything). The idea of an untrust

[2020-12-17 12:08] solardiz commented on #27
Not your fault. It was a bad idea for us to keep such outdated content around. I've just dropped most of the wiki content.

@adrelanos You might want to update the Whonix wiki accordingly, dropping any remaining links to LKRG wiki and maybe even quotes of content that is now considered obsolete. Thanks! (I didn't check what of this kind you might still have in there, but I recall that you had some

[2020-12-17 12:33] solardiz commented on #27
@adrelanos @madaidan I might comment on what you wrote later, but JFYI there was this thread on oss-security recently:

https://www.openwall.com/lists/oss-security/2020/10/05/5
https://www.openwall.com/lists/oss-security/2020/10/06/11
https://www.openwall.com/lists/oss-security/2020/10/19/1
https://www.openwall.com/lists/oss-security/2020/10/19/4

I guess most of what's talked about there is alrea

[2020-12-26 07:51] savchenko commented on #27
For what it worth, https://github.com/openwall/lkrg/commit/d3118e45e66086190fa0a3a25eee93fd42e78bed works on Debian Bullseye Alpha 3 (testing), `5.9.0-5-amd64` kernel. Lockdown mode is deactivate due to the above-mentioned limitations.

[2021-01-01 11:18] morfikov opened #34 "Add more dependencies to the copy-builtin.sh script to avoid kernel build failures"
I wanted to try the in-kernel build script, but I got the following error (I just changed the KDIR var):

[code]
So apparently, pushd is missing, but I couldn't find it in debian sid/exp (I was using apt-file to search for it).

[2021-01-01 11:53] morfikov commented on #34
I've manage to solve this by sourcing the script via:

[code]
Anyways, I have a question.

I was trying to build the kernel using my regular config (the one before building lkrg as a regular module), and I see the following:

[code]

But in the lkrg dependency is only `Depends on: SECURITY [=y]` -- wouldn't be better to add also the other deps to avoid such error while builing the kernel?

[2021-01-02 20:40] solardiz commented on #34
The script assumes bash. The first line should be changed to `#!/bin/bash`.

Yes, I think so.

@sempervictus If you agree, we'd appreciate a PR from you making these changes. Thanks!

[2021-01-03 06:45] 0xC0ncord opened #35 "register_kretprobe() for search_binary_handler failure on Linux 5.10"
Linux 5.10 no longer exports the `search_binary_handler` symbol, and LKRG is unable to locate it. On a 5.10 kernel, the following messages are logged:

[code]

Looks like the relevant upstream commit where this happened is [here](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=9d9488d4d7c85a76e9fd30d7a070ed018f767233)

[2021-01-03 14:32] solardiz commented on #35
Oh. We should have taken a look at recent kernels before revising this and making that change. Our previous discussion of it, which I recently quoted pieces from in a commit comment here, was back in March 2020.

`search_binary_handler` is not only not exported, but is also `static` now, and called from only one place. So it's likely inlined into the calling function, which is `exec_binprm`. The l

[2021-01-03 14:38] solardiz commented on #35
Oh, it was simply called `security_bprm_set_creds` before, and existed in all kernels we support. So maybe that's what we should have been hooking all the time, and should hook on pre-5.8 kernels now.

[2021-01-03 16:07] 0xC0ncord commented on #35
I will take a stab at it.

Okay, so from what I gather here it seems like the short term fix is to hook via kprobes into `security_bprm_creds_for_exec`, and later we can look into hooking `security_*` functions like they were intended. Is that correct?

[2021-01-03 16:09] solardiz commented on #35
Thanks!

Correct.

[2021-01-03 17:24] 0xC0ncord commented on #35
I have some experimental work on [my branch[(https://github.com/0xC0ncord/lkrg/commit/c30692296b7b5963a6582e81b82467e0e69e7298) that builds and runs on 5.10, but it seems that any SUID binary triggers LKRG's exploit detection which kills the offending process.
[code]

[2021-01-03 19:45] solardiz commented on #35
Oh, indeed. That function's return is too early for our post-exec actions. Sorry for having wasted your time.

New idea: hook `security_bprm_check` (either entry to it or return from it) for pre-exec actions and `proc_exec_connector` (entry to it) for post-exec actions. The latter isn't officially exported, but comes from a different translation unit, so should be preserved as a separate symbol (u

[2021-01-03 22:08] 0xC0ncord commented on #35
Unless I'm doing something wrong, I've run into the same issue using that method:
[code]
https://github.com/0xC0ncord/lkrg/commit/8c4cd55d324f4632686c2b84e08de100b53855fe

[2021-01-03 22:22] 0xC0ncord commented on #35
It looks like hooking into the return from `proc_exec_connector` works, but entry does not.

[2021-01-03 22:51] 0xC0ncord commented on #35
Looks like I'm working a little too fast here (long day).

This specifically seems to be causing problems.

[2021-01-03 23:37] solardiz opened #37 "Use of late_initcall_sync broke build on RHEL7 kernels"
Building an LKRG revision after ddc14c6544cb1639132b765fe6df72c3feba14aa on a CentOS 7 system (deliberately not up to date, has an older RHEL7'ish kernel) results in these warnings:

[code]

Despite of these, the build completes, but I wouldn't expect the module to work right (didn't try loading it).

We probably need to make our use of `late_initcall_sync` conditional upon kernel versions that su

[2021-01-04 00:15] solardiz commented on #12
@Adam-pi3 If you think there's nothing actionable for us left in here, then please close this issue. Thanks!

[2021-01-04 00:18] solardiz commented on #10
@Adam-pi3 Any comments on `_STEXT MEMORY BLOCK HASH IS DIFFERENT` seen above?

[2021-01-04 01:37] Adam-pi3 commented on #12
Fixed

[2021-01-04 01:37] #12 closed

[2021-01-04 01:39] Adam-pi3 commented on #10
It's related to the other issues:
https://github.com/openwall/lkrg/issues/12
https://github.com/openwall/lkrg/issues/11

Closing that one as well.

[2021-01-04 01:39] #10 closed

[2021-01-04 07:12] Adam-pi3 commented on #37
@solardiz which kernel are you using? I've checked the following one and don't have any issue:

[code]

[2021-01-04 12:55] solardiz commented on #35
Addressing in here the parts of @Adam-pi3's feedback posted to the PR that I think is most relevant to the issue rather than the PR's current changes:

This certainly can vary by GCC version, etc.

I didn't suggest this in part because I noticed `bprm_execve` is also called from `kernel_execve`, so I thought we'd also need to hook the latter, but perhaps we actually don't since the latter is only

[2021-01-04 13:57] 0xC0ncord commented on #35
Addressing comments from @Adam-pi3

The testing I have done is on a 5.10.4 kernel built with GCC 10.2.0-r5 (on Gentoo).

For clarification, the patch in the PR does not trigger that behavior for me. There was some previous work I did earlier that triggered it, which is visible here: https://github.com/0xC0ncord/lkrg/tree/next

[2021-01-04 20:27] Adam-pi3 commented on #35
@solardiz You are correct, `kernel_execve` is used by UMH like work. In theory they *might* change UIDs. However, I've never seen any useful cases for that.
I've been looking at the flow a bit more and I can see a few other options. However, each of them require hooking `do_execveat_common` (because of the `search_binary_handelr` inline):
1. Hook only entry path for `begin_new_exec` (which must be

[2021-01-04 20:35] solardiz commented on #35
@Adam-pi3 What do you mean by "automatically" removing the flag?

With all this trouble, I think we should opt for what's simpler and likely more robust for now, which appears to be hooking `do_execveat_common`.

Here's a new idea, though: maybe we can attempt to hook `search_binary_handler` like we do now, and if that fails then hook `do_execveat_common`? That is, instead of checking kernel versi

[2021-01-04 20:49] Adam-pi3 commented on #35
I shouldn't use word "automatically" but "immediately".

It's true that hooking just `do_execveat_common` is the easiest and simplest. However, splitting the hook for entry-only on some deeper call-path (like `begin_new_exec` or `security_bprm_check`) and return only for `do_execveat_common` should be simple as well. As long as we don't do any heuristic just pure set the flag at the entry (`begin_

[2021-01-04 20:53] solardiz commented on #35
Does this gain us anything? I think if a deeper function returns failure, we quickly reach return of `do_execveat_common`, which we need to hook anyway, so can reset the flag there just as well. But I don't mind.

[2021-01-04 21:27] Adam-pi3 commented on #35
Hm... that's true as well. Maybe not doing that will be simpler and slightly faster (we won't hook return path, less wasted cycles)

[2021-01-05 02:54] Adam-pi3 commented on #35
I've just pushed a fix for that issue:
https://github.com/openwall/lkrg/commit/6cf9e241bb7f095a4e1bd0f3e9d7fd73203dc0fc

I've been testing various scenarios and splitting our hook into multiple one needs more research - I've created malformed ELF binary which could fail exec* function in earlier stages which could cause problems.
For that reason, this commit adds `do_execveat_common` hook based on

[2021-01-05 10:53] solardiz commented on #35
BTW, in 5.8 in particular `do_execveat_common` is a wrapper around `__do_execve_file`. This makes me wonder whether gcc might keep only the latter symbol (as if it were called by the several callers of `do_execveat_common` directly) when building those kernels.

[code]

[2021-01-05 14:16] 0xC0ncord commented on #35
Looks to be all good here.
[code]

Thank you @Adam-pi3 !

[2021-01-05 16:31] 0xC0ncord commented on #35
Closing this, since the original issue has been fixed.

[2021-01-05 16:31] #35 closed

[2021-01-09 01:31] 0xC0ncord opened #38 "Module kobj hash is different alert on Linux 5.10.5"
After upgrading from kernel 5.10.4 to 5.10.5, I started getting this on boot as soon as systemd starts applying sysctls:

(with log_level=4)
[code]

This did not occur on Linux 5.10.4, and all that has changed was a kernel update and a rebuild of LKRG against the new kernel.

[2021-01-09 01:45] 0xC0ncord commented on #38
A quick glance at the history for 5.10.5 leads me to believe that [this commit](https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/commit/kernel/module.c?id=38dc717e97153e46375ee21797aa54777e5498f3) is somehow involved.

[2021-01-09 02:13] 0xC0ncord commented on #38
I was able to confirm that this is causing the issue. I was able to workaround it for now by reversing this commit on my local kernel build, but this is certainly an issue that needs to be worked around in LKRG now.

[2021-01-10 20:02] solardiz commented on #38
Thank you for reporting this and for your analysis, @0xC0ncord. We're trying to get this fixed upstream: https://lists.openwall.net/linux-kernel/2021/01/10/241

[2021-01-13 17:12] gnd opened #39 "Get a "Stack pointer corruption" when using LKRG on a system with nodejs"
Hello, we have recently added lkrg to the mix on one of our machines and it seems like there might be a problem. Every now and then i see this in dmesg:

The system is a standard Debian Stretch (9.13) and 4.9.0-12-amd64 kernel.
I see some issues are triggered by nodejs but not only.

Is there any way how to get rid of these problems ?

[2021-01-13 18:20] solardiz commented on #39
Hi @gnd. Thank you for reporting this. What version of LKRG is this with? If it's anything other than the latest from this repo, then please upgrade and try again. If it is the latest, then please state so and we'll look into the issue. Thanks!

[2021-01-13 18:25] solardiz commented on #38
We got a NAK from Greg KH (not a stable API, no support for out-of-tree kernel code, the new code is correct as-is as far as the kernel is concerned), so Adam now intends to work this issue around in LKRG itself. I think that's fine.

[2021-01-13 22:32] gnd commented on #39
Hi, it was an older build. I have recompiled with the latest master and still get the same issue:

[2021-01-13 22:38] solardiz commented on #39
This kernel is a binary build that came with Debian, right? Or did you rebuild?

[2021-01-13 22:47] Adam-pi3 commented on #38
Fixed by the following commit:
https://github.com/openwall/lkrg/commit/8814ebe8043d3ff4d7efbb00baacebe6a73bd8f4

[2021-01-13 22:47] #38 closed

[2021-01-14 01:29] Adam-pi3 commented on #39
Would you be able to also verify if your kernel is compiled with CONFIG_UNWINDER_ORC ?
I would be also thankful if you could tell me how I can repro the same issue as you can see. What is the nodejs configuration (i've never used it so I don't have any knowledge about it), what else is needed, etc.

[2021-01-14 09:34] gnd commented on #39
Hi,

the kernel came with Debian, and has not been rebuilt. I dont see the CONFIG_UNWINDER_ORC in the kernel config:

The machine is a GCP instance. LKRG runs fine elsewhere on GCP on Deb 10 VMs. Unfortunately I can't share more info about the Nodejs apps because they are proprietary. One notable thing might be that the node apps use a lot of RAM (~20GB) shuffling a lot of data around.

Thanks for

[2021-01-14 20:37] hedmo opened #40 "LKRG fails to compile without CONFIG_DYNAMIC_FTRACE, fails to hook many functions on e.g. RT kernels built with aggressive inlining"
hi i was trying to check lkrg out but it fails on me. i dont have much to go on but i give you
the buildlog.

regards
[build.log](https://github.com/openwall/lkrg/files/5816885/build.log)

[2021-01-15 02:44] Adam-pi3 commented on #40
Hi. I believe that the problem is your non-standard kernel configuration where you did enable CONFIG_FTRACE and CONFIG_FUNCTION_TRACER. However, at the same time you did not enable CONFIG_DYNAMIC_FTRACE. I've just pushed the commit where we add this verification as well. Can you try that fix?

[2021-01-16 07:39] hedmo commented on #40
@Adam-pi3 thank you . adding CONFIG_DYNAMIC_FTRACE to my .config made it compile.
before we close the issue.. are they mandatory?

[2021-01-16 08:08] sempervictus opened #41 "Sudo suddenly confusing LKRG"
Using b2d193b5ec7cb8aee9, on an Arch box, i'm seeing LKRG cry about `sudo` invocation spamming dmesg with:
[code]
Seems like it should recognize sudo, or cloud images which always start with an unpriv user and taking a mad hatter-like approach to root's authorized_keys file via cloud init won't let admins admin.
On the bright side, "it sure stops privesc good" :-)

[2021-01-16 13:16] solardiz commented on #40
@hedmo My reading of @Adam-pi3's commit is that it adds support for kernels compiled without CONFIG_DYNAMIC_FTRACE, so can you please test that with the latest LKRG code including this commit? Thanks! (I hope Adam will correct me if I am wrong.)

[2021-01-16 13:19] solardiz commented on #41
@sempervictus This indicates that LKRG's update of its shadow copy of process credentials didn't work as intended. It's a bug or incompatibility with your kernel version/build. LKRG isn't support to "recognize sudo" specifically, but it's also not supposed to trigger on usage of sudo.

To investigate this, I expect Adam will need to know what kernel version and build/config that was.

[2021-01-16 13:24] solardiz commented on #41
@sempervictus It could also help if you check whether the issue is present with LKRG prior to 6cf9e241bb7f095a4e1bd0f3e9d7fd73203dc0fc and (separately) prior to c049fa569598b277737837a8411b1535a92eaa66. We might also need LKRG load messages from all of these tests - including any warnings about non-hooked functions and such. Thank you!

[2021-01-16 14:29] Adam-pi3 commented on #40
@solardiz you are correct. https://github.com/openwall/lkrg/commit/b2d193b5ec7cb8aee925c0990e356f0b9c35ffed should correctly handle kernels compiled with and without CONFIG_DYNAMIC_FTRACE if I didn't overlook any corner case.

[2021-01-16 14:54] Adam-pi3 commented on #41
I would also appreciate the information about the full kernel config and CPU architecture/

[2021-01-16 16:31] solardiz commented on #37
A much older RHEL7'ish kernel. Can you perhaps simply have LKRG build revert to the old behavior when building for RHEL7 kernels older than 3.10.0-1160? Perhaps if anyone ever builds LKRG into a RHEL7 kernel, they'll do so for a current RHEL7 kernel and thus have at least the version you tested above.

We could also revert to the old behavior on some upstream kernels (perhaps at least <= 3.10), bu

[2021-01-16 16:43] solardiz commented on #37
Here's a weird workaround:

[code]

Somehow that header only defines those things when non-`MODULE`. I might look into this some further.

[2021-01-16 16:47] solardiz commented on #37
Oh, that workaround makes the module build without warnings, but then loading it does nothing - so I guess `late_initcall_sync` didn't work from modules back then, and thus was properly excluded from the header file when building a module.

I suspect it's similar on some upstream kernels (e.g.,  various 3.x), where LKRG currently builds with the warnings, and loading it doesn't actually enable it.

[2021-01-16 16:56] hedmo commented on #40
yes the latest commit :
( https://github.com/openwall/lkrg/commit/b2d193b5ec7cb8aee925c0990e356f0b9c35ffed)
 did work by adding DYNAMIC_FTRACE but fails without. but my friend did not manage to make it load : https://defuse.ca/b/shcGsgmw . is there any mandatory kernel options that needs to be added? . as i am running gentoo and maintain the lkrg ebuild i like to add the dependencies in the ebuild

[2021-01-16 20:33] sempervictus commented on #41
The architecture is x86_64, the kernel is 5.4.89 (with linux-hardened patches). Any specific Kconfig options of interest?
I'll try a few manual builds and see how they go

[2021-01-16 20:47] solardiz commented on #37
Maybe this is the cleanest fix? -

[code]

(Works on the old RHEL7'ish kernel here.)

Is there a good enough reason for us to prefer `late_initcall_sync` even when building as module? IIRC, a long time ago Adam had mentioned that (correspondingly older) LKRG worked fine even when loaded from initrd when it was still using `module_init`. So maybe we only need `late_initcall_sync` for linking into t

[2021-01-16 22:49] Adam-pi3 commented on #40
I've verified that LKRG correctly compiles and runs with and without DYNAMIC_FTRACE feature:

[code]
The problem which you see during load time is unrelated to FTRACE. Most likely you have optimized SECCOMP functions or don't have that feature. Can you tell me what is an output from the command:
`cat /proc/kallsyms |grep put_seccomp_filter`

and what is the kernel configuration for SECCOMP e.g. vi

[2021-01-16 22:51] Adam-pi3 commented on #37
@solardiz thanks for that research! `late_initcall_sync` gives us a guarantee that LKRG will be loaded very late which is somehow desired. It's better to use that. If you verified your patch and it works fine, can you push these changes?

[2021-01-16 22:55] solardiz commented on #37
@Adam-pi3 We already know `late_initcall_sync` is required (not just "somehow desired") when building LKRG into the kernel. The patch preserves that. However, it does not preserve the same "somehow desired" property when LKRG is a module. I think "somehow desired" isn't a strong enough reason to insist on using `late_initcall_sync` there just yet, given that we've been fine with 'module_init` unti

[2021-01-17 04:20] sempervictus commented on #41
So i pulled the repo and reset to 1f9809db4bed4e33fcc3db31270def6458654199, built it against the same 5.4.89 and didn't even get to test `sudo` - system locked up hard, nothing in dmesg (KVM VM with ttyS0 on virtual console). The KVM host is grsec, didn't report anything either. I rebooted the VM, reset it to d3118e4, built and `insmod` the product. I did manage to ssh in as `vagrant` and `sudo ls

[2021-01-17 04:40] sempervictus commented on #41
The build's almost wrapped, guessing that's where this will be since LKRG normally works just fine with linux-hardened.
I took a look at how the addrlimit verification works, and its pretty straightforward inside LKRG, so i need to dig into how the RANDKSTACK stuff actually impacts it. In the meantime, a dirty hack-around is probably something along the lines of:
[code]
... if trying to use that c

[2021-01-17 05:34] sempervictus commented on #41
Well, sudo's still broken without RANDKSTACK, but not getting the ADDR_LIMIT error:
[code]

[2021-01-17 06:52] sempervictus commented on #41
Digging into `p_cmp_creds` and around it, i'm actually a bit confused as to why this wasnt a problem before - what was keeping `sudo` and similar from triggering on this before?

[2021-01-17 13:29] solardiz commented on #41
@sempervictus Thank you for helping investigate this. What you're seeing is a symptom of LKRG not updating its shadow credentials where it should. There are many possible causes of that. `p_cmp_creds` is merely where the issue is seen, not where the incompatibility with your kernel is. Also, `sudo` isn't special - having worked around just `sudo` you'd later find that some other program also trigg

[2021-01-17 16:33] Adam-pi3 commented on #41
Thanks for many useful information. GRSec certainly modifies 'standard' Linux kernel behavior. Thanks for letting us know about the environment where you work on it. Based on that I have a couple of notes:

1. Can you try loading old LKRG in audit-mode only? E.g. you can set `lkrg.profile_enforce=0` or `lkrg.profile_enforce=1`. I assume that the reason why you have hang is because of the invoked p

[2021-01-17 16:47] Adam-pi3 commented on #37
I think we might have some misunderstanding what I mean by "somehow desired". LKRG should be loaded in the system after kernel is fully initialized, or at least after that phase of initialization when it is stable to have presumptions which LKRG have (e.g. .text section is not going to be modified without going to the official API like JUMP_LABEL and/or FTRACE). Some of the kernel modules *might*

[2021-01-17 17:05] solardiz commented on #37
I guess those uses are in drivers compiled into the kernel, not loaded as modules. Notice how that would be consistent with the comment you quoted, and with `module.h` defining `late_initcall_sync` merely as aliases to `module_init`. Also note how 3.11 (per that link you posted) doesn't have this in `module.h` yet, only having it in `init.h` - that's the issue we're having.

So mix fix is actually

[2021-01-17 17:26] #37 closed

[2021-01-17 18:46] sempervictus commented on #41
To be clear - this isn't a grsec kernel by any means, those are in a private tree, don't go into any public repo, etc etc. They also dont need LKRG :).
The RANDKSTACK implementation looks to have been extracted from a much older version of their patches, the current one looks nothing like it.

To ease debugging, i've pulled that out of the equation entirely for now to help track down what's going

[2021-01-17 18:56] sempervictus commented on #41
Eh, that was quick and dirty - using d3118e4 even with `insmod output/p_lkrg.ko lkrg.profile_enforce=0` causes a silent hang ~5-10s after loading the module. Testing with an older 5.4.83 build now.

Just curious, but do you guys build/test with RANDSTRUCT? I've seen prior cases of upstream+their randstruct having some "issues" (IIRC the well-known case was something in NFS getting a VLA splattered

[2021-01-17 19:10] sempervictus commented on #41
Ok, so finally got output before d3118e4 hung on 5.4.89-hardened:
[code]
^^ thats built at runtime, then loaded, so system's been up for quite a while.

[2021-01-17 19:12] sempervictus commented on #41
For the current module (using that grungy sudo bypass to run for now), i get:
[code]
[code]
[code]

[2021-01-17 19:58] sempervictus commented on #41
Confirm that this is happening with Arch Linux' upstream `linux-lts` package - a 5.4.89 sans the linux-hardened patchset. Also confirm that with THAT kernel, LKRG @ master straight-up **hangs the system** the same way older builds hung our hardened-patched kernels (well, same symptoms, no clue why either is happening for lack of stack traces).

[2021-01-17 20:59] sempervictus commented on #41
5.4.90 did not help either

[2021-01-17 21:30] Adam-pi3 commented on #41
My bet, try using `kint_enforce=0` or `kint_enforce=1`

[2021-01-17 22:06] sempervictus commented on #41
Will test with those options later tonight. Far as an env - just grab any arch image and install the lts kernel packages with devel tools.

[2021-01-17 22:58] 0xC0ncord commented on #40
@hedmo Just wanted to drop in here and let you know that I am also running LKRG on Gentoo with the latest stable kernel (5.10.7 right now). I haven't had any issues thus far, and would be glad to help provide my config if you need it.

[2021-01-17 23:00] 0xC0ncord commented on #41
I want to drop a line here and add that I have LKRG running on kernel 5.10.7 with (and only with) linux-hardened, so I do not think that linux-hardened is what may be causing problems here.

[2021-01-17 23:23] sempervictus commented on #41
Yeah, agreed, this is likely something to do with 5.4 since i can reproduce it on the official `linux-lts` package which has _none_ of our patches.

@Adam-pi3 - looks like the enforcement option isn't helping with the `sudo` bit either:
[code]

[2021-01-18 00:16] Adam-pi3 commented on #41
I've installed Arch VM with linux-lts. I've more visibility what's going on:
1. _STEXT violation - LKRG detect modification of 2 functions `ftrace_modify_all_code` and `ftrace_enable_sysctl`. LKRG places hooks on these 2 functions which is by default KPROBE hook. However, by default KPROBE optimization is enabled (`debug.kprobes-optimization=1`) which modifies original KPROBE (`0xcc`) into FTRACE

[2021-01-18 00:31] solardiz commented on #41
Notice `search_binary_handler.part.0` in one of @sempervictus' comments. Maybe that function got split in two by gcc? Would be tough to hook reliably across builds, then. Even worse is that this might happen for other functions in other builds.

@sempervictus That's not how you pass module parameters. Instead, use e.g.:

[code]

Anyway, this isn't currently needed, as you've already provided suffi

[2021-01-18 00:48] Adam-pi3 commented on #41
@solardiz I've verified that when we place hook at `search_binary_handler.part.0` it solves the problem. Per https://unix.stackexchange.com/questions/223013/function-symbol-gets-part-suffix-after-compilation:

[code]
and later:
[code]
I can see only a few path how we can handle it (none of them are good):
1. Support only specifically verified kernel versions
2. Have some direct connection with eac

[2021-01-18 01:27] sempervictus commented on #41
Far as "aggressive optimization" goes - the kernel we build here is `-O3` but `-O2` is pretty common nowadays.
The sources are @ https://github.com/archlinux/svntogit-packages/tree/packages/linux-lts/trunk - pull that, use `makepkg` to build. Arch is _very_ well documented, including its build process (part of the reason we dropped our fork of ubuntu a few years ago).

In terms of what to do next.

[2021-01-18 01:37] sempervictus commented on #41
Taking a stab at
[code]
If ^^ works, we can include the diffs in the in-tree patch, but still problematic for the average consumer using a DKMS package out of the AUR or PPAs/RPM repos.

[2021-01-18 02:44] sempervictus commented on #41
Well, was worth a shot. No dice on the CFLAGS try - sudo still not working correctly.

[2021-01-18 04:19] sempervictus commented on #41
Trying it as straight-up `noinline` but apparently the CFLAGS approach should be more like
[code]

[2021-01-18 04:44] sempervictus commented on #41
the `noinline` trick works:
[code]
and i can `sudo` correctly. So i guess that's a start...  Taking a stab at the CFLAGS approach above. Either way though, probably not practical when the intent is to ship as a module for already built kernels.

[2021-01-18 06:07] sempervictus commented on #41
Looks like its `noinline` or bust -
[code]
still produces
[code]
either i'm doing something wrong in setting the CFLAG or it just doesnt work. Either way, not ideal.

[2021-01-18 13:13] jvoisin opened #45 "register_kretprobe() for <do_execveat_common> failed!"
On the current Ubuntu, with 226ab5ed2e9ba5041b2ed0119a1bdba269ca18f4

[code]

[2021-01-18 13:29] solardiz commented on #45
@jvoisin Thanks for reporting. This is a closely related issue to #41, and we'll address both of these shortly.

[2021-01-18 13:38] solardiz commented on #41
I think we have to do that for now. Back when we were discussing switching to `search_binary_handler` that was an exported symbol, but by the time we made the change it no longer was (and apparently that change is now getting backported to stable kernels). Then we introduced hooking of `do_execveat_common` when `search_binary_handler` isn't available, but this still has the risk of both being unav

[2021-01-18 15:27] sempervictus commented on #41
Far as "solving the problem" goes, I've no clue how to talk to Linus about this stuff in a productive manner. He seems actively hostile to code not under his direct control and has damaged downstream consumers for years with his capricious GPL-only export BS and other changes which he _then backports_ to **supposedly stable** branches (which subjectively looks like a petty attempt to assert one's

[2021-01-18 16:28] Adam-pi3 commented on #41
@solardiz One more option might be to directly hook all binary handlers:
[code]

However, I'm not sure if we should do it now or in v.next. What do you think?

[2021-01-18 17:52] solardiz commented on #41
Although we mentioned it in e-mails before, I currently think this doesn't help: it's even more functions to hook yet not making the race window for exploits much smaller. Switching to hooking `search_binary_handler` at least simplified things, if it worked.

I took another look, and there are other opportunities. The binary handlers have calls back into shared exec functions, and some of those ar

[2021-01-18 18:07] solardiz commented on #41
If we hook `security_bprm_committing_creds` now, we could later harden this for v.next by checking that the credentials in `bprm` passed into this function (and available to us portably if we use it as a security hook the way it was meant to be used, not hook it via kprobes) still match what they were on `security_bprm_creds_from_file` (which we'd then hook on recent kernels) or `security_bprm_set

[2021-01-18 18:23] Adam-pi3 commented on #41
We could do the same via kprobe interface as well (extract the pointer from the passed arguments). The reason why I think it's better approach since we would not have extra dependencies comparing to what we have now.

About the hardening, another approach might be to verify if the hook was invoke when the last IP (instruction pointer) was pointing to the legit upper-level function (e.g. points to

[2021-01-18 18:30] solardiz commented on #41
Yes, but we'd need per-arch code for that.

Right, we could have special cases where our CFI man wouldn't be nearly as poor, although this would only deal with some kinds of pCFI bypasses.

Anyway, all of this is for future hardening. We need to test that LKRG works reliably across all of our supported kernels with these hooks first.

[2021-01-18 18:49] solardiz commented on #41
I now see that we actually discussed (ab)using `install_exec_creds` in the `reducing execve() p_off race window` private e-mail thread in May 2020, but not the security hooks nor the newer kernels. Yet there were also some ideas in that thread beyond what's in my lengthy comment above. We'll need to revisit it for v.next.

[2021-01-18 21:41] sempervictus commented on #41
[code]
In that context, i'd say take the longer race window. A known target on a short window is worse IMO as viable windows can be variable based on adjacent conditions, and a solid jump target without real CFI is going to become a standard ROP gadget builder in every framework out there when LKRG gains more traction (Metasploit already looks for it).

[2021-01-18 21:44] sempervictus commented on #45
Well, at least its a bit more verbose about whats failing :).

[2021-01-19 05:58] Adam-pi3 commented on #41
I've pushed a few commits which should address a few issues discussed here. The most important one is the exec* one (commit https://github.com/openwall/lkrg/commit/d3276d45e7631288d7d7f060c315e1228160c560). I've done a lot of various verification and it looks correct and a stable change. I've run various test exploits and they are correctly detected. I've verified various kernels and distros and t

[2021-01-19 06:09] Adam-pi3 commented on #45
@jvoisin Would you be able to verify the latest LKRG with recent commits?

[2021-01-19 10:02] jvoisin commented on #45
With 1a72c11:

[code]

[2021-01-19 10:44] solardiz commented on #45
@jvoisin Looks like you didn't pull/rebuild properly. There's no way LKRG as of that commit would print those messages, because it doesn't even mention `do_execveat_common` anywhere in the revised source tree.

[2021-01-19 10:51] jvoisin commented on #45
You're absolutely right, I did a `make clean` to trash the cache, and it now seems to work:

[code]

Thanks!

[2021-01-19 11:06] solardiz commented on #45
Thank you for confirming that the issue is fixed, @jvoisin. I'll close it now.

[2021-01-19 11:06] #45 closed

[2021-01-19 11:13] solardiz commented on #34
This issue is fixed in #44. Closing.

[2021-01-19 11:13] #34 closed

[2021-01-19 15:32] jvoisin commented on #41
I'm able to trigger this issue when updating man pages, and when using snap:

[code]

[2021-01-19 16:34] sempervictus commented on #41
Confirm that current master fixed the `sudo` issue on 5.4.90 (with hardened patches + randkstack-like-thing):
[code]

[2021-01-19 16:35] hedmo commented on #40
hi again . sorry for a late reply. @Adam-pi3 here is the log for SECCOMP : https://defuse.ca/b/KcINeLLh . @0xC0ncord  that is good to hear . i have a "WORK IN PROGRESS" ebuild at my git . it is working for me  but my friend is running on a RT kernel and have problem to make the LKRG module load.ATM i am on 5.10.8-xanmod-cacule with a working LKRG module :).

[2021-01-19 20:16] solardiz commented on #41
@jvoisin Are you getting this with the latest LKRG as of today? On that exact Ubuntu kernel you mentioned in #45? If so, that's bad news - we were hoping we fixed that issue for your setup as well. Please confirm, and I guess Adam will then take look at what happens with your specific kernel build (assuming it's a publicly available one).

[2021-01-19 20:29] jvoisin commented on #41
On the latest lkrg ( 1a72c11 ), on a vanilla Ubuntu kernel ( Linux grimhilde 5.8.0-38-generic #43-Ubuntu SMP Tue Jan 12 12:42:13 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux ), yes.

[2021-01-19 20:41] solardiz commented on #41
@jvoisin Thanks. Does `sudo` work on that system without triggering the issue, though?

[2021-01-19 20:52] jvoisin commented on #41
Unfortunately not:

[code]

[2021-01-19 21:00] solardiz commented on #41
Actually, that's better - should be easier for us to analyze another variation of the same issue rather than something differing more significantly. Thanks.

[2021-01-20 01:52] Adam-pi3 commented on #41
This should be fix by https://github.com/openwall/lkrg/commit/e43d2dd525f014388c1f8cc0eb8a23f2ef07f415. I've made a mistake during migration to the new hooks. Function `security_bprm_committed_creds` does not return any value (void) but our old logic needed to verify return code to correctly handle exec* case. Looks like that in that specific kernel compilation %rax registered kept some trash valu

[2021-01-20 04:20] Adam-pi3 commented on #40
@hedmo it looks like the function `__put_seccomp_filter` is inlined in your friends environment. Is it possible that he can try to add `noinline` attribute to this function and verify if my presumptions are correct?

[2021-01-20 10:21] jvoisin commented on #41
I confirm that the issue is now gone :)

[2021-01-20 12:15] solardiz commented on #41
Great. I'll close the issue now.

Because it wasn't exposed to the compiler.

[2021-01-20 12:15] #41 closed

[2021-01-20 12:28] solardiz commented on #40
BTW, this is still confusing - it's inconsistent with Adam's testing. @hedmo Can you show whether/how current LKRG "fails without" DYNAMIC_FTRACE?

The seccomp issue is a separate one.

[2021-01-20 12:31] solardiz commented on #21
Adam, while at it please also be adding `static` to most functions. Thanks!

[2021-01-20 13:20] hedmo commented on #40
@solardiz i Will remove DYNAMIC_FTRACE  when i update to 5.10.9 and report back . Maybe i forgot to use THE latest commit...

[2021-01-20 18:50] hedmo commented on #40
i can confirm that it compiles without  DYNAMIC_FTRACE.and for the SECCOMP problem :
https://defuse.ca/b/d3FNUy9c

[2021-01-20 19:28] solardiz commented on #40
@hedmo Thanks. In that pastebin, you have "Can't hook do_execveat_common". This message cannot be produced by latest LKRG, and it's unrelated to seccomp. Please try latest LKRG. Also, please put logs directly into GitHub comments, not via the pastebin service.

[2021-01-23 14:23] osevan commented on #40
http://Defuse.ca/b/gGCs4aLJ

[2021-01-23 14:42] solardiz commented on #40
@osevan Thanks. So the relevant lines are:

[code]

What is your kernel version and config, and compiler version the kernel was built with?

[2021-01-23 15:07] solardiz commented on #40
@Adam-pi3 Currently we're hooking one of these functions:

[code]

It looks like because of possible inlining of `do_seccomp` on 3.17+ we need to hook two functions: `prctl_set_seccomp` and `sys_seccomp`. I think the same handler functions can be reused for both hooks. We just need to always install them for `prctl_set_seccomp` and on 3.17+ also for `sys_seccomp`.

[2021-01-24 13:36] osevan commented on #40
RT 5.10.3

[2021-01-27 23:08] Adam-pi3 commented on #40
@solardiz I think you are correct. Regardless of that, we should change the logic to update just a seccomp configuration in that code path (not the entire process).
@osevan can you confirm that `do_seccomp` function is inlined? E.g. in the `seccomp` syscall and/or inside the function `prctl_set_seccomp`?

[2021-01-28 13:26] osevan commented on #40
cat /proc/kallsyms |grep -i seccomp
0000000000000000 T arch_seccomp_spec_mitigate
0000000000000000 T audit_seccomp
0000000000000000 T audit_seccomp_actions_logged
0000000000000000 t seccomp_check_filter
0000000000000000 t seccomp_notify_poll
0000000000000000 t seccomp_notify_ioctl
0000000000000000 t seccomp_do_user_notification.constprop.0
0000000000000000 t __seccomp_filter_orphan
000000000000000

[2021-01-28 20:43] osevan1 commented on #40
now i have noinline compile of these three functions and i receive another errors after restart and try to insmod

Jan 28 21:21:43 ex kernel: [  187.420794] p_lkrg: loading out-of-tree module taints kernel.
Jan 28 21:21:43 ex kernel: [  187.421113] p_lkrg: module verification failed: signature and/or required key missing - tainting kernel
Jan 28 21:21:43 ex kernel: [  187.423669] p_lkrg: unknown p

[2021-01-28 21:47] Adam-pi3 commented on #40
Can you also try `noinline` attribute for `change_page_attr_set_clr` ? It is informative what else might be inlined in your specific case.
Another question is, what type of aggressive optimization do you use?

[2021-01-28 22:44] osevan commented on #40
https://github.com/xanmod/linux/tree/5.10.3-rt20-xanmod1 See config file march=native as extra change and new cpu scheduler cachy revision9

[2021-01-28 22:46] osevan commented on #40
Compiler version is GCC 10.2 and binutils 2.35

[2021-01-30 14:31] solardiz commented on #38
FWIW, the kernel change problematic for older LKRG was back-ported to 5.4.87+, so recent LKRG containing Adam's commit referenced above is required for those kernel versions as well.

[2021-02-06 15:18] osevan commented on #40
I have now compiled with noinline change_page _attr_set_clr

Errorlog

sudo tail /var/log/syslog
Feb  6 16:07:44 : [  752.319162] [p_lkrg] Trying to find ISRA / CONSTPROP name for <ovl_create_or_link>
Feb  6 16:07:44 : [  752.387261] [p_lkrg] [kretprobe] register_kretprobe() for ovl_create_or_link failed and ISRA / CONSTPROP version not found!
Feb  6 16:07:44 : [  752.387264] [p_lkrg] Can't hook '

[2021-02-06 17:35] solardiz commented on #38
I've just updated the LKRG homepage to say:

"LKRG 0.8.1 supports Linux kernels up to and including 5.7.x, which were the latest at the time of this LKRG release. For Linux 5.8+ or stable 5.4.87+ (which was released after LKRG 0.8.1 and includes some back-ports from Linux 5.8+), a newer LKRG revision off GitHub is required (and we recommend that you use the latest)."

[2021-02-07 01:36] Adam-pi3 commented on #40
I've pushed more changes to LKRG which might address the problem with page attributes (https://github.com/openwall/lkrg/commit/7d45ab04d341ab2235cc364b2a8cfb45302389bb). If you define P_KERNEL_AGGRESSIVE_INLINING (uncomment https://github.com/openwall/lkrg/blob/main/src/p_lkrg_main.h#L102) LKRG will use different API for page attribute operations. Can you try that?

[2021-02-07 13:19] solardiz commented on #40
Adam, is there any reason not to have the P_KERNEL_AGGRESSIVE_INLINING behavior enabled all the time, removing the pieces of LKRG code that this setting replaces? Maybe once this setting is confirmed to help?

BTW, when you refer to a specific line number on GitHub I suggest you also refer to a specific revision, as otherwise the line number will eventually become wrong. There's the GitHub keyboar

[2021-02-07 17:02] Adam-pi3 commented on #40
@solardiz I'm not convinced that we should support by default non-standard aggressively optimized kernel builds (maybe we should?). So far, we haven't seen similar issues nowhere else. There are some side-effects by enabling this logic by default, e.g.: - Currently, P_KERNEL_AGGRESSIVE_INLINING adds more dependencies (more functions to resolve) - usually we would like to avoid it
- Kernel doesn't

[2021-02-07 18:20] solardiz commented on #40
Right. Maybe we should use temporary branches for experiments like this, not to clutter the main codebase with code that we might end up leaving unsupported and possibly broken later.

[2021-02-08 21:46] vt-alt commented on #38
We want to add a small integration test (in qemu) in ALT for similar cases. How to manually trigger this issue? Just load any other module after `p_lkrg` is loaded? @wladmis

[2021-02-08 22:41] Adam-pi3 commented on #38
@vt-alt you don't need to load any other module after LKRG. If you load LKRG and trigger integrity routine ('sysctl lkrg.trigger=1') you should be able to see this issue.

[2021-02-08 23:24] vt-alt commented on #38
@Adam-pi3 Thanks much!

[2021-02-09 13:31] solardiz commented on #38
@vt-alt Adam's reply was specifically to the question about triggering this issue. To have a higher likelihood of detecting potential future issues like this (not exactly this same issue), I think loading another module after LKRG in the integration test is a good idea.

[2021-02-10 02:05] wladmis opened #46 "LKRG does not work with kernel 5.10 on ix86"
dmesg:

    [    5.109658] [p_lkrg] Loading LKRG...
    [    5.110915] [p_lkrg] System does NOT support SMEP. LKRG can't enforce SMEP validation :(
    [    5.110915] [p_lkrg] System does NOT support SMAP. LKRG can't enforce SMAP validation :(
    [    5.319365] Freezing user space processes ... (elapsed 0.001 seconds) done.
    [    5.323209] OOM killer disabled.
    [    6.468278] [p_lkrg] [kret

[2021-02-10 03:02] vt-alt opened #47 "DEADLOCK: possible circular locking dependency detected (p_create_database)"
LKRG at 20210207 on commit 993be4b (packaged into ALT by @wladmis).

Not really testing new lkrg I got spurious boot hanging like this:
[code]
Line `LKRG initialized successfully!` does not appear. So, I reboot into debug kernel, and got boot failures like these:
[code]
[code]
After that system is not responsive but repeatedly showing these call traces.

[2021-02-10 07:06] Adam-pi3 commented on #47
I cannot repro this issue:

[code]

From the logs it's not clear what might be the real problem. At least LOCKDEP is confusing the locks (you can't have 2 contexts of `p_create_database`). Also, `p_create_database` can't be executed before finishing execution of `p_exploit_detection_init`.
However, I'm wondering about that:

[code]

it is possible that kprobe installed by `p_create_database` is be

[2021-02-10 20:26] vt-alt commented on #47
We have `CONFIG_OPTPROBES=y`. And this patch did not help. When I enable debug build (together with OPTPROBES patch) system does not hang, but still, output such messages to console:
[code]
[screenlog.1.gz](https://github.com/openwall/lkrg/files/5961349/screenlog.1.gz)
[p_lkrg.ko.gz](https://github.com/openwall/lkrg/files/5961350/p_lkrg.ko.gz)
[config.gz](https://github.com/openwall/lkrg/files/596

[2021-02-11 06:04] wladmis opened #48 "LKRG does not work with kernel 5.10 on aarch64"
Tested on 993be4b, dmesg:

    [   83.188679] [p_lkrg] Loading LKRG...
    [   84.769279] [p_lkrg] ERROR: Can't find 'native_write_cr4' function :( Exiting...

[2021-02-11 06:04] wladmis commented on #46
Note: tested on 993be4b.

[2021-02-11 07:52] Adam-pi3 commented on #47
Thanks for the details. It looks like that patch does help. LKRG initialized correctly:
[code]
My understanding is that LOCKDEP is confused and described situation is impossible to happen. Let me shed some more light on it. LOCKDEP reports that it is possible to have the situation where `mutex_lock` is taken after acquiring `text_lock`. In the entire Linux kernel tree such situation is only possib

[2021-02-11 08:00] Adam-pi3 commented on #48
Can you verify if the following patch helps?

[code]

Thanks,
Adam

[2021-02-11 10:07] wladmis commented on #48
Yes, this fixes the issue.

[2021-02-11 18:23] osevan commented on #40
Feb 11 19:14:31 ex kernel: [  169.600207] p_lkrg: loading out-of-tree module taints kernel.
Feb 11 19:14:31 ex kernel: [  169.600469] p_lkrg: module verification failed: signature and/or re
quired key missing - tainting kernel
Feb 11 19:14:31 ex kernel: [  169.602866] p_lkrg: unknown parameter 'p_init_log_level' ignored
Feb 11 19:14:31 ex kernel: [  169.603018] [p_lkrg] Loading LKRG...
Feb 11 19:1

[2021-02-11 18:32] osevan commented on #40
i loaded like in readme here
sudo insmod output/p_lkrg.ko kint_enforce=1

no errors at the moment...

could you give me best insmod method for lkrg.ko ?

[2021-02-11 18:42] osevan commented on #40
Im receiving second freeze and need to.reset with 8 second.hold.power button

:-(

Insmod with king inforce 1

[2021-02-11 19:44] Adam-pi3 commented on #48
Fixed by https://github.com/openwall/lkrg/commit/62de614bab7ca495f7da474abb2610f5e825a850

[2021-02-11 19:44] #48 closed

[2021-02-11 19:52] vt-alt commented on #47
I tested with a new patch - it didn't hang, but still output DEADLOCK warning.
[code]
This still looks scary because of the warning.

[2021-02-11 19:53] Adam-pi3 commented on #40
OK,  so we solved the problem with loading, thanks for the information :)
After loading LKRG, can you change the enforcement profile to 0? You can do it by executing the following command:
[code]
After running this command, can you try to repeat what you've done which resulted in freezing / crashing and check what is in the logs? Is there anything which LKRG reports?

[2021-02-11 19:57] Adam-pi3 commented on #47
I understand that warning looks scary. However, I'm not sure what we can do. Per my description in my previous comment, such situation (deadlock) is impossible to appear because of `ftrace_lock` protection.
@solardiz do you have any suggestion?

[2021-02-11 20:12] vt-alt commented on #47
ps. If you are 100% sure of a false positive, there are means to suppress lockdep warnings, such as lockdep_off() or __ATTR_IGNORE_LOCKDEP. Never used them myself.

[2021-02-11 21:21] osevan commented on #40
Ok.thank you I.will.test.tomorrow

[2021-02-11 21:29] solardiz commented on #47
@Adam-pi3 I haven't looked into whether your analysis is correct. If this is in fact a false positive, then suppressing the warnings makes sense to me. If the deadlock risk is for real, then that should be fixed.

[2021-02-12 02:27] Adam-pi3 commented on #47
I've just pushed the commit suppressing the warnings. Thanks @vt-alt for the tip!

[2021-02-12 11:30] osevan commented on #40
Feb 12 12:20:19 ex kernel: [ 1419.628220] [p_lkrg] [kretprobe] register_kretprobe() for <ovl_create_or_link> failed! [err=-22]
Feb 12 12:20:19 ex kernel: [ 1419.628230] [p_lkrg] Trying to find ISRA / CONSTPROP name for <ovl_create_or_link>
Feb 12 12:20:19 ex kernel: [ 1419.741387] [p_lkrg] [kretprobe] register_kretprobe() for ovl_create_or_link failed and ISRA / CONSTPROP version not found!
Feb 12

[2021-02-12 12:12] osevan commented on #40
It comes suddenly but two times in row when I try to login in firefox's witj autologin and hit enter.

Firefox is running in firejailed sandbox with x-server sandbox (xpra) as non root Unix sockets

[2021-02-12 12:14] osevan commented on #40
But it comes outside of.Firefox  too for example in libreoffice.

Dunnno why  it comes suddenly and randomly.

We need better Tracing possibility in Lkrg to.figure out what is the mistake

[2021-02-12 15:35] Adam-pi3 commented on #40
Thanks for test. Most likely you should disable `kint_integrity` and verify if it helps. You can do it via:

[code]

LKRG has a very detailed level of tracing. It is controlled via `log_level` parameter. Per our documentation:

[code]

I would suggest to disable `kint_validate` and verify if that helps. If it does, increase `log_level` up to the level 5 (5 and 6 is available on debug build) and re

[2021-02-12 16:31] osevan commented on #40
His I can build with debug options?

[2021-02-12 16:49] Adam-pi3 commented on #40
Change the following line in `Makefile`:

[code]

[2021-02-12 17:48] Adam-pi3 commented on #40
@osevan is it possible for me to set-up the same environment so I would be able to repro your issues? It will significantly help me with debugging.

[2021-02-12 19:52] osevan commented on #40
ofcourse

wget https://github.com/xanmod/linux/archive/5.10.3-rt20-xanmod1.zip
dtrx *.zip
cd linux-5.10.3-rt20-xanmod1
wget https://raw.githubusercontent.com/hamadmarri/cacule-cpu-scheduler/master/patches/Cachy/v5.9/xanmod-rt/cachy-5.9-r9-rt.patch
patch -p1 < cachy-5.9-r9-rt.patch

replace .config with  my config
attention replace config like with this one  else cachy wont compile   here is config

[2021-02-12 20:15] osevan commented on #40
Feb 12 21:06:12 ex kernel: [ 1765.913254] [p_lkrg] Leaving function <p_dump_task_f>
Feb 12 21:06:12 ex kernel: [ 1765.913256] [p_lkrg] Entering function <p_ed_enforce_validation>
Feb 12 21:06:12 ex kernel: [ 1765.913261] [p_lkrg] Leaving function <p_ed_enforce_validation>
Feb 12 21:06:12 ex kernel: [ 1765.916989] [p_lkrg] Entering function <p_ed_enforce_validation>
Feb 12 21:06:12 ex kernel: [ 176

[2021-02-15 06:54] Adam-pi3 commented on #40
I've compiled and installed the same kernel on 2 different VMs and I believe I found what's the problem. It looks unrelated to LKRG but under resource pressure LKRG makes that problem more visible. During normal run on Ubuntu 20.04 server version I haven't seen any problems with LKRG and your kernel. When I did the same test on CentOS I also didn't see any bad results. However, when I enabled X wi

[2021-02-15 10:24] wladmis opened #49 "Issue while booting on IA-32"
LKRG build: da571d3
Kernel: 5.4

    [    8.861781] [p_lkrg] Loading LKRG...
    [    8.862813] [p_lkrg] System does NOT support SMEP. LKRG can't enforce SMEP validation :(
    [    8.863662] [p_lkrg] System does NOT support SMAP. LKRG can't enforce SMAP validation :(
    [    8.891631] Freezing user space processes ... (elapsed 0.001 seconds) done.
    [    8.894079] OOM killer disabled.
    [

[2021-02-15 13:46] solardiz commented on #47
Can this issue be closed as fixed, @vt-alt?

[2021-02-15 13:50] #47 closed

[2021-02-15 14:18] solardiz commented on #40
@Adam-pi3 I'm not an expert on Linux kernel locking conventions and I didn't look into your specific findings in detail now, but here are some general observations and thoughts:

You appear to read `_irqsave` as implying "IRQ safe". I think what this naming actually means is merely saving/restoring of IRQ disabled status, so that a subsequent `_irqrestore` wouldn't wrongly enable IRQs if they were

[2021-02-15 15:29] Adam-pi3 commented on #40
By "irqsave" I was referencing to the logic which is documented in R/W locks:
[code]

However, in the logic described above they do not do it. I guess RT kernel has different presumptions.

Thanks for the reference. I went through it and it seems like it documents that RT locks are different:
[code]

Essentially, it documents that `write_lock_irqsave` is not doing `irqsave`. However, they do sugge

[2021-02-15 20:42] Adam-pi3 commented on #49
Do you see it only on 32-bit platforms? Can you confirm that you don't have any special changes in the kernel?
Can you repro this issue reliable?

From the logs I can see that problem was hit for the *kernel* thread:

[code]

'kthreadd' is a kernel thread. The stack traces somehow confirms that:

[code]

However, We have the logic to not touch the kernel threads via:

[code]

I have no idea how it

[2021-02-15 20:53] solardiz commented on #49
FWIW, disassembly of the crash place:

[code]

So the pointer read from `0x4f4(%esi)` is NULL.

[2021-02-15 21:29] Adam-pi3 commented on #46
Can you paste the result of the command:

`cat /proc/kallsyms|grep setuid`

[2021-02-15 21:45] osevan commented on #40
Thank you very much for.finding the exact issue.

Some important notes about rt kernels:

Rt kernels are used in time critical area like medicine robots snd lazer machines  - its important for everyone, who need operations by doctors lazer robots for eyes or for lifesaving products in hospitals.

So.we need everytime rt kernels if the mission is critical and in life threatening situations.

If you

[2021-02-15 21:54] osevan commented on #40
![Screenshot_20210215_225404](https://user-images.githubusercontent.com/77795961/107996486-cd245580-6fe0-11eb-9ac3-a0d4140d239f.jpg)

[2021-02-15 22:12] solardiz commented on #40
@osevan I think you've just given us an excellent reason to refrain from supporting RT kernels. For medical and similar devices, reliability is crucial. LKRG doesn't improve reliability - at best, it doesn't hurt it, although it might. LKRG aims to reduce the number of security compromises across a "population" of Linux systems and over time - yet for individual systems and occasionally it might e

[2021-02-15 22:42] osevan commented on #40
:-(

[2021-02-15 22:47] solardiz commented on #40
@osevan No regrets. Sound reasoning is important, and I think we've arrived at it here, in part due to you. Thank you!

[2021-02-15 22:51] solardiz commented on #40
@Adam-pi3 Yes, please do that and then close this issue. Thank you!

You might also want to revert the commit adding support for aggressive inlining as was seen in an RT kernel here, or you can keep it for now for quicker testing in case similar issues come up in non-RT kernel builds.

[2021-02-16 05:10] #40 closed

[2021-02-16 10:03] wladmis commented on #46
c1085420 T __sys_setuid
    c1085500 T __ia32_sys_setuid
    c1118940 T __ia32_sys_setuid16
    c11d4370 T bpf_lsm_task_fix_setuid
    c13eb7a0 T cap_task_fix_setuid
    c13f0090 T security_task_fix_setuid
    c1441f00 t safesetid_task_fix_setuid
    c1d0fea0 d event_exit__setuid
    c1d0ff00 d event_enter__setuid
    c1d0ff60 d __syscall_meta__setuid
    c1d0ff84 d args__setuid
    c1d0ff88 d typ

[2021-02-19 07:30] Adam-pi3 commented on #49
Can you verify if the latest commit (https://github.com/openwall/lkrg/commit/8a3aaa65c0fb97064139d2f361ad82ab6e28a377) fixes this issue? It looks like LKRG was broken on IA-32

[2021-02-19 07:30] Adam-pi3 commented on #46
Can you verify if the latest commit (https://github.com/openwall/lkrg/commit/8a3aaa65c0fb97064139d2f361ad82ab6e28a377) fixes this issue? It looks like LKRG was broken on IA-32

[2021-02-19 11:25] wladmis commented on #49
The commit 8a3aaa65c0fb97064139d2f361ad82ab6e28a377 fixes the issue. Thank you!

[2021-02-19 11:25] #49 closed

[2021-02-19 11:34] wladmis commented on #46
It seems that commit 8a3aaa65c0fb97064139d2f361ad82ab6e28a377 fixes the issue. Thank you!

[2021-02-19 11:34] #46 closed

[2021-03-12 16:43] 0xC0ncord opened #56 "Detected data corruption against SELinux when inserting policy modules"
Sometimes, when using `semodule -i *.pp` to install a new SELinux module or update an existing one, LKRG detects this as an attack against the internal state of SELinux.

This error was recorded on a 5.10.19 system running in permissive mode while updating a policy module:
[code]

I haven't found a reliable way to reproduce this behavior, but in the cases where it occurs, it occurs consistently on

[2021-03-12 16:46] 0xC0ncord commented on #56
Here is another case (with additional log verbosity) where a new module was being installed:
[code]

[2021-03-12 19:34] Adam-pi3 commented on #56
Do you have enabled GCC_PLUGIN_RANDSTRUCT  ?

[2021-03-12 19:35] 0xC0ncord commented on #56
Yes.

[2021-03-12 21:33] Adam-pi3 commented on #56
Currently, our SELinux protection logic is incompatible with GCC_PLUGIN_RANDSTRUCT since kernel 5.6. Without GCC_PLUGIN_RANDSTRUCT or if GCC_PLUGIN_RANDSTRUCT  is enabled but kernel < 5.6 it works fine. We are aware of that and we are working on a proper fix to support SELinux protection on kernels 5.6+ with GCC_PLUGIN_RANDSTRUCT.
@oshogbo is driving this changes.

[2021-03-12 21:41] solardiz commented on #56
@Adam-pi3 Since getting this fixed properly is taking a long while, maybe you can meanwhile disable the known-buggy functionality in LKRG? That is, exclude "SELinux protection on kernels 5.6+ with GCC_PLUGIN_RANDSTRUCT."

[2021-03-12 21:52] Adam-pi3 commented on #56
In fact, yesterday I've been talking with @oshogbo and reviewing his changes and after some suggestions it work up to the kernel 5.11. We are working now to add support for 5.11+.

I think we can add it but we would need to revert such changes relatively soon. As soon as 5.11+ support will be done. We can also push the current changes but it won't work for 5.11+

[2021-03-12 21:55] solardiz commented on #56
Great news that progress is being made on this. Not having seen those WIP changes, I don't know how close to being ready they actually are. It may well make sense to disable the broken functionality meanwhile.

[2021-03-12 22:01] solardiz commented on #56
Checking our e-mail discussion from January, besides the issue with RANDSTRUCT there's also the issue with LKRG not supporting CONFIG_SECURITY_SELINUX_DISABLE=n:

[code]

Perhaps you can fix this other issue without waiting on @oshogbo?

[2021-03-12 23:20] Adam-pi3 commented on #56
In fact, the upcoming changes will address it as well. I think it's better to focus more on adding support for 5.11+ and speed-up that work. It will fix all the problems :)

[2021-03-13 05:42] sempervictus commented on #56
Does the RANDSTRUCT problem exist when LKRG is built into the kernel with access to the struct layouts at compile time and the seed used?

[2021-03-20 10:00] solardiz commented on #56
@0xC0ncord This issue should be fixed by #57, which is merged. Can you please test and confirm, and if so close the issue? Thanks!

[2021-03-21 23:27] 0xC0ncord commented on #56
@solardiz So far I haven't been able to reproduce the issue since building from master and using the same kernel, so it looks to be solved. Hopefully soon we can reinstate SELinux protections when RANDSTRUCT is in use in the future however. Going to close this since the original issue has been resolved.

[2021-03-21 23:27] #56 closed

[2021-03-28 11:12] solardiz opened #59 "LKRG's UMH code fails to build on CentOS 8 Stream"
As reported/discussed in https://www.openwall.com/lists/lkrg-users/2021/03/28/2, the same or similar problem to #17 reoccurs on CentOS 8 Stream now, perhaps due to a backport from Linux 5.9+. We probably need to add checks for kernel versions that include the backport (just some RHEL8 or maybe also some upstream stable kernels?)

[2021-03-28 20:58] #59 closed

[2021-03-29 03:31] vt-alt opened #60 "Build failure for Ubuntu bionic (Linux v4.15): p_selinux_state_restore undefined"
While experimenting with CI for LKRG I found that build is failing on old Ubuntu 18.04.5 LTS (Bionic Beaver) for their kernel 4.15:
[code]

I don't know if this kernel version is relevant, feel free to close the issue if it isn't.

[2021-04-10 18:04] solardiz opened #63 "Release LKRG 0.9"
I've just pushed an update to CHANGES that Adam and I have worked on. With this, are we ready to change the version number and make the release, or are there any blockers left? I'd appreciate comments from any/all contributors to this release. Thanks!

[2021-04-10 18:36] solardiz opened #64 "P_PCFI_X86_SMAP is wrong"
`P_PCFI_X86_SMAP` is defined to 3. I think it should be 4, so that it's a separate bit not clashing with others.

Luckily, this bug appears to have little impact: the other two bits are WP and SMEP, and any CPU with SMAP also has SMEP. The only impact appears to be on the "log and accept" mode for SMAP validation, which isn't normally enabled on systems where security matters. In that mode, upon d

[2021-04-10 18:37] solardiz commented on #63
OK, the release is blocked at least by #64 now (should be an easy fix).

[2021-04-11 16:10] Adam-pi3 commented on #60
Thanks for reporting this issue. It should be fixed now.

[2021-04-11 16:10] #60 closed

[2021-04-11 16:19] Adam-pi3 commented on #64
Nice catch! I've just pushed the fix and we can close it

[2021-04-11 16:19] #64 closed

[2021-04-11 16:25] Adam-pi3 commented on #63
I've just pushed fixed for #60  and #64. I think we should be fine now...

Btw. Thanks for handling it!

[2021-04-11 17:25] solardiz commented on #63
@Adam-pi3 Shouldn't we document #64 and its fix in CHANGES somehow? Any suggested wording?

[2021-04-11 17:55] Adam-pi3 commented on #63
Hm... I'm fine with reflecting or not reflecting it in CHANGES. I don't know if this needs special handling. However, if you think that we should then what about:

*) Fix SMAP validation for "log and accept" mode

What do you think?

[2021-04-12 08:17] solardiz commented on #63
I'd like to better understand the impact #64 had. I think in SMAP's "log and accept" mode functionality for SMEP and WP validation was affected, which your suggested description doesn't cover. Also, maybe "log and accept" for SMEP and WP, if both were triggered and in that mode, would also end up silently "accepting" a future SMAP violation, even if SMAP isn't in "log and accept". (I didn't verify

[2021-04-12 11:35] solardiz commented on #63
Looks like the only impact was potentially not logging one or two "Accepting ... new state" messages after the first such message had been logged - so e.g. if a SMAP violation was detected first, then a subsequent SMEP or WP violation wouldn't be logged. This only affected the "log and accept" mode.

Current proposal:

[code]

[2021-04-12 12:01] solardiz commented on #63
After an e-mail discussion with Adam on how exactly LKRG was broken on 32-bit x86, I intend to use this summary:

[code]

The "luck" here is a bit value in a register, which I guess varies by builds of both the kernel and LKRG. When the luck is "poor", there would probably be false positives or even a boot failure like we see in #49. I wonder if security impact is also possible in some builds.

On

[2021-04-12 15:41] solardiz commented on #63
BTW, should we call the release 0.9 or 0.9.0? The previous one was 0.8.1 and we might need more releases before 1.0, so we could as well keep the 3-digit format at least until 1.0. Any preferences?

[2021-04-12 16:43] Adam-pi3 commented on #63
Hm I think it's a good idea to have 3-digit format. We might not use it but maybe we would need it before releasing 1.0. We should try 3 digit format.

[2021-04-12 17:42] solardiz commented on #63
We don't have any git tags yet. I think let's start tagging releases like this (and yes, also add this tag for 0.8.1):

[code]

This is the same format of tags that Linux kernel uses, although there they use annotated tags with "Linux ..." in the annotation text.

[2021-04-12 17:45] solardiz commented on #63
The top committers since the previous release are:

[code]

I think I'll manually combine the two Adams into one. ;-) We could also add a `.mailmap` and exclude it from tarballs by `.gitattributes`.

[2021-04-12 17:49] solardiz commented on #63
@Adam-pi3 Which one would you like to keep in the release announcement?

[2021-04-12 18:41] Adam-pi3 commented on #63
I've added it and push it. However, I'm not sure if it is reflected in github

In the announcement  I would prefer Adam 'pi3' Zabrocki if possible ;-)

[2021-04-12 18:53] solardiz commented on #63
I think you didn't push, you'd do that with `git push --tags`. Anyway, I already have the tag set in my local tree and intend to push it from there, so you might want not to push yours (hopefully, it's the same, though).

[2021-04-12 18:59] Adam-pi3 commented on #63
Ah OK. I will wait for you doing it

[2021-04-12 19:19] solardiz commented on #63
I actually did that thing. I also now have 0.9.0 prepared and tagged locally, not pushed yet in case we need any last-minute change. Release tarballs can now (once I push the tag) be prepared with:

[code]

[2021-04-12 19:28] solardiz commented on #63
BTW, I'm happy LKRG became smaller again (despite of some additions):

[code]

[2021-04-12 20:07] solardiz commented on #63
I've just pushed the release. I'll proceed with further steps (website update, announcements).

[2021-04-12 20:12] Adam-pi3 commented on #63
Thank you very much!

[2021-04-12 20:43] solardiz commented on #63
There are still a few things for me to do on this, but the release is out - closing the issue.

[2021-04-12 20:43] #63 closed

[2021-04-13 21:24] morfikov opened #65 "LKRG build fail on the 5.11.13 kernel"
[code]

[code]

[2021-04-13 22:11] Adam-pi3 commented on #65
You must have something wrong with you build environment since these are not the LKRG problem but linker can't find the standard Linux Kernel functions (e.g., `kfree` or `smp_call_function_single`). In this log it looks like none of the kernel API is visible.

[2021-04-14 06:55] morfikov commented on #65
Hmm, that's weird. I haven't really changed anything in my build system. Can kernel config caused this? I've been playing with it a little bit recently, but it looks like everything else works well.

[2021-04-14 07:00] morfikov opened #66 "Signed github source"
LKRG source is signed, but the signature file is only available on its [website](https://www.openwall.com/lkrg/). Can you also include the signature file in the github releases page?

[2021-04-14 09:20] solardiz commented on #66
https://github.com/openwall/lkrg/releases currently has tarballs auto-generated by GitHub based on git tags. That's not what our release signatures are valid for - they're for tar.gz files I created on the computer where I sign Openwall releases. We could switch to signing whatever tarballs GitHub generates, but that would unnecessarily put more trust into GitHub or/and require extra manual review

[2021-04-14 10:14] morfikov commented on #66
It depends, because when a user see here on github something in the Releases section, he can assume that is the source you've provided. If you have an external website to store the tar.gz files along with the signatures, I think there's only two ways to go. One is to remove the Release section here (and provide some info with the link to the actual releases), or as mentioned, override the auto gen

[2021-04-14 10:33] solardiz commented on #66
OK, I removed "Releases" for now. The same GitHub-generated tarballs can also be downloaded via the tags link anyway, but they're not "marketed" as releases now, so I guess wouldn't be expected to match our signatures.

GitHub also has a "Packages" feature, now disabled in this repo, which is another way/place for us to add externally generated files if we want to.

I'll close this issue for now,

[2021-04-14 10:33] #66 closed

[2021-04-14 11:22] morfikov commented on #65
I tested whether it build on the debian distro kernel (5.10.0-6-amd64), and it looks like it works well. So I think some kernel config prevents this in the case of my custom kernel.

[2021-04-14 16:26] Adam-pi3 commented on #65
From the logs it doesn't look like the problem with the CONFIG. Otherwise, LKRG won't build object files correctly. It is possible that linker / modpost / symver cached the previous kernel compilation attributes / offsets and tries to use that 'older' information in the current build.
Another possibility might be that kernel header path does not match the current compilation.
One of the dumb solut

[2021-04-14 16:26] #65 closed

[2021-04-15 06:23] morfikov commented on #65
To be honest, I have no idea why it's not working. I've built a new (5.11.14) kernel , and lkrg also can't be built on it.

I've run `make`  with `V=1` and it says something like this:

[code]

but:

[code]

So I have no idea what's wrong, why this happened, and how to fix it. :)

[2021-04-15 08:33] adrelanos opened #67 "sign git tag v0.9.0 (or commit)"
Could you please sign git tag `v0.9.0` and or that commit pointing at `v0.9.0`?

Commits of previous releases were signed.

[2021-04-15 10:59] solardiz commented on #67
We'll need to decide on commit/tag signing in general (so far, only Adam's commits in this repo are signed), but meanwhile you can verify the signature on the 0.9.0 release tarball on the Openwall website, and if you intend to use git then confirm that the trees are identical (perhaps with `diff -urNx .git -x .gitattributes -x .mailmap`).

For commit/tag signing in general, what is the best practi

[2021-04-15 14:54] solardiz commented on #27
FWIW, regarding kprobes attack surface concerns raised here, from Adam's latest testing of LKRG 0.9.0:

[code]

[2021-04-15 14:57] solardiz commented on #27
I think I need to add that setting `CONFIG_FTRACE=n` _probably_ increases LKRG's performance impact (_likely_ making it higher than e.g. what Phoronix reported), but we don't have such benchmarks yet.

[2021-04-15 16:31] adrelanos commented on #67
Thank you for your consideration!

Signing all (or most) commits leaves an audit track.

A long time since I looked into this. Last time I did I concluded it's best if all (new) git commits and (news) tags are signed. That makes manipulation by a mitm more difficult / easier to notice.

References:
https://forums.whonix.org/t/how-safe-are-signed-git-tags-only-as-safe-as-sha-1-or-somehow-safer/643

[2021-04-16 02:41] Adam-pi3 commented on #65
Usually such error is when the target kernel is not matching the one where the object files are compiled. E.g. if you have Linux kernel git tree and you compile DKMS targeting current compilation and next you update the tree and have slightly different image (or other way around)

[2021-04-16 12:48] solardiz commented on #19
Looks like I user faced this issue, but doesn't mind it: https://www.opennet.ru/openforum/vsluhforumID3/123973.html#2

[2021-04-16 14:50] morfikov commented on #65
It looks like the problem is in the kernel `.config` file. I imported the debian stock kernel config and placed it in my kernel source. I've built the debian package via `bindeb-pkg` , and the package was created. I installed it in the system, and DKMS modules can be built without any issue on this kernel. So apparently some kernel config option is missing or has to be changed, but I have no idea

[2021-04-17 15:05] morfikov commented on #65
I've found it!

It looks like when `CONFIG_TRIM_UNUSED_KSYMS` is set, then dkms modules (including lkrg) have this `ERROR: modpost`.

[2021-04-17 18:22] Adam-pi3 commented on #65
@morfikov Thanks for the update - it's very interesting!

[2021-04-17 18:24] solardiz commented on #65
@morfikov @Adam-pi3 I guess one of you should add detection of this CONFIG option and a clean `#error` on it, like we already have for other CONFIG options unsupported or required in LKRG. Maybe a good opportunity for @morfikov to contribute to LKRG directly, via a pull request?

[2021-04-17 18:37] morfikov commented on #65
You can go ahead and just fix the issue. I'm gonna prepare the `debian/` dir for building the module via `pbuilder`/`dpkg-buildpackage` soon, so I'll contribute anyway. :)

[2021-04-17 20:10] Adam-pi3 commented on #65
@solardiz from my understanding of the issue, this is something not LKRG specific but general problem of any 3rd party module build as DKMS. I'm not sure if LKRG should have hardcoded option of verifying it. If you compile LKRG in a standard way when this option is enabled, then you might not see any problems.

[2021-04-17 20:17] morfikov commented on #65
Actually it's not a DKMS issue. When I tried to build the module via `make` from the lkrg source dir, I got the same errors. So I don't thing there's a way to build any external module when this option is enabled.

[2021-04-18 10:44] solardiz commented on #65
So what? We can easily detect it at LKRG build time and print a helpful `#error`. I think we should do that instead of having users frustrated and us having to spend more time on user support. Will you please add this check, @Adam-pi3?

[2021-04-18 10:47] solardiz commented on #65
What about in-tree modules? Linking LKRG into the kernel? Maybe we should have exceptions from the check I just suggested Adam adds? (Actually, I think that due to LKRG looking up some non-exported symbols at runtime, it will possibly conflict with `CONFIG_TRIM_UNUSED_KSYMS` even when linking into the kernel. But ideally someone would actually try.)

[2021-04-18 10:57] solardiz opened #69 "Intermittent "MODULE'S <kvm> HASH IS DIFFERENT" on shutdown of Ubuntu VM with 5.12.0-051200rc7daily20210416-generic"
As seen in:

https://github.com/openwall/lkrg/runs/2361227895?check_suite_focus=true

an Ubuntu VM with the 5.12.0-051200rc7daily20210416-generic kernel triggered an LKRG false positive and kernel panic, twice.

The first was on system shutdown:

[code]

The second looks after system startup, but before(?) shutdown (although somehow the system uptime was very similar to the first, so maybe shutdow

[2021-04-18 11:05] morfikov commented on #65
The in-tree modules don't seem to have any issues when `CONFIG_TRIM_UNUSED_KSYMS` is set. I've set this option a few months ago, and I didn't see any issue with it. I'm not sure whether LKRG would have any issues if that option was set when the module was built in-tree. I could check that and see what happens.

[2021-04-18 11:15] solardiz commented on #65
@morfikov LKRG is special in that it also uses `kallsyms_lookup_name` on some symbols at runtime, even when in-tree it could have obtained them at compile-time. We just reuse the same code in LKRG for both out-of-tree and in-tree cases. So while other modules build and load fine when built in-tree with `CONFIG_TRIM_UNUSED_KSYMS`, my guess is LKRG will fail to initialize. Yes, you could check and s

[2021-04-18 12:43] morfikov commented on #65
@solardiz, I've just built the 5.11.15 kernel. It looks like it works well:

[code]

[2021-04-18 13:00] solardiz commented on #65
@morfikov Oh, great. So any check we might add for `CONFIG_TRIM_UNUSED_KSYMS` should be excluded when `CONFIG_SECURITY_LKRG`

[2021-04-18 15:12] solardiz commented on #69
We've just triggered two more of these just like the above in https://github.com/openwall/lkrg/pull/68/checks?check_run_id=2374662481

[2021-04-18 16:28] udovdh opened #70 "Too many spurious errors/warnings on failing builds with unsupported kernel configs"
[code]

[2021-04-18 16:29] udovdh commented on #70
Yes RT and such but is this a nice way of handling things?

[2021-04-18 16:36] solardiz commented on #70
What do you mean?

[2021-04-18 16:38] solardiz commented on #70
Oh, didn't notice right away. So we're correctly refusing to build LKRG with those `#error` lines.

Do you have a better suggestion?

[2021-04-18 16:41] udovdh commented on #70
Not really a way but perhaps a little less clutter around the lines.
Not everyone is a programmer and sees through the lines.

[2021-04-18 16:45] solardiz commented on #70
Maybe we should try moving the `#error` lines closer to the beginning of `p_lkrg_main.h` and see if this prevents the rest of the error/warning messages from appearing.

Can you try moving these lines:

[code]

to right after the last `#include` in that file - currently, that would be to line 94.

Does this reduce the clutter?

[2021-04-18 16:51] udovdh commented on #70
Yes, in some way:
The error lines appear more towards the top, below it are the compiler  errors.
That is an improvement.

[2021-04-18 17:00] solardiz commented on #70
I'm not so sure: it would have e.g. helped me notice the right errors here on GitHub, but when you run `make` in a terminal you probably end up with the last set of errors still on the screen, and need to scroll up for the first error.

[2021-04-18 19:15] solardiz commented on #70
Looking at the specific spurious warnings/errors you got, maybe this patch would help (instead of moving those lines):

[code]

[2021-04-18 19:20] solardiz commented on #70
Actually, I think this is a better fix:

[code]

[2021-04-18 19:28] solardiz commented on #70
Hmm, looking at the line numbers in @udovdh's build log, apparently `CONFIG_HAVE_ARCH_JUMP_LABEL_RELATIVE` was defined. So it should be something like:

[code]

[2021-04-18 19:33] #70 closed

[2021-04-18 19:58] solardiz commented on #70
@udovdh I've just pushed the above fix, but would appreciate you verifying that it helped. Thank you!

[2021-04-18 23:17] Adam-pi3 commented on #69
Can we uncomment this definition:
https://github.com/openwall/lkrg/blob/main/src/modules/print_log/p_lkrg_log_level_shared.h#L36

and then try to repro it again?

[2021-04-18 23:47] Adam-pi3 commented on #65
https://github.com/openwall/lkrg/commit/053493bba5e4d8eb3486a3d4239315e6950959ef

[2021-04-19 01:15] vt-alt commented on #69
@Adam-pi3 Can you see boot logs in failed actions (by these URLs)?

[2021-04-19 04:43] udovdh commented on #70
@solardiz with your last patch I get:

# make
make -C /lib/modules/5.11.4-rt11/build M=/usr/src/lkrg-0.9.0 modules
make[1]: Entering directory '/usr/src/linux-5.11'
  CC [M]  /usr/src/lkrg-0.9.0/src/modules/ksyms/p_resolve_ksym.o
In file included from /usr/src/lkrg-0.9.0/src/modules/ksyms/p_resolve_ksym.c:19:
/usr/src/lkrg-0.9.0/src/modules/ksyms/../../p_lkrg_main.h:364:3: error: #error "LKRG requ

[2021-04-19 11:34] solardiz commented on #70
Thank you for testing this, @udovdh!

[2021-04-19 19:58] Adam-pi3 commented on #69
@vt-alt Yes I do

[2021-04-19 20:28] solardiz opened #72 "SELinux false positive"
The below review of LKRG 0.9.0 implies LKRG doesn't support SELinux because of the false positive, whereas it's actually an issue we need to look into and fix. (Certainly LKRG works on at least some other systems with SELinux. Why else would we care to detect SELinux integrity violations if we didn't support it entirely.)

https://linuxreviews.org/Linux_Kernel_Runtime_Guard_0.9.0_Is_Released

[cod

[2021-04-19 20:40] solardiz commented on #72
Also, the above link got Slashdotted and the misinformation that LKRG presumably deliberately doesn't support SELinux is now spreading. Luckily, a Slashdot moderator seems to have edited it out of the user's submission (it was in there, still seen at another Slashdot URL).

https://news.slashdot.org/story/21/04/17/2118236/openwall-releases-linux-kernel-runtime-guard-090

[2021-04-19 21:04] Adam-pi3 commented on #72
Yes, I saw that article and I was thinking that maybe we can contact the authors for repro since maybe they have enabled RANSTRUCT? However, before I want to make the tests with the distro which they mentioned

[2021-04-19 21:08] solardiz commented on #72
I've just replied to their tweet. Maybe this will do the trick.

This would mean the kernel was built with RANDSTRUCT, but LKRG built against a kernel config without RANDSTRUCT, right? So an error somewhere outside of LKRG (user's or distro's), but we could try to do better regardless.

Which one? We definitely need to start testing on AlmaLinux regardless of this issue, if that's what you meant.

[2021-04-19 21:22] Adam-pi3 commented on #72
That's a valid point.

Yes, I meant Alma (I've never heard about it before)

[2021-04-19 21:55] Adam-pi3 commented on #72
Hm... I've reviewed the SELinux refactor code again and I think we have a very trivial bug where the new logic does not call `p_selinux_state_update()`. Here we have this call:

https://github.com/openwall/lkrg/blob/3679a4f529739db10b7e266b7cca7a32d62331da/src/modules/exploit_detection/p_selinux_state.c#L52

but not here:

https://github.com/openwall/lkrg/blob/3679a4f529739db10b7e266b7cca7a32d6233

[2021-04-19 21:57] Adam-pi3 commented on #72
What is also interesting none of the automatic tests based on Ubuntu hit that problem (`mkosi` neither `out-of-tree`). I think we need to add more distros for automatic tests

[2021-04-20 01:18] Adam-pi3 commented on #72
I've verified that proposed fix works on Fedora and Alma Linux. I've also run exploits against SELinux and it is correctly detect on above environments

[2021-04-20 09:26] solardiz commented on #69
Also triggered in https://github.com/openwall/lkrg/runs/2386595802

[code]

[code]

[2021-04-20 09:44] solardiz commented on #72
Looks like the bug is only triggered if SELinux is already in enforcing state when LKRG is loaded, and only on Linux 4.17+. We need to add a CHANGES entry documenting that. We should also plan on making a 0.9.1 release soon.

[2021-04-20 11:24] solardiz opened #73 "Release LKRG 0.9.1"
This issue is to get opinions on and track tasks required for releasing 0.9.1.

We've already fixed #72. Need to update CHANGES.

Should we also figure out and fix #69 before the release, or will its fix (whatever it is) be part of 0.9.2 or such? I think getting a release out with a fix for #72 is more urgent, so unless we can get #69 fixed really soon we shouldn't delay the release because of it.

[2021-04-20 11:29] solardiz opened #74 "Criticism of LKRG systemd service"
https://linuxreviews.org/Linux_Kernel_Runtime_Guard includes this criticism:

Is any of this criticism valid? Should we address it, how, and when - probably not in a rushed 0.9.1 release yet (as we might introduce new issues if we do, so need some more testing by users before release)?

[2021-04-20 11:34] solardiz opened #75 "Add DKMS configuration file"
This came up in several discussions before - should LKRG perhaps provide its own default DKMS configuration file? Can a reasonable default file exist or is it too distro/system-specific? Should `make install` be installing this file?

We already got DKMS support now under `debian/`, but perhaps we can also have some of it in a non-distro-specific manner?

[2021-04-20 12:28] solardiz commented on #72
Done. As far as I'm currently aware, we're done with this issue, so I'll close it, although ideally we'd also hear from the original (non-)reporter that the fix indeed works for them too.

[2021-04-20 12:28] #72 closed

[2021-04-20 12:39] vt-alt commented on #69
Ah, `panic` should have been lowercase (but it caught with `Call Trace` anyway).

[2021-04-20 12:48] solardiz commented on #69
I think it should be the full `Kernel panic`, or else it'd trigger e.g. on mentions of kernel options with `panic` in their names.

[2021-04-20 12:51] solardiz commented on #69
@vt-alt Can you help @Adam-pi3 with his request and questions in https://github.com/openwall/lkrg/issues/69#issuecomment-822081362 please? I guess we might need to temporarily enable that debug option, maybe in a branch or in a fork of the repo to your or his personal GitHub account.

[2021-04-20 12:57] morfikov commented on #75
It depends whether you want to support building the module via DKMS. If so, I think you should provide the `dkms.conf` file.

[2021-04-20 13:02] morfikov commented on #74
To me the LKRG systemd's service doesn't make any sense. You could probably pick up the `modprobe`, `modules` and `sysctl` files from the `debian/` dir and rely on the init to load and configure the module. No extra service is needed here, at least in the case of systemd. If you decide to get rid of the LKRG systemd's service, the config in `debian/` dir has to be updated (in the `debian/rules` fi

[2021-04-20 13:03] solardiz commented on #75
I guess so. It looks like some users want/expect this from us.

Can you suggest what goes in there? Send us a PR? Thanks!

Another thought I had is: does DKMS run the build as root? That's not ideal if so - while the code being built is to be trusted anyway (it'll be loaded into the kernel), there are additional safety/reliability risks from building anything as root. Perhaps this isn't our job to

[2021-04-20 13:05] solardiz commented on #75
Sometimes security risks, too. A couple of decades ago, then-current now-historical versions of gcc dealt with temporary files unsafely, and could be attacked by another user of the system. Perhaps there are more such toolchain vulnerabilities yet to be introduced/found/fixed.

[2021-04-20 13:09] solardiz commented on #74
We had discussed this on lkrg-users, and IIRC the conclusion was that we needed more control over when exactly the LKRG module is loaded into the kernel and to ensure any sysctl changes would be applied shortly thereafter. Using those separate mechanisms, the timings could be worse and there would be more distro-specific uncertainty. However, we might need to re-read that discussion.

[2021-04-20 13:11] solardiz commented on #74
In that context, it is arguably a bug that `debian/` would load LKRG at a different time than `make install` does. Right now, I'd say the bug is in `debian/`.

[2021-04-20 13:16] solardiz commented on #74
For the timings, we have this:

[code]

This currently looks to me quite similar to loading via `modules`, except that we explicitly make LKRG load _after_ all of the other modules listed in there. I am not currently aware of specific reasons for that to be required, but it can probably help avoid triggering some race condition issues between modules going forward.

Possibly more importantly, we a

[2021-04-20 13:18] solardiz commented on #74
Maybe we should add `nolkrg` support to LKRG itself (check it from the kernel module, refuse to initialize LKRG if found) - then this feature would work regardless of init system and also when LKRG is linked into the kernel. What do you think, @Adam-pi3?

[2021-04-20 13:18] morfikov commented on #75
Basically you can use the file I provided in the `debian/` dir, but you have to change the name to `dkms.conf` and edit the `PACKAGE_VERSION` line and keep it updated whenever the version changes. The rest of the file I think can stay the same. There are some additional options that can be set via the file -- take a look at the [manual of the file](https://linux.die.net/man/8/dkms).

Yes. The DKMS

[2021-04-20 13:25] morfikov commented on #74
It depends. The LKRG systemd's service is provided in its separate package. If a user wants this kind of functionality, he can comment out the `p_lkrg` from modules and enable the service manually. In this way the service would take care of loading of the module.

[2021-04-20 13:27] solardiz commented on #75
I'd prefer that you or someone else who actually uses LKRG with DKMS commits this. I don't intend to do it myself.

I don't mind doing this when preparing LKRG releases.

This doesn't mean it couldn't be run by the distro as non-root. What matters more are permissions on other files it needs to access. The distro would need to allocate a pseudo-user and to give it just sufficient permissions.

[2021-04-20 13:30] solardiz commented on #74
OK, our documentation currently explicitly says that `nolkrg` is specific to the systemd service, so it's not literally a bug that it currently doesn't work without that service:

[code]

[2021-04-20 13:38] morfikov commented on #75
I don't really use standalone DKMS, I mean I always build a Debian package using `pbuilder` (`dpkg-buildpackage` in a clean chroot) and when the package is ready, I install it via `apt-get` . All the DKMS work is automated and made during the installation of the .deb package. So I don't even touch the `dkms` command (only the package manager does).

[2021-04-20 14:40] Adam-pi3 commented on #73
I'm not sure how long it might take to address #69. I wonder if we release 0.9.1 now if we can convince `linuxreviews` to update their description about SELinux. We can try to contact them and explain that LKRG strength SELinux by guarding it's configuration and options. However, The bug which they hit was just a mistake during SELinux refactoring work.
What do you think?

[2021-04-20 14:55] solardiz commented on #73
I think the timing of our release should be based primarily on what's best for the users and for the project.

As to the review, I further replied to the tweet thread that we think we've fixed the issue in git and asking to re-test and maybe revise the review. There's no reply so far.

[2021-04-20 16:09] Adam-pi3 commented on #73
Thanks @solardiz. I do agree it will be beneficial if they could retest the recent changes. I'm just wondering that if they don't reply on the twitter maybe email would be better communication channel (just guessing).

[2021-04-20 16:12] solardiz commented on #73
I don't have their e-mail address.

[2021-04-20 16:14] solardiz commented on #73
Or maybe I do - the address they list for "Media inquiries" looks like it's of the right person. Adam, please feel free to send them an e-mail. Please keep me CC'ed if you do.

[2021-04-20 21:28] oyvindsaether commented on #72
My involvement with https://linuxreviews.org/Linux_Kernel_Runtime_Guard_0.9.0_Is_Released is not indicated, and I may or may not use the names of random Korean pop artists to post.

![looks_fine](https://user-images.githubusercontent.com/68732993/115465739-59483880-a22f-11eb-9d1c-b17779fdb8bf.jpg)

The p_lkrg module from current git as of right now seems to work just fine with SELinux enabled, it

[2021-04-20 21:43] oyvindsaether commented on #74
It is hard to give your project any recommendations here.

I will always hate every single package that installs a service file & enables it by default.

Installing a service file and printing out a message like `type "systemctl enable lkrg.service" to start LKRG at boot` is preferable. There should be a really easy and distribution-correct way to enable it. That's great. It's not that great if yo

[2021-04-20 22:02] wladmis commented on #74
On Tue, Apr 20, 2021 at 02:43:22PM -0700, Öyvind Sæther wrote:

It is always depends on distro policy how to deal with recently
installed services. For example, Debian policy tells services should be
enabled by default, meanwhile Fedora and ALT policy tells services
should be disabled by default (with a few exceptions like sshd and
crond), and user should enable them explicitly.

For example, ALT

[2021-04-20 22:07] vt-alt commented on #69
The questions look so obvious that I suspect I don't actually understand them. `p_lkrg` is loaded in initramfs and load time is in the boot log:
[code]

[2021-04-21 07:14] morfikov commented on #74
That's more of less the current behavior (at least with the .deb packages). The only difference is that when the module is installed via lkrg-dkms.deb, the modules file is also placed with uncommented module name because when a user installs a DKMS module, he would expect the module to be loaded OOTB with the next boot. He can always load the module manually on the current system right after build

[2021-04-21 14:09] udovdh commented on #74
Related to this, I got:

[code]

[2021-04-21 14:21] solardiz commented on #74
@udovdh You're expected to `make uninstall` first.

If your current kernel is already the new one you want to install LKRG for, then I guess `make uninstall` will leave LKRG for the old kernel in place (it just won't find it). Then your new `make install` will reinstall the systemd service, and it will end up loading LKRG for whatever kernel is actually booted up.

[2021-04-21 15:05] Adam-pi3 commented on #73
Per @oyvindsaether comment (https://github.com/openwall/lkrg/issues/72#issuecomment-823611275) issue is fixed. We should good releasing 0.9.1. However, I'm wondering if we should also include `systemd` changes which we are actively discussing and have open PR.

[2021-04-21 16:05] solardiz commented on #73
I think no, we should not. Please don't merge this PR yet. Let's not mix a bug fix and cleanup release with controversial changes (some say the systemd service should be gone, others that it should be revised in different ways) needing additional testing.

Adam, I suggest that meanwhile you try to reproduce #69 in a fork to your own GitHub account with the debugging enabled like you wanted.

[2021-04-21 16:17] solardiz commented on #72
Thank you for testing and confirming this, @oyvindsaether!

Indeed. The problem is that roughly half of LKRG functionality (the kernel integrity checking part) is only effective if it's actually enforced, and the only effective enforcement is kernel panic. (The other half is task integrity checking - and a milder enforcement makes sense there - so we simply kill problematic tasks by default, leavi

[2021-04-22 20:08] solardiz commented on #74
What I see on a CentOS 7 system after LKRG's `make install` is this:

[code]

So it's a symlink after all (I think created by our invocation of `systemctl enable lkrg.service`), so I don't understand this part of the criticism.

However:

[code]

The installed file pointed-to by the symlink inherits its ownership and permissions from the LKRG build directory. I think this is a bug - we should make

[2021-04-23 05:39] Adam-pi3 commented on #73
From my understanding https://github.com/openwall/lkrg/commit/cccc01dd05805232463729ab305015acb63a87e8 should address #69. I hope we should see it in `mkosi`

[2021-04-23 07:17] solardiz commented on #73
Please also suggest a `CHANGES` entry for it - in fact, ideally proposed/draft `CHANGES` entries should be included in commits making the changes themselves (for significant enough changes).

Not yet - this time it failed differently:

[code]

[2021-04-23 07:37] solardiz commented on #73
@Adam-pi3 Did you test cccc01d, and how? This isn't something I can properly review without effectively duplicating your work that brought you to writing that code.

[2021-04-23 08:46] solardiz commented on #73
"mkosi boot (mainline)" keeps failing as I described above now - looks unrelated to any changes of ours. @vt-alt Maybe you take a look?

[2021-04-23 08:47] solardiz commented on #74
I just did that. Tested on the mentioned CentOS 7.

[2021-04-23 08:57] solardiz commented on #74
I specifically tested `systemctl mask lkrg.service` and it looks like it works just fine:

[code]

[2021-04-23 09:07] solardiz commented on #74
I cannot reproduce this issue. Also, searching the systemctl(1) man page for mentions of daemon-reload and reading those pieces my conclusion is that daemon-reload shouldn't be needed and is inappropriate for us to run from there.

@oyvindsaether Can you confirm that out of the issues you listed (quote in my original comment here), only your personal preference not to have the service enabled by d

[2021-04-23 16:12] Adam-pi3 commented on #73
I've compiled locally kernel 5.12-rc8 and I was able to hit that problem not on KVM module (since I don't use KVM but VmWare) but on the core kernel .text session via LTP FTRACE stress test. By having an ability to repro the issue I've test it under the new logic and FP disappeared. I've also tried to cover other cases:
- I've tried to test sync with module subsystem by constantly loading / unload

[2021-04-23 16:13] Adam-pi3 commented on #73
Yes, I saw the problem in `mkosi boot (mainline)`. From my understanding there is a problem with `glibc` version which is used by the environment and `kernel-header` package for the latest kernel which requires newer `glibc`

[2021-04-23 17:27] Adam-pi3 commented on #73
@solardiz However, I still think I need more time for proper testing of this feature. I expect that I will find some missing sync object on the road...

[2021-04-23 17:41] vt-alt commented on #73
It seems they finally switched to `hirsute` from `groovy` for mainline kernels, thus the glibc dependency problem. I will test it.

[2021-04-23 17:58] vt-alt commented on #73
FYI. They build on 2021-04-23 first time [on the box `kathleen` which is Ubuntu `hirsute` released on 22 Apr](https://kernel.ubuntu.com/~kernel-ppa/mainline/daily/2021-04-23/summary.yaml) but they use different boxes on different days (`gloin`, `sita`), so I wonder what will happen tomorrow. Maybe just switching to the `hirsute` should work (from now on) since glibc is more backward-compatible tha

[2021-04-23 18:48] vt-alt commented on #73
Just to cross-reference, I created PR #77.

[2021-04-23 20:13] solardiz commented on #73
Thank you, @vt-alt!

[2021-04-24 11:29] solardiz commented on #74
Here's a reason: on some systems (probably non-desktop), this allows the sysadmin to enable `block_modules` right away. When loading in arbitrary order along with other modules, this obviously wouldn't work reliably (varying subsets of other modules would fail to load). OTOH, enabling `block_modules` from `/etc/sysctl.*` (not as LKRG module parameter) would probably work just as well (assuming tha

[2021-04-24 11:43] oyvindsaether commented on #74
![ok](https://user-images.githubusercontent.com/68732993/115957365-415c0780-a502-11eb-95e0-11f70a44a6c4.jpg)

I tried the current git right now and it seems to install and enable the service just fine. It didn't before. Replacing cp with install in https://github.com/openwall/lkrg/commit/2d77409585ccdcdddb5b1bb16a604e3b0fcf3ba6 fixed that. I thought it was because it didn't call systemd daemon-rel

[2021-04-24 11:56] solardiz commented on #74
Thank you for testing, @oyvindsaether!

That's puzzling. I doubt you have a umask of 777, do you? (Instead of `echo $UMASK`, run `umask` to see what the umask is.) Anyway, we should have used `install`, and we do now.

[2021-04-24 11:59] oyvindsaether commented on #74
umask says mine is 0027. I probably set it up like that years ago and kind of forgot it's not standard.

[2021-04-24 12:56] morfikov commented on #74
Should this really matter? I mean, when you know that some modules will be needed at some point in the future, you shouldn't  enable the module-blocking mechanism at all. On the other hand, when you want to enable it, you should make sure that any module you want to use is loaded at the boot time as soon as possible (in systemd, the `systemd-modules-load.service` is responsible for that). At least

[2021-04-25 11:11] solardiz commented on #74
While it's probably fine, I think we can in fact change this to merely suggesting the user to enable the service. Part of my rationale for that change is:

If a user doesn't read or ignores the advice we give in `README` about testing LKRG prior to installation, then they would be less likely to end up with unbootable system (needing `nolkrg`) as our `make install` could suggest starting the servi

[2021-04-26 01:26] Adam-pi3 commented on #74
@solardiz Yes, in 100%

[2021-04-26 02:13] Adam-pi3 commented on #73
@solardiz I was able to produce CSD / on_each_cpu (smp_call_function_single/multi) CPU stuck. However, I'm able to repro this with and without LKRG so it's the problem with the kernel itself not LKRG. However, it's easier to be done with LKRG (probably due the timing). I think we should try releasing the current logic.

[2021-04-26 18:37] solardiz commented on #74
BTW, our systemd service installation script is the only one where we call a directory a "folder". We should probably fix that.

Also, now that same script installs `/etc/sysctl.d/lkrg.conf`. I think this is OK temporarily, but later this logic should probably be separated from systemd-specific installation.

[2021-04-26 19:16] wladmis commented on #74
On Mon, Apr 26, 2021 at 11:37:49AM -0700, Solar Designer wrote:

+

I also would like to rewrite Makefile and install scripts entirely, but
maybe later.

[2021-04-26 19:25] solardiz commented on #74
There are still many things I dislike about our `scripts/`, but I think we're done with this issue with the commits I've just pushed. I've tested this on a CentOS 7. I'd appreciate others testing on other systems and commenting in here.

[2021-04-26 19:25] #74 closed

[2021-04-26 19:26] solardiz commented on #69
Our current understanding is that @Adam-pi3 fixed this issue with the commit referencing it, so let's close it. If it resurfaces, we can reopen.

[2021-04-26 19:26] #69 closed

[2021-04-26 19:36] solardiz commented on #73
@Adam-pi3 Does this look good to you? -

[code]

(already in a pending commit I have)

[2021-04-27 03:45] Adam-pi3 commented on #73
Yes, looks perfect - thanks!

Btw. I've verified LKRG under beta-build of Ubuntu 21.04 server and with the kernel 5.12 from ubuntu PPA (https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.12/) and it looks like it works fine.

[2021-04-27 15:00] morfikov opened #79 "LKRG causes high CPU on kworker when kernel is built with CONFIG_KFENCE=y"
There's a new feature in kernel 5.12 called [kfence](https://www.kernel.org/doc/html/latest/dev-tools/kfence.html). When it's enabled with the following confg (default):

[code]

there's no issues with the system. It works more or less in the same way as before. But when the LKRG module is loaded, the `kworker/0:2-events` process starts to consume high amount of CPU. In my system it's about 10% or

[2021-04-27 18:05] solardiz commented on #73
@morfikov Are updates needed under `debian/` for 0.9.1? I notice `debian/changelog` has an entry for 0.9.0, will you(?) add one for 0.9.1 as well?

[2021-04-27 18:10] morfikov commented on #73
I can add, but generally editing of the `debian/` dir should happen after the release, since you have to first provide the source, and then the package can be built. Otherwise the numbers won't match and the package can't be built. But if you want to release the 0.9.1 version soon, I can push a commit. I also made some other changes to the `debian/` dir, so they will be included as well.

[2021-04-27 18:16] solardiz commented on #73
Yes, please. Will likely release today.

I hope they are very minor. Not a good time to discuss anything controversial when we're about to make a release.

[2021-04-27 18:17] morfikov commented on #73
Nothing to worry about. :)

[2021-04-27 19:54] solardiz commented on #73
I've pushed the release and will proceed with further steps now.

[2021-04-27 19:54] #73 closed

[2021-04-29 14:25] adrelanos opened #82 "VirtualBox host software compatibility"
Could you please consider either,

**A)** introducing a loader which sets the reuqired lkrg module parameters to be compatible with the VirtualBox host software

Example loader:
https://github.com/Whonix/lkrg/blob/master/debian/lkrg-loader

OR,

**B)** a more sophisticated solution

Quote @solardiz https://github.com/openwall/lkrg/pull/68#issuecomment-823252264

----

[code]

[2021-05-12 21:43] solardiz opened #85 "Intermittent NULL pointer dereference in p_arch_static_call_transform_entry() on unload of other modules"
[code]

[2021-05-12 22:23] solardiz opened #87 "Intermittent NULL pointer dereference on bootup on Ubuntu groovy"
As seen in https://github.com/openwall/lkrg/runs/2570683885

[code]

[2021-05-13 00:21] Adam-pi3 commented on #87
Hm... I understand that bug happens when LKRG was doing initialization. However, from the logs it looks completely unrelated to LKRG:

2021-05-12T22:05:09.6384729Z [   10.349523] #PF: supervisor instruction fetch in kernel mode
**2021-05-12T22:05:09.6385430Z [   10.335978] RIP: 0010:schedule+0x0/0xc0**
2021-05-12T22:05:09.6386299Z [   10.335978] Code: e9 63 fd ff ff 0f 0b e9 6f fe ff ff 0f 0b e9 b

[2021-05-14 15:07] solardiz opened #88 "Keep just one sysctl config file"
Due to recent contributions, we have `scripts/bootup/lkrg.conf` and `debian/lkrg-dkms.sysctl`. This is redundant. Since `debian/lkrg-dkms.sysctl` is more complete, perhaps it should be renamed/moved over `scripts/bootup/lkrg.conf` and that file used by the Debian packaging as well.

Further, `debian/lkrg-dkms.sysctl` has a copy of our sysctl descriptions from `README`. When making edits to those,

[2021-05-14 16:18] Adam-pi3 commented on #85
It looks like I've missed one specific use case and we need an extra synchronization mechanism in `p_arch_static_call_transform_entry`. Per original comment:

[code]

Which is mostly true. However, one function:

`static_call_module_notify -> static_call_add_module -> __static_call_init`

even is running under `static_call_lock` (so it's correctly synchronized) it calls the hooked function under t

[2021-05-14 16:29] solardiz commented on #85
How would it "race with itself"? Aren't the calls from the loop sequential?

What would happen when the module is eventually LIVE? Would we be called again and handle it appropriately, or would we miss it (and with what consequences)?

[2021-05-14 16:47] Adam-pi3 commented on #85
They are and I have no idea how that happened. However, if you look at the stack trace it says it's possible:

[code]

Also, in our logic of the hook we verify if we won't operate on NULL pointers and later we have NULL deref. This is impossible per se, unless we have another instance running the same logic and zeros temp values.

If module become LIVE, we have separate logic to dump that module i

[2021-05-14 17:18] solardiz commented on #85
The stack trace looks like it's either recursion or a stack trace glitch. To have a race, it'd have been 2+ different execution contexts, and within that one stack trace we see just one. If it's a race, then it's against something else not seen here, not against "itself". My best guess is there's some other place in the kernel (not this `for` loop you found) calling us concurrently. This would imp

[2021-05-14 17:35] solardiz commented on #87
While the crash isn't in LKRG, maybe LKRG had done something that caused it.

Also, I now think the "BUG: kernel NULL pointer dereference, address: 0000000000000000" diagnostic is wrong. We could want to see why the kernel would think so given these circumstances - if it's in fact wrong, this could be something to fix in the kernel. Further two lines are more likely correct:

[code]

The failing i

[2021-05-14 18:16] solardiz commented on #87
LKRG does hook `schedule`. My best guess is it was in the process of hooking it (via kretprobe getting optimized to ftrace) while it was invoked by the `kworker` thread. My guess is the hooking is non-atomic, making the code inconsistent/broken for a moment. If so, how do we deal with that? Freeze all tasks, including kernel threads, for the duration of our hooking (and of removal of hooks on LKRG

[2021-05-14 18:35] Adam-pi3 commented on #87
Hm... Originally, I was thinking it might be related to the other problem (tracepoint) but I think you might be right that it is related to FTRACE. Yes, first instruction should be FTRACE dummy NOP replaced by optimized KRETPROBE hook. However, hooking should(is) atomic and kernel sends IPI to all cores to synchronize the new changes between the cores.

[2021-05-14 18:50] Adam-pi3 commented on #85
Right. However, I've verified all the calls to `arch_static_call_transform` and there isn't any single one which is not guarded at least by `static_call_lock`. Only in that instance we have loop (multiple calls) to  `arch_static_call_transform` instead of one call. Also take into account that the return code of the call is ignored. My theory is that this function is heavily optimized (and it is) w

[2021-05-14 19:20] solardiz commented on #87
I doubt it. There's this:

[code]

Of course, a size of 5 doesn't meet "the size must be writable atomically", and in fact, if I read the code right, ftrace doesn't even appear to call the above function, instead calling:

[code]

As you can see, "you need to make sure that other CPUs cannot execute this code in parallel". I don't see ftrace doing that.

ftrace does use a 5-byte `NOP_ATOMIC5` sing

[2021-05-14 19:37] solardiz commented on #85
Any such optimization would be within the current execution context.

This doesn't make sense to me, unless you're suggesting that a part of the function/loop got moved by the compiler to after release of the lock. That would be a bug in the compiler or in the way the lock primitives are defined (they should be such that the compiler would know not to move stuff across them).

I can't figure out i

[2021-05-14 19:56] solardiz commented on #85
Just to be clear, my opinion remains this: "My best guess is there's some other place in the kernel (not this for loop you found) calling us concurrently. This would imply the comment is actually wrong."

[2021-05-14 20:20] Adam-pi3 commented on #87
Hm... from my understanding we don't go to `text_poke_early` but to `text_poke_queue`:

[code]

Before any modification in FTRACE happens, kernel must call:

[code]

which forces `ftrace_poke_late = 1`. I can see 1 corner case where it might not happens when a new module is coming (not fully formed yet). Similar problem like with the TRACEPOINT, but I added protection on self-loading (the bug is d

[2021-05-14 23:24] Adam-pi3 commented on #85
Pull Request includes locking as well: https://github.com/openwall/lkrg/pull/89

[2021-05-15 06:13] morfikov commented on #88
You can move the config file inside the lkrg source dir (or some subdir) and maintain only one copy of it. The debian build system can pick up the file from any location in the source.

[2021-05-18 13:08] udovdh opened #90 "5.12.3 messages"
[code]
(...)
[code]

How can i help fix these?

[2021-05-18 16:41] solardiz commented on #90
You're already helping by reporting this in here. Are these messages seen every time you load LKRG or only sometimes?

You can also try Adam's experimental changes from #89 (pull from the forked repo in his personal GitHub account) and let us know whether this makes any difference. Thanks!

[2021-05-18 16:45] solardiz commented on #88
@morfikov Great. Can you please be the one to send us a PR making this change? I suggest that "`debian/lkrg-dkms.sysctl` [...] be renamed/moved over scripts/bootup/lkrg.conf and that file used by the Debian packaging as well."

[2021-05-18 17:34] udovdh commented on #90
I saw the messages when I booted into 5.12.3.

I can try reloading lkrg.

I will try the changes you mentioned.

[2021-05-18 18:11] udovdh commented on #90
Changed code is in a newer 5.12.4 kernel, currently at 5.12.3.

[2021-05-18 19:18] #88 closed

[2021-05-18 21:40] #75 closed

[2021-05-20 09:37] prezeskk opened #93 "Error build on kernel 5.4.120"
[code]
After commit on Linux Kernel ebb32e28691e27d13584105306ffea6fca1b6284
https://lwn.net/Articles/326026/
[code]

[2021-05-20 10:15] solardiz commented on #93
@prezeskk There's either something wrong (unsupported by LKRG) in your kernel configuration (please share) or something changed in recent stable kernels breaking compatibility with LKRG. Let's figure this out.

[2021-05-20 11:35] prezeskk commented on #93
Here is my config

[config-huge-5.4.120.x64.txt](https://github.com/openwall/lkrg/files/6515521/config-huge-5.4.120.x64.txt)

[2021-05-20 17:34] solardiz commented on #93
So `ChangeLog-5.4.118` has this:

[code]

We already have workarounds for that in LKRG for Linux 5.9+ (as you can see, the above commits have dates in 2020 on them). Now that the changes got into "stable" kernels as well, we need to enable the workarounds for those as well.

[2021-05-20 18:23] solardiz commented on #93
@prezeskk Please test the changes in #94. You can pull them from the fork of this repo under my personal GitHub account. Do they help?

[2021-05-20 18:29] solardiz commented on #87
We got something similar in https://github.com/openwall/lkrg/pull/94/checks?check_run_id=2632803616

[code]

[2021-05-20 18:47] solardiz commented on #87
@Adam-pi3 I'm not sure I'm reading the code right, but it appears that `ftrace_poke_late` is only set briefly and then reset back to 0, and maybe it is never even attempted to be set (`ftrace_arch_code_modify_prepare` never called) when k[ret]probes are set (optimized to ftrace).

[2021-05-20 21:01] solardiz commented on #93
@prezeskk Oh, indeed - I missed some occurrences. I'll update that PR and will let you know.

[2021-05-20 21:12] prezeskk commented on #93
Thanks for your work

[2021-05-21 07:24] prezeskk commented on #93
Last commit resolve compilation error on kernel 5.4.120. Thanks

[2021-05-21 07:28] solardiz commented on #93
@prezeskk Thank you for the problem report and for testing. I'll merge the PR now.

[2021-05-21 07:29] #93 closed

[2021-05-24 14:23] udovdh commented on #90
Booted 5.12.6 with the changes you mentioned, all remained quiet.

[2021-05-24 22:10] Adam-pi3 commented on #90
It looks like the patch helps. @udovdh can you confirm that?

[2021-05-24 22:12] Adam-pi3 commented on #85
@solardiz it looks like the patch helps. If that's the case I will clean up the PR and we can merge it (if you agree)

[2021-05-26 06:22] udovdh commented on #90
@Adam-pi3: yes!

[2021-05-26 08:20] adamw-linadm commented on #14
I had this same problem with make install (version 0.9.1) on centos 7/8:

`[root@repo lkrg-0.9.1]# make install
make -C /lib/modules/3.10.0-1160.25.1.el7.x86_64/build M=/root/lkrg-0.9.1 modules_install
make[1]: Wejście do katalogu `/usr/src/kernels/3.10.0-1160.25.1.el7.x86_64'
  INSTALL /root/lkrg-0.9.1/p_lkrg.ko
Can't read private key
  DEPMOD  3.10.0-1160.25.1.el7.x86_64
make[1]: Opuszczenie kat

[2021-05-27 09:34] solardiz commented on #85
Yes, please do (and while you're at it, perhaps also update the comment on locking). Thanks!

[2021-05-28 18:29] solardiz commented on #14
Not quite. This GitHub issue is specifically about the exit code - whether it is zero or non-zero or _whatever_ problem might occur during `make install`. Your "this same problem" is just similar to the _example_ I used to illustrate the exit code issue. You don't actually care about the exit code. So what you report is unsuitable for this GitHub issue.

Now, separately from this issue's intended

[2021-05-28 18:41] solardiz opened #95 ""make install" uses flawed heuristics to determine systemd unit directory"
As used in an example in #14 and reported by @adamw-linadm in there for some CentOS 7/8 system, our `scripts/bootup/systemd/lkrg-systemd.sh` fails to determine the actually used systemd unit directory, which it attempts to do with:

[code]

Specifically, it always extracts the 5th field, but this can in some setups correspond to a non-existent directory (although on the CentOS 7 where I test it en

[2021-05-28 18:48] solardiz commented on #95
One idea is to go over all of these paths with a `for` loop and choose the first that corresponds to an existing directory.

[2021-05-28 19:30] solardiz commented on #85
Looks like we got more of these crashes in https://github.com/openwall/lkrg/runs/2693541239

[2021-05-28 23:15] 0xC0ncord commented on #95
I think the unit should go into `/etc/systemd/system` unconditionally, as that is the standard location for user-installed system units.

[2021-05-29 00:23] Adam-pi3 commented on #90
Fixed by https://github.com/openwall/lkrg/commit/9c592c662041dfd642cb915920917c07773cb81a

[2021-05-29 00:23] #90 closed

[2021-05-29 00:48] Adam-pi3 commented on #85
Let see if we still encounter that problem after https://github.com/openwall/lkrg/commit/9c592c662041dfd642cb915920917c07773cb81a

[2021-05-29 06:53] wladmis commented on #95
On Fri, May 28, 2021 at 04:15:36PM -0700, 0xC0ncord wrote:

+

[2021-05-29 12:22] solardiz commented on #95
OK. Want to send us a PR making this change and closing this issue?

(How) would packagers of LKRG be expected to override this? Is there an established convention on that?

[2021-05-29 12:25] solardiz commented on #79
As I recall, kfence was seen in a backtrace in one of the crashes at https://github.com/openwall/lkrg/runs/2693541239 - and this makes me wonder whether Adam's addition of some `cpu_relex();` calls today possibly addressed this issue too? @morfikov Can you re-test? Thanks!

[2021-05-29 12:32] solardiz commented on #95
BTW, if/when we change the systemd unit directory path, it will be important for people to use `make uninstall` from the previous LKRG revision before installing the new one. Maybe we'd need to document this somewhere. While it's always a good idea to use `make uninstall` of the same revision that was installed, in practice using `make uninstall` from the new revision's tree worked fine most of th

[2021-05-29 16:16] morfikov commented on #79
No, that didn't help.

[2021-05-29 17:18] 0xC0ncord commented on #95
Coming right up!

I'm making an assumption here, but I would't expect packagers to be using the provided script and instead they should be using the tools provided by the packaging mechanism to install the unit. Is it safe to say that the scripts called by `make install` are intended to be used by users and not by package maintainers? If that's the case then it shouldn't be a problem, as the unit

[2021-05-29 18:38] Adam-pi3 commented on #79
@morfikov  can you dump the stack for the process[es] with high CPU usage? you can do it via
`cat /proc/PID/stack`

If you can provide more than one process' stack it would be useful

[2021-05-29 20:30] solardiz commented on #95
I guess no, this isn't a safe assumption, but I'd like to hear from @wladmis on this.

[2021-05-29 20:42] adamw-linadm commented on #14
Oh, right sorry. Thanks for separating this to new issue :)

[2021-05-29 21:25] morfikov commented on #79
There's only one process that utilizes a lot of CPU when LKRG is loaded:

[code]

Sometimes the file is empty, but when it has some content then it looks like this:

[code]

[2021-05-29 22:11] Adam-pi3 commented on #79
It looks like unrelated to LKRG. LKRG's verification routine runs on `unbound` queue, like:

[code]

Also, from the stack trace it looks like something run on the event queue (not `unbound`) but finished the work and nothing is there anymore. Sometime kernel keeps such processes if such queue runs relatively often (optimization algorithm to avoid constant creation and destruction of the process).

[2021-05-30 00:12] wladmis commented on #95
On Sat, May 29, 2021 at 01:30:31PM -0700, Solar Designer wrote:

I do not use `make install` to install files for the ALT package, and I
see that Debian rules file also does not use it. And I thin if some
downstreams do use `make install`, they'll find that smth has changed in
the next release and take care of that.

So I assume it is fair to say that it is a safe assumption.

And usually the pack

[2021-05-30 05:44] morfikov commented on #79
The only difference in my system when this process consumes ~10% CPU is when LKRG is loaded. So the kernel is the same, the config is the same and the system state is also the same. Also, one of my friends confirmed that when kfence is enabled and the lkrg module is loaded, the process instantly causes high CPU usage on his machine too. So definitely this issue is related to LKRG somehow.

Usually

[2021-05-30 17:35] Adam-pi3 commented on #79
Can you dump the stack for each of the `events_unbound` processes when you see that issue?

[2021-05-31 01:00] Adam-pi3 commented on #79
The good news is I think I know what's going on. The bad news is that we would need to debate if we can do anything here...

I've compiled the kernel with the same options which you mentioned and I was able to repro the issue. In my case, the problematic was the the kworker process associated with power management(?). At first, I thought that the problem maybe is related to the random events which

[2021-05-31 16:06] solardiz commented on #79
It's not just performance overhead. I think there's little value in LKRG's kernel `.text` integrity checking if LKRG constantly accepts updated hashes, because this means that it'd also accept (update hash) for a concurrent malicious update. So perhaps LKRG's default should be to disable kernel integrity checking when `CONFIG_KFENCE_STATIC_KEYS` and to log a warning message about that.

Alternativ

[2021-05-31 16:07] #95 closed

[2021-05-31 17:59] solardiz commented on #79
If we check for `CONFIG_KFENCE_STATIC_KEYS` at LKRG compile time, then we should also have a compile-time `#warning`.

[2021-05-31 18:02] solardiz commented on #79
BTW, it's a pity we don't currently have a mode where LKRG would check integrity of most important kernel globals, but not of the code. We can fairly easily introduce this mode for SELinux state checking. We might want to also check `sys_call_table` there, and maybe a few other key structures.

[2021-06-06 21:37] Adam-pi3 commented on #85
Did we see any case of the described problem or we can close this issue?
CC: @solardiz @vt-alt

[2021-06-08 13:42] solardiz commented on #85
No such cases recently. Let's close. We can reopen if necessary.

[2021-06-08 13:42] #85 closed

[2021-06-08 13:50] morfikov commented on #79
I think this is out of the table because distro kernels will probably enable this feature by default, since as they say "it's designed to be enabled in production kernels."

[2021-06-09 18:19] adamw-linadm opened #97 "lkrg raport false positive on system with kernel live patching enabled (https://www.kernelcare.com/)"
Hi,
I tested lkrg on 3 servers (centos 7) with kernelcare.com service enabled (kernel live patching) , and on 2 servers without it.
On servers with live patching enabled after some time (or some live patch installed) my dmesg looks like:

`68692320.748640] [p_lkrg] ALERT !!! SYSTEM HAS BEEN COMPROMISED - DETECTED DIFFERENT 23 CHECKSUMS !!!
[68692320.887220] [p_lkrg] ALERT !!! _STEXT MEMORY BLOCK H

[2021-06-11 15:11] solardiz commented on #97
Of course, LKRG's kernel integrity checking is currently incompatible with live patching. Every live patching solution would need its own custom support in LKRG for these to become compatible.

Yes, albeit not only for kernel modules, but also for the main kernel image. You can disable this checking using the `lkrg.kint_validate` sysctl or `kint_validate` module parameter, setting it to 0. Please

[2021-06-11 15:11] #97 closed

[2021-06-28 10:27] solardiz opened #99 "Declare Linux 5.13 support"
@Adam-pi3 Please confirm that LKRG in this repo and the 0.9.1 release both support Linux 5.13 with no changes. If so, we need to update the documentation and the website to say so. Right now, `README` says:

[code]

Besides updating the 5.12 to 5.13, we might want to change the word "release" to "revision", so that this wording works for both releases and git - but maybe do it on another occasion,

[2021-06-29 15:15] Adam-pi3 commented on #99
I've tested latest Linux kernel from git (commit: 233a806b00e31b3ab8d57a68f1aab40cf1e5eaea) and there are some small caveats. Officially released 5.13 looks like it works. However, since the commit https://github.com/torvalds/linux/commit/2f064a59a11ff9bc22e52e9678bc601404c7cb34#diff-f8d8a1568ae83bbff6f40f9c70559a4f7dbf426a397131ba9d4fbfb947ea5222 `task_struct` changed the variable `state` to `__s

[2021-07-02 06:12] Adam-pi3 commented on #99
I've made a few more tests and we can say that 5.13 is supported. However, when 5.13.1+ arrives we need to add small changes to reflected the commits which I pasted before.

Nevertheless, in one of my debug machine I can sometimes observe problem with '__put_creds_rcu'. Problem is not related to LKRG (doesn't look like that) and could be results of a new logic which Linux kernel developers impleme

[2021-07-02 12:39] solardiz commented on #99
As expected, `mkosi-mainline` is now failing for 3 days:

[code]

I think there's no reason to wait for 5.13.1 to make those changes.

How does this problem manifest?

[2021-07-03 18:17] Adam-pi3 commented on #99
I pushed necessary changes:
https://github.com/openwall/lkrg/commit/c6d93ae9df2519a66a6d5ec9e226f8458c51815c

However, until now Linux Kernel still didn't change the LINUX_VERSION_CODE and  before they do it `mkosi-mainline` will continue to fail.

Sometimes i can see deadlock, but sometimes kernel crash (that's how I configured that specific kernel in case of any problem).  From what I saw I beli

[2021-07-03 18:27] solardiz commented on #99
I think we may, but why would we want to skip them?

[2021-07-03 19:38] Adam-pi3 commented on #99
If process is going to die anyway, I'm not sure if there is any value of validating such process. It costs some performance penalty which is not big but I'm not sure how much value is in such operation. Additionally, If we validate such process and decide to kill it, we might send more than once SIGKILL signal. There is nothing wrong with that but such additional checks will prevent from doing so.

[2021-07-04 18:25] solardiz commented on #99
The checks you suggest to add would cost some (other) performance penalty. It is not clear to me which one will cost more overall - I guess that will vary by total number of tasks vs. those currently dying. But I don't mind giving this a try and seeing how this affects e.g. the Phoronix benchmarks.

[2021-07-18 16:49] solardiz commented on #99
FWIW, there's 5.13.2 already, but somehow our `mkosi-mainline` uses only `5.13.0-051300daily20210710-generic` and thus keeps failing.

[2021-07-20 11:26] gnd opened #100 "LKRG fails to load on Debian 10"
Hi,

we are using LKRG on a Debian 10 machine since a year without any problems. However after a recent reboot, we have acquired a new kernel and thus recompiled LKRG from the latest github. This latest version will not load because:

[code]

Do you have any ideas how to proceed using LKRG ? Thanks a lot.

[code]

[2021-07-20 11:33] solardiz commented on #100
Hi @gnd. Thanks for reporting. This looks similar to #93. Perhaps upstream back-ported this change even further, to 4.19 kernels. We'll look into that.

[2021-07-20 11:35] oshogbo commented on #100
Just out of curiosity can you run:
[code]

[2021-07-20 11:44] solardiz commented on #100
I think the tasks here are to review upstream 4.19.* ChangeLogs (maybe also for even older branches) or stable list postings to confirm the guess and determine the exact kernel revisions where the changes were made. Then adjust LKRG accordingly. Alternatively, we could enable our hack on all kernels (or maybe starting with the oldest currently maintained upstream branch) so that this issue won't b

[2021-07-20 11:49] gnd commented on #100
[code]

[2021-07-20 11:52] oshogbo commented on #100
@solardiz I can look into that. Unfortunately I don't have such kernel so it will take me a moment.

[2021-07-20 12:07] solardiz commented on #100
@oshogbo I didn't mean you'd actually check the specific Debian kernel - just check the upstream stable changes, like I did to resolve #93.

[2021-07-21 13:03] solardiz commented on #100
@gnd We've just merged @oshogbo's changes that should fix this issue. Please test, and if confirmed close this issue, or let us know if anything is still wrong. Thank you!

[2021-07-23 11:21] adrelanos commented on #67
Wondering if I may request prioritization of this issue, signed commit or tag creation please?
(recent release only more than good enough)

That would really help with keeping the Debian package https://www.whonix.org/wiki/Linux_Kernel_Runtime_Guard_LKRG as up to date as it used to be.

Reason is if I use the signed LKRG archives, extract and and commit to git Whonix/lkrg that then all files, all

[2021-07-23 17:27] solardiz commented on #67
Thank you for the reminder. Frankly, this is currently still low among my priorities.

Of course, don't do that. Instead, you can `diff` the tree in the signed tarball against the tree obtained after `git checkout` of the corresponding tag. Once you've confirmed they're identical, you can use that git tree knowing that at least that one revision is the same as what's signed. This doesn't verify pa

[2021-07-24 20:55] adrelanos commented on #82
`msr_validate=0` / `lkrg.msr_validate = 0` is already the default. Therefore no more special code for KVM required.

For the VirtualBox host software the only settings required are

* `lkrg.pcfi_validate=1`
* `lkrg.profile_validate=2`

according to [`/etc/sysctl.d/30-lkrg-dkms.conf`](https://github.com/openwall/lkrg/blob/main/scripts/bootup/lkrg.conf).

[2021-07-25 08:57] udovdh opened #106 "[5.12.15] [p_lkrg] <Exploit Detection> ON process[2742391 | Web Content] has corrupted 'off' flag!"
Hello,

I found a few of the messages below in two occurrences on this kernel.org 5.12.15 box.
Same process that is suspect.
Real threat or bug?

[1352716.887549] [p_lkrg] <Exploit Detection> ON process[2742391 | Web Content] has corrupted 'off' flag!
[1352716.887560] [p_lkrg] <Exploit Detection> Trying to kill process[Web Content | 2742391]!
[1352716.888548] [p_lkrg] <Exploit Detection> ON proces

[2021-07-25 11:01] solardiz commented on #106
Thanks @udovdh. What version/revision of LKRG is this with?

[2021-07-25 11:04] udovdh commented on #106
commit c6d93ae9df2519a66a6d5ec9e226f8458c51815c

[2021-07-25 11:36] solardiz commented on #82
_One_ of these settings is required for VirtualBox host, not both. You should use _either_ custom configuration or profiles. No reason to first customize the configuration and then override that with a preset profile.

[2021-07-25 11:40] solardiz commented on #82
Specifically, if you want to make the minimal change required for VirtualBox host, use _only_ `lkrg.pcfi_validate=1`. Setting the entire profile weakens LKRG a bit more than is absolutely required for VirtualBox host.

[2021-07-25 15:53] adrelanos opened #108 "LKRG Debian package - systemd unit does not automatically start - lkrg.service is a disabled or a static unit, not starting it."
[code]

It requires a manual `sudo systemctl enable lkrg` and reboot or `sudo systemctl start lkrg`.

I am wondering, why does it do that?

The Debian default is to enable systemd units after installation.

[2021-07-25 16:03] adrelanos commented on #108
https://github.com/Whonix/lkrg/blob/old-master/debian/lkrg-dkms.service did not have this issue.

Some change in https://github.com/openwall/lkrg/blob/main/scripts/bootup/systemd/lkrg.service might be causing this issue.

old:
`WantedBy=multi-user.target`

new:
`WantedBy=sysinit.target`

Wondering if this is causing it.

* [When should a systemd unit file use sysinit.target vs multi-user.target?](

[2021-07-25 16:06] adrelanos opened #109 "Don't unload LKRG at shutdown"
https://github.com/openwall/lkrg/blob/main/scripts/bootup/systemd/lkrg.service currently uses:

* `Before=[...] shutdown.target`
* `ExecStop=/sbin/modprobe -v -r p_lkrg`

I don't see what this would be good for? Could even be a security issue to unload LKRG?

System shutdown works well even if LKRG doesn ot get unload. If it's not needed then it's best avoided for simplicity.

Maybe related:
https

[2021-07-25 16:18] adrelanos commented on #108
Even replacing the systemd unit https://github.com/Whonix/lkrg/blob/old-master/debian/lkrg-dkms.service does not fix this. So I guess it must be something else in the Debian packaging.

[2021-07-25 16:25] adrelanos commented on #108
For debugging maybe [`debian/lkrg-systemd.postinst`](https://github.com/Whonix/lkrg/blob/debian-packaging-systemd-debugging/debian/lkrg-systemd.postinst) can help.

(Not suggested for merge. Only manual use for debugging.)

This is the debug output:

[code]

[code]

Related scripts by Debian responsible for that:

* `/usr/bin/deb-systemd-helper`
* `/usr/bin/deb-systemd-invoke`

[2021-07-25 17:03] morfikov commented on #108
Basically I turned it off in the `debian/rules` file because I don't really see the purpose of having the systemd service in first place. Many users, including me, when we want to load a module in the case of systemd init system, we use the native systemd services, which use the config files located in the `/etc/sysctl.d/` , `/etc/modules-load.d/` and `/etc/modprobe.d/` dirs. So basically it was t

[2021-07-25 17:06] morfikov commented on #109
I didn't see that either, but some people want to reload the module and need the service in first place. Like they wouldn't just use the modprobe command directly. :)

[2021-07-25 17:10] adrelanos opened #110 "Debian package DKMS fails to update LKRG kernel modules during Linux kernel upgrade"
[code]

[code]

[2021-07-25 17:20] adrelanos commented on #108
Ah. Thanks for the tip. Finally found it in `debian/rules`:

[code]

Well, there's a separate package `lkrg-systemd`. A user would reasonably expect if such a package gets installed that the systemd unit gets enabled after installation plus on top that this is the Debian way of doing it.

So since the systemd unit is split into a separate package a great compromise would be to enable the systemd u

[2021-07-25 17:22] adrelanos commented on #109
Seems like an insufficient rationale. For unload/reload of the kernel module it would be possible to implement this as `sudo systemctl reload lkrg`. `ExecReload=`

Related: the usefulness of the lkrg systemd unit existing at all has been in questioned here:
https://github.com/openwall/lkrg/issues/108#issuecomment-886230431

[2021-07-25 17:54] morfikov commented on #108
In the case of a normal services, yes, but it's not a normal service. According to some paper I've read, they mention that when some exploit is already loaded, and after it you load lkrg, then in such situation lkrg is less likely to detect the exploit or even can't do it. That's why you should load the module as soon as possible. So this is the first thing. The second one is, that the current con

[2021-07-25 17:59] morfikov commented on #110
So where's the fail?

[2021-07-25 20:44] adrelanos commented on #110
After the command `sudo apt install linux-headers-4.19.0-17-amd64 linux-image-4.19.0-17-amd64` the is no mention of DKMS. Therefore DKMS doesn't recompile LKRG for the newer kernel version.

[2021-07-26 01:27] morfikov commented on #110
What does `dkms status`  say?

[2021-07-27 05:14] adrelanos commented on #110
Looks alright.

Seems like if Debian upgrades only the revision number but not the package number then no DKMS rebuild is required. (`-3` vs `-2`.)

When installing a newer kernel version number `4.19.194` vs `5.[...]` DKMS is running.

[2021-07-27 05:14] #110 closed

[2021-07-27 14:03] gnd commented on #100
Hi, recompiled the module and it successfully loaded. Thanks a lot !

[2021-07-27 17:19] solardiz commented on #100
Thanks for confirming, @gnd!

[2021-07-27 17:19] #100 closed

[2021-07-29 03:54] Adam-pi3 commented on #106
@udovdh can you try latest LKRG from the git? If the problem is still here (I assume it is), what program do you run? If I correctly read between the lines, this is firefox, correct? Which version of firefox started to produce this problem since I assume older one didn't have it, correct?

[2021-07-29 10:17] morfikov commented on #106
I currently don't use lkrg, but I remember I had the same issue and also in the case of firefox. Basically the "Trying to kill process[Web Content]" message was showing in the log from time to time when you tried to open a new tab (either via clicking on some link in other app or by clicking the + icon in FF). This effectively prevented to load the tab. You had to close the tab and try again .

[2021-08-01 04:56] Adam-pi3 commented on #106
Thanks for the information. I installed a "fresh" Fedora 34 Workstation (as a VM) and fully updated it which brought me the kernel:
`5.13.5-200.fc34.x86_64`

Preinstalled Firefox:

![image](https://user-images.githubusercontent.com/65244445/127759623-03c50841-02d2-461e-8015-a7266ad75f42.png)

works fine under LKRG. I can open new tabs without any problem by clicking + icon as well as opening links

[2021-08-01 08:52] morfikov commented on #106
In my case, it couldn't reproduce the issue. Basically it was happening from time to time, and it looked like it was just a random issue.

[2021-08-01 14:53] Adam-pi3 commented on #108
Hm... I believe I'm not competent enough in the field to make any decisions. @adrelanos and @morfikov what is the common ground in that field? What do you suggest to do?
@solardiz What do you think?

[2021-08-01 15:02] morfikov commented on #108
My opinion is presented above -- I would just remove the service altogether and rely on the other mechanisms which could load the module in boot phase as soon as possible. No extra service that supports only one init is required.

[2021-08-01 15:16] adrelanos commented on #108
Agreed. Remove the lkrg systemd unit file. And then remove the lkrg-systemd package.

Reasons:

* Kernel modules in Debian don't ship systemd units.
* Debian doesn't ship packagename-systemd packages. Also other 1 file packages are avoided to keep repository overhead low.

[2021-08-02 04:21] udovdh commented on #106
firefox-90.0.2-1.fc34.x86_64 does it since Install Date: za 24 jul 2021 15:37:35 CEST
I can try a newer kernel with latest lkrg.

[2021-08-06 13:43] udovdh commented on #106
5.12.19 still does it:

[   41.163511] igb 0000:04:00.0 eth0: igb: eth0 NIC Link is Up 1000 Mbps Full Duplex, Flow Control: RX/TX
[107610.034111] ------------[ cut here ]------------
[107610.034118] WARNING: CPU: 4 PID: 170452 at kernel/rcu/tree_plugin.h:297 rcu_note_context_switch+0x37/0x3d0
[107610.034133] Modules linked in: snd_seq_dummy mq_deadline xt_MASQUERADE iptable_nat nf_nat ipt_REJECT n

[2021-08-13 01:33] itoffshore opened #111 "Signed p_lkrg modules"
Info more than an issue - for anyone on Arch Linux I build a [signed `p_lkrg`](https://github.com/itoffshore/Arch-SKM/blob/master/arch-sign-modules/arch-sign-modules.install) with [arch-sign-modules](https://aur.archlinux.org/packages/arch-sign-modules/)

[code]

the only issue I have had is `p_lkrg` with the default options does not seem to like vm's doing `vfio`

[2021-08-19 18:58] vbooka1 opened #112 "Feature request: show full path to the blocked module"
Please make LKRG show which exactly module is being blocked, if possible.

Currently LKRG shows messages like this:

[code]

It would be great to see something like this:

[code]

[2021-08-20 11:51] solardiz commented on #111
Please post about this to the lkrg-users mailing list.

Please open a separate issue for this, with more detail in it. Thank you!

[2021-08-20 15:29] itoffshore commented on #111
@solardiz - I sent a message to the [mailing list](https://www.openwall.com/lists/lkrg-users/2021/08/20/1)

I will investigate the issue with `vfio` further & open a new issue once I have some relevant information.

[2021-08-20 15:29] #111 closed

[2021-08-21 10:21] adrelanos commented on #108
Would you like to remove the systemd unit from the Debian package @morfikov or should I send a pull request?

[2021-08-21 10:27] adrelanos opened #113 "feature request: Debian package - kernel module signing for kernel_lockdown"
DKMS supports it:

* https://github.com/dell/dkms/pull/87
* https://github.com/dell/dkms/issues/72

But how to use it? Is this something to be implemented per kernel module? Or is this a sysadmin task?

//cc @morfikov

Would you know how to implement this?

[2021-08-21 11:36] morfikov commented on #108
I was for removing it since the very beginning, but some people wanted it to stay. You can send a pull request if you want.

[2021-08-21 11:49] morfikov commented on #113
It depends on your setup. For instance, I deleted the preinstalled EFI keys form my laptop's firmware and installed there my own keys instead, so only the code I sign can run on my machine. I sign every kernel I build using my private key. I don't sign modules, because I have all the needed things built into the kernel. But if I wanted to build some external module via dkms I could sign it automat

[2021-08-21 16:47] adrelanos commented on #108
Would be useful to merge https://github.com/openwall/lkrg/pull/114 first. That will make things less confusing.

Because a full removal of lkrg-systemd package has a slight chance of getting reverted. But if that happens, at least the `Recommends:` is gone.

I'll add another pull request for full removal of lkrg-systemd package.

[2021-08-21 21:54] h4xor666 opened #115 "Errors in dmesg - harmless?"
Hello! I am using LKRG, and on Linux 5.13.12, I get the following "errors" in dmesg with LKRG:

[    4.711867] [p_lkrg] [TRACEPOINT] Updated module's list hash for module[crypto_simd] but can't find the same module in KOBJs list!
[    4.720113] [p_lkrg] [TRACEPOINT] Updated module's list hash for module[crypto_simd] but can't find the same module in KOBJs list!
[    4.720126] [p_lkrg] [TRACEPOINT]

[2021-08-21 23:46] h4xor666 commented on #115
My dumb*ss didn't have the CONFIG_KPROBES option enabled smh, gonna close this. Sorry!

[2021-08-21 23:46] #115 closed

[2021-08-30 14:25] udovdh commented on #106
5.12.19:

[1476399.150633] sd 10:0:0:0: [sde] Attached SCSI disk
[1476644.400243] sd 10:0:0:0: [sde] Synchronizing SCSI cache
[1476644.498514] usb 4-3: USB disconnect, device number 2
**[1528904.430163] [p_lkrg] <Exploit Detection> ON process[3059336 | Web Content] has corrupted 'off' flag!
[1528904.430170] [p_lkrg] <Exploit Detection> Trying to kill process[ImageBridgeChld | 3059336]!
[1528904.43

[2021-08-31 15:40] Adam-pi3 commented on #106
I'm not able to reproduce your problem. Do you use custom compilation of the kernel? Can you share your VM?

Referencing my previous comment, would you be able to:
[code]

[2021-08-31 16:04] udovdh commented on #106
No VM.
When I enable P_LKRG_TASK_OFF_DEBUG I get at compile time:

  CC [M]  security/lkrg/modules/exploit_detection/syscalls/p_security_ptrace_access/p_security_ptrace_access.o
  CC [M]  security/lkrg/modules/exploit_detection/syscalls/compat/p_compat_sys_keyctl/p_compat_sys_keyctl.o
  CC [M]  security/lkrg/modules/exploit_detection/syscalls/compat/p_compat_sys_capset/p_compat_sys_capset.o
  CC [

[2021-08-31 17:19] Adam-pi3 commented on #106
Are you missing CONFIG_STACKTRACE ?

[2021-09-01 04:32] udovdh commented on #106
No, not personally.
You imply we need it to solve this issue?

[2021-09-01 10:25] Adam-pi3 commented on #106
This is necessary for full pCFI protection as well as enabling P_LKRG_TASK_OFF_DEBUG

[2021-09-06 03:42] udovdh commented on #106
5.13.14:

Sep  5 17:23:40 box3 freshclam[10631]: main.cvd database is up-to-date (version: 61, sigs: 6607162, f-level: 90, builder: sigmgr)
Sep  5 17:23:40 box3 freshclam[10631]: bytecode.cvd database is up-to-date (version: 333, sigs: 92, f-level: 63, builder: awillia2)
Sep  5 17:45:01 box3 kernel: [12860.586596] sh: page allocation failure: order:7, mode:0x40a20(GFP_ATOMIC|__GFP_COMP), nodemask=

[2021-09-06 12:37] Adam-pi3 commented on #106
This is out-of-memory condition - for debugging purposes LKRG uses more memory. Can you increase the memory size in this box?

[2021-09-06 12:56] udovdh commented on #106
An out of memory on a  freshly booted box that just got 32GB?! (did not happen with 16GB)
Also the CPU went from 3400G to 5700G.
is that a factor?

[2021-09-06 14:04] Adam-pi3 commented on #106
I'm not sure what's the configuration of your system neither what do you run there. However, from the logs you can see:

And all of the logs which you pasted just showing that page allocation failed. LKRG fails to dump the process since memory allocation failed:

Do you run some memory-heavy tasks and/or kernel modules?

[2021-09-06 14:11] udovdh commented on #106
At night the box runs a kernel, a wayland gui, has firefox open, transmission and 4 bash terminals.
I was not at the box at that time.
The box got 32GB, so how can I explain an out of memory?
Did not happen (yet) with 16GB...

[2021-09-06 15:25] Jacekalex opened #116 "LoadPin: kernel-module old-api-denied obj=<unknown> pid=810 cmdline="modprobe --first-time --use-blacklist --verbose p_lkrg""
Hi

My OS: Gentoo
`Linux version 5.14.1-g1 (root@localhost) (gcc (Gentoo Hardened 10.3.0-r2 p3) 10.3.0, GNU ld (Gentoo 2.35.2 p1) 2.35.2) #1 SMP PREEMPT Mon Sep 6 15:57:20 CEST 2021`

When loading p_lkrg, i have litte error:
`# root ~> dmesg | grep lkrg
[  224.428428] LoadPin: kernel-module old-api-denied obj=<unknown> pid=2498 cmdline="modprobe -v p_lkrg"
[  791.102900] LoadPin: kernel-module old

[2021-09-11 15:52] udovdh commented on #106
Sep 11 08:25:22 box3 kernel: [p_lkrg] <Exploit Detection> ON process[152007 | Web Content] has corrupted 'off' flag!
Sep 11 08:25:22 box3 kernel: [p_lkrg] 'off' flag[0xa17fe821b7a567e] (normalization via 0x50bff410dbd2b3f)
Sep 11 08:25:23 box3 kernel: [p_lkrg] OFF debug: normalization[0x50bff410dbd2b3f] cookie[0xe587ddcbad6f6981]
Sep 11 08:25:23 box3 kernel: [p_lkrg] Process[152007 | Web Content]

[2021-09-12 12:13] udovdh opened #117 "5.14.2: some has incorrect and the machine panics"
Hello,

When I build a fresh new kernel of 5.14.2 the kenrel halts just before the GUI with some message about a hash and being compromised.
A clean rebuild does not make this go away.

What does this error mean?
Why is it there?
What is actually wrong?
Why can't I simply boot my kernel?
Why doesn't see it compromised stuff when I run the previous kernel?

[2021-09-12 12:29] udovdh commented on #117
Some _STEXT has is mentioned.
This module costs me too much time due to the issues.
A quick fix please or it is gone.
When even a rebuild from scratch does not fix this then I must assume a bug.

[2021-09-12 18:55] solardiz commented on #117
This - or another issue that manifests itself similarly - was seen a few days ago in https://github.com/openwall/lkrg/runs/3532606054, however then it wasn't seen in repeated tests so far - so looks spurious. That one time the issue was triggered on system shutdown. Here @udovdh reports the issue seen on boot, and apparently every time? So could be two different issues, yet both fitting the curren

[2021-09-13 03:51] udovdh commented on #117
What can I do to provide you with info?

[2021-09-13 06:21] udovdh commented on #117
FWIW: for me it happened every time on bootup, just before the  GUI is loaded.
I had no other chance to actually use 5.14.2  w/ lkrg.

[2021-09-13 10:31] solardiz opened #118 "mkosi-mainline tests failing on /root/prepare"
This is happening for the second day in a row:

[code]

[2021-09-13 11:51] Adam-pi3 commented on #117
What is worth to mention that we did not prepare / test LKRG for kernel 5.14. I believe the latest verified and tested kernel was 5.13. It is on my TODO list.

[2021-09-13 11:55] udovdh commented on #117
A warning/error about he kernel version (as for the real time stuff) might be useful.
'tested for 5.13 and lower, use at your own risk'.

[2021-09-13 11:57] udovdh commented on #117
What info can I provide to help you with 5.14?

[2021-09-13 12:46] Adam-pi3 commented on #106
Thanks @udovdh - this is very useful. However, described path (from the stack trace) doesn't really exists and I must better understand how you are getting it. I have one scenario / theory which I would like to verify and I've just pushed some changes to LKRG for better debugging. Would you be able to update your LKRG with the recent changes:
https://github.com/openwall/lkrg/commit/dd7fcec11f11efe

[2021-09-13 12:49] Adam-pi3 commented on #118
Some more information:
[code]

[2021-09-13 12:53] udovdh commented on #106
P_LKRG_TASK_OFF_DEBUG was already enabled.
I can patch, edit patches, compile a kernel, etc.
Even a bisect might succeed.
But I might be away until the weekend, so please post your ideas today so i can work on them while I am away.

[2021-09-13 13:01] udovdh commented on #106
5.14.3:

[   37.559727] [p_lkrg] ALERT !!! _STEXT MEMORY BLOCK HASH IS DIFFERENT - it is [0xee40f41d5e6decb5] and should be [0x8dfce67cc0de35ee] !!!
[   37.559727] [p_lkrg] ALERT !!! SYSTEM HAS BEEN COMPROMISED - DETECTED DIFFERENT 1 CHECKSUMS !!!
[   37.739742] [p_lkrg] ALERT !!! _STEXT MEMORY BLOCK HASH IS DIFFERENT - it is [0xee40f41d5e6decb5] and should be [0x8dfce67cc0de35ee] !!!
[   37.74306

[2021-09-13 13:58] Adam-pi3 commented on #106
This is unrelated issue (for kernel 5.14+) which is tracked here: https://github.com/openwall/lkrg/issues/117

I would be thankful if you compile the latest LKRG from the git (I've pushed today extra debugging logic) with the P_LKRG_TASK_OFF_DEBUG compilation and reproduce the issue.

Thanks,
Adam

[2021-09-13 15:50] udovdh commented on #106
5.14.3 flushes dmesg with the ALERT messages. Can I turn these off?

[2021-09-13 16:01] Adam-pi3 commented on #106
please set kint_enforce to 0 e.g., via:
[code]
You can also completely disable this functionality via:

[code]

However, setting it to 1 should be fine as well:

[code]

Thanks,
Adam

[2021-09-13 16:04] udovdh commented on #106
Thanks, that helps.

[2021-09-18 16:31] 0xC0ncord commented on #117
I also just recently started seeing this issue, but only on Linux>=5.14.3. I'm seeing this behavior on 3 different systems.

I'm also seeing this message in the kernel ringbuffer, but I see this long before LKRG gets loaded, which is concerning:
[code]
I know that the above message gets printed when using the `no_hashed_pointers` kernel commandline option, but I am not using it. Additionally, I am

[2021-09-18 19:48] 0xC0ncord commented on #117
OK so the above warning about unhashed kernel pointers is related to https://github.com/torvalds/linux/commit/792702911f581f7793962fbeb99d5c3a1b28f4c3, which is a different issue. As for LKRG, I'm unsure, but I've determined that the entire 5.14 tree is affected, not just >=5.14.3.

[2021-09-24 06:29] udovdh commented on #106
[378022.045646] 147638 pages reserved
[378022.045647] [p_lkrg] p_alloc_ed_pids() returned NULL for pid 793592 :(
[378022.045648] [p_lkrg] <Exploit Detection> Error[-1] when trying to add process[793592 |skypeforlinux] for tracking!
[425160.226250] [p_lkrg] <Exploit Detection> ON process[937979 | Web Content] has corrupted 'off' flag!
[425160.226258] [p_lkrg] 'off' flag[0x686aee3bf9edfb2] (normaliz

[2021-09-25 21:19] Adam-pi3 commented on #106
Thanks @udovdh and yes, this is what I expected. Can you try applying the following patch and verify if it helps?

[http://site.pi3.com.pl/priv/p_test.diff](url)

[2021-09-26 09:40] udovdh commented on #106
Thanks for the patch.
I applied it and booted into 5.14.7.

[2021-09-27 17:18] Adam-pi3 commented on #106
@udovdh did it help?

[2021-10-01 12:37] udovdh commented on #106
I was away, but so far so good....

[2021-10-02 11:01] udovdh commented on #106
This weekend I'll be using the Firefox quite intensively so perhaps we can close the bug on monday?

[2021-10-03 18:16] 0xC0ncord commented on #117
I noticed that I can spuriously reproduce this message when booting a machine on 5.14 and starting various systemd services or connecting to WiFi. Is there anything I might be able to provide that would help in tracking down this issue?

[2021-10-19 20:19] Adam-pi3 opened #121 "MKOSI container issue"
Hi @vt-alt, can you take a look at the newest issue which breaks mkosi on container environment:

https://github.com/openwall/lkrg/runs/3943837886

Thanks,
Adam

[2021-10-20 15:02] vt-alt commented on #121
This is not `mkosi` related Docker based builds (for multiple distros). Perhaps, there is some issue with `alt:sisyphus` docker image. I will investigate further. Thanks.

[2021-10-21 20:28] Adam-pi3 commented on #121
Thanks @vt-alt for root-causing it :)

[2021-10-21 20:29] #121 closed, assigned to vt-alt

[2021-11-02 15:12] Jacekalex commented on #116
Hmm
Gentoo
Linux version 5.15.0-g1 (root@localhost) (gcc (Gentoo Hardened 11.2.0 p1) 11.2.0, GNU ld (Gentoo 2.37_p1 p0) 2.37) #1 SMP PREEMPT Tue Nov 2 13:37:27 CET 2021
`# root ~> cat /root/lkrg-5.15.log
Skrypt uruchomiony 2021-11-02 16:04:40+01:00 [TERM="screen.linux" TTY="/dev/pts/0" COLUMNS="137" LINES="38"]

# G1 Gentuś ### screen  ###   wto lis 02 16:04:40  localhost : ~

# root ~> cd /ssdtmp

[2021-11-04 04:34] Adam-pi3 commented on #116
I've compiled 5.15 with LOADPIN and it works fine. I assume you must have some specific configuration of LOADPIN. These are the tests on my side:

[code]

@Jacekalex what configuration are you using?

[2021-11-04 05:17] Adam-pi3 commented on #116
I think I might know what is the problem. According to this:
http://kernsec.org/pipermail/linux-security-module-archive/2019-March/012195.html

You are using some older version of `insmod` / `modprobe` tools which are loading kernel module via `init_module` syscall (old one) instead of a new one (`finit_module`) and `LoadPin` doesn't like it:

https://elixir.bootlin.com/linux/v5.15/source/security

[2021-11-07 19:36] Adam-pi3 commented on #116
@Jacekalex I guess we can close it, correct?

[2021-11-08 20:00] itoffshore commented on #111
`vfio` works without issue on linux-hardened `5.14.6` with `lkrg` - I didn't really see any slowdown (maybe 1 fps in the Hitman 2 benchmark)

[2021-11-09 18:58] #116 closed

[2021-11-11 10:47] Emm commented on #38
Using `5.14.0-4-amd64 #1 SMP Debian 5.14.16-1 (2021-11-03) x86_64 GNU/Linux` and LKRG 0.9.1-5 from `https://deb.whonix.org`, spurious `MODULE KOBJ HASH IS DIFFERENT` log messages are still an issue

[2021-11-11 11:31] solardiz commented on #38
@Emm No, in our understanding it's not "still", but "again" - a different issue that manifests itself the same on 5.14+. We tracked that new issue as #117 and we believe we've fixed it in a9906a6be371d0da669289e76610f40cf9e5d55c. I guess the Whonix package doesn't have that new fix yet, @adrelanos.

[2021-11-13 12:22] melver commented on #79
FYI - https://git.kernel.org/torvalds/c/4f612ed3f748962cbef1316ff3d323e2b9055b6e
, which is also in 5.15-stable. I expect most distro kernels to eventually disable the static keys / jump labels mode.

[2021-11-13 22:08] adrelanos commented on #38
Indeed. Waiting for next stable release of LKRG and also some sort of signed git commits or git tags would be very helpful. (#67)

[2021-11-14 00:58] Adam-pi3 commented on #112
@vbooka1 I've just pushed the necessary changes (https://github.com/openwall/lkrg/commit/f446f316a34499ab370a1ca9e6f5a1bc49687960). Let me know if this is fine for you.

[2021-11-14 14:30] solardiz commented on #109
Our current instructions in the "Installation" and "Uninstalling and upgrading" sections of `README` rely on the current behavior, and `make uninstall` would currently unload LKRG via:

[code]

So we should not simply drop these lines from `scripts/bootup/systemd/lkrg.service` without also revising the instructions and perhaps the above script.

[2021-11-14 20:20] solardiz commented on #108
Outside of Debian package specifics, we had also decided on not enabling the systemd service by default in https://github.com/openwall/lkrg/issues/74#issuecomment-826306287 (see that issue/comment for the rationale) and implemented that in 3c2b7b2e20b2891a86eba35c6fd8a76461c1b505.

That rationale primarily applied to manual build/installation of LKRG, but to some extent it also does to distro pack

[2021-11-14 21:02] Emm commented on #38
@solardiz , thanks for the prompt answer.

[2021-11-16 13:33] solardiz opened #125 "Support the "nolkrg" option in LKRG itself (not only in systemd unit)"
Right now we support `nolkrg` only in the systemd unit, but we also need to support other init systems and/or loading of LKRG via `/etc/modules-load.d` and building of LKRG into the kernel - all without losing that feature. For that, we need to bring `nolkrg` option support into our kernel space code.

[2021-11-17 13:30] solardiz opened #126 "mkosi-mainline fails on "grep 'Linux version'""
mkosi-mainline fails for two days now on `grep 'Linux version'`. I _guess_ the default log level changed such that `boot.log` _does_ have the LKRG message that we grep for, but does not have most of Linux's own boot-up messages. I think we need to either override the log level back (as those messages would be useful for our troubleshooting if/when something else fails later) or remove the `grep 'L

[2021-11-17 18:46] Adam-pi3 commented on #112
I'm closing this bug, but we can still have discussion here.

[2021-11-17 18:46] #112 closed

[2021-11-18 12:06] solardiz commented on #126
Not only mainline, but other mkosi runs are also failing. (It's just that we only had mainline scheduled, so it took until the next PR to notice the rest failing.)

[2021-11-18 12:07] vt-alt commented on #126
Yes, it's new feature of Mkosi, I will easily fix it, soon.

[2021-11-18 12:13] solardiz commented on #126
Thank you, @vt-alt! How did we start using a new version(?) of mkosi in all of these at once? Since we're testing on various versions of Ubuntu, I'd have expected those versions' packages to be used, no?

[2021-11-18 12:18] vt-alt commented on #126
We install with `sudo python3 -m pip install git+https://github.com/systemd/mkosi.git` in these tests. Packaged into Ubuntu `mkosi` had some problems besides being old version.

[2021-11-18 12:24] vt-alt commented on #126
I would push the fix yesterday, but I found that `make -j$(nproc)` in `mkosi.build` makes `gcc`s killed (on 20 nproc box). So, I think now should I limit `-j` to something like `2` or not.

[2021-11-18 13:22] #126 closed

[2021-11-18 13:38] solardiz commented on #126
@vt-alt The fix has helped - now all green again. Thank you!

[2021-11-19 15:50] Adam-pi3 commented on #125
We can introduce an extra argument with the name `nolkrg` where we can pass the value 1 indicating to not be loaded. In such case LKRG's initialization routine will immediately return. The question is if we should return SUCCESS or error code. I believe we should return error otherwise module will be visible and mapped in the kernel. @solardiz what do you think?

[2021-11-19 16:25] solardiz commented on #125
I think this shouldn't be a module argument - rather, we should be scanning the kernel's "command line". Also no value, just `nolkrg`. And yes, we should return an error so that nothing from LKRG stays loaded.

[2021-11-23 01:14] Adam-pi3 commented on #125
Before submitting changes addressing this issue, @solardiz can you take a look if you have any comments?

[code]

[2021-11-23 10:47] solardiz commented on #125
Thank you for working on this, and for the opportunity to review the changes. BTW, I think we should start using pull requests more, even for our own work, to enable such reviews before non-trivial changes are pushed (and once LKRG is more mature, for seemingly trivial changes too - it's always possible e.g. to make a typo).

This looks good enough to me. Here are a few nitpicks:

I was wondering

[2021-11-23 15:44] Adam-pi3 commented on #125
Yes, I agree.

Yes, I've been looking at it and took a time to analyze the differences. The `boot_command_line` is declared as `__initdata` which means that this page where it resides will be unmapped when kernel finish booting. In short, it's not available after booting is completed.

[2021-11-23 16:30] solardiz commented on #125
@Adam-pi3 BTW, you haven't mentioned - have you actually tested these changes? :-) I only reviewed, relying on you to test.

[2021-11-23 16:54] Adam-pi3 commented on #125
Yes, I did and confirmed that `boot_command_line` is not mapped

[2021-11-23 16:56] solardiz commented on #125
I only meant testing of the changes that you actually intend to commit, but good to know. Thanks.

[2021-11-23 18:44] Adam-pi3 commented on #125
One more caveat. To be able to resolve `saved_command_line` we must resolve kallsyms* API. So there is a little of LKRG code which still runs and might have some errors (although it's simple so shouldn't have). That's why I though to leave the print message:
[code]
Before parsing the command line.  So if any bug happens in resolving kallsyms* functionality, it would be visible it's LKRG fault.
Add

[2021-11-23 19:09] solardiz commented on #125
OK, that's fine. You just need to remove the stale line with `P_BOOT_DISABLE_LKRG);` on it.

Separately from this issue, I think we should eventually ensure that all LKRG messages are clearly marked as such. Simply relying on a previous message suggesting that the next one is also from LKRG isn't good enough.

[2021-11-23 19:59] Adam-pi3 commented on #125
Yes, I saw it during tests :) Is the following message acceptable (I've change it a bit):

[code]

In fact, we do have that already. `p_print_log` always prefix LKRG messages with `[p_lkrg]`:

[code]

[2021-11-23 20:05] solardiz commented on #125
Yes, that message is fine. You'll probably want to add a space before `P_BOOT_DISABLE_LKRG` (won't affect the message, just source code clarity).

As I recall, I saw some LKRG messages without the prefix somehow - would need to revisit that. Maybe I misrecall.

[2021-11-23 21:28] Adam-pi3 commented on #125
Done

[2021-11-23 21:28] #125 closed

[2021-11-25 15:23] solardiz commented on #99
I've just added this to LKRG homepage:

I'll also update the `README`.

[2021-11-27 22:54] sempervictus commented on #108
I think that having init scripts for whatever init system folks use is handy - its a system-native mechanism to load the modules, for systemd-based stuff this is not an uncommon semantic either, and the openrc/legacy people can always write their own if so desired and PR them to the repository.
Having options is never a bad thing, and the maintenance burden is minimal if that in this case, so i vo

[2021-12-08 11:34] solardiz opened #129 "CI: Update expected power off message"
`mkosi-mainline` started failing again, and it looks like the cause is there's no longer a dash in the message that (I think) comes from systemd. We should update the regexp, e.g. replacing `-` with `.`.

[code]

[code]

[2021-12-09 21:39] #129 closed

[2021-12-09 21:55] solardiz commented on #108
At this point, I don't know what this issue is for. I think we may as well close it with no action. The title "LKRG Debian package - systemd unit does not automatically start - lkrg.service is a disabled or a static unit, not starting it." merely describes what we have, and there's not necessarily any issue with that.

If @adrelanos and @morfikov feel about enabling the service in the Debian packa

[2021-12-10 17:31] solardiz commented on #87
One more: https://github.com/openwall/lkrg/runs/4485495918?check_suite_focus=true

[code]

[2021-12-14 06:51] udovdh opened #131 ""page allocation failure" without CONFIG_KPROBES_ON_FTRACE"
Hello,
Please have a look at  https://bugzilla.kernel.org/show_bug.cgi?id=214949 and the conclusion near the bottom.
Why does lkrg do that?
Is this why vm.min_free_kbytes needs to be adjusted so high?
Please explain.

Udo

[2021-12-14 12:17] solardiz commented on #131
@udovdh Yes, I think we use `GFP_ATOMIC` too much and should fix that. Can you please try changing the two instances of `GFP_ATOMIC` below to `GFP_KERNEL`? Does this help?

[code]

[2021-12-14 12:23] udovdh commented on #131
I applied the changes, next kernel patch will have the update lkrg.
Due to this vm.min_free_kbytes was increased to 770000. The issue still happens, though less frequently.
What should be sufficient on a 32GB (minus video) system for vm.min_free_kbytes with these changes?

[2021-12-14 12:24] solardiz commented on #131
@udovdh For testing these changes, please revert to the defaults (do not override `vm.min_free_kbytes`). We got to make things work with the defaults. Thank you!

[2021-12-14 12:35] udovdh commented on #131
I will test 5.15.8 with default vm.min_free_kbytes and the lkrg changes.

[2021-12-14 13:29] udovdh commented on #131
Default appears to be:
[code]

I.e.: vastly less than what was in there before.

[2021-12-14 13:54] solardiz commented on #131
@Adam-pi3 We have two instances of the below comment in `p_ed_enforce_pcfi()`:

[code]

If this were true, it'd be a reason to use `GFP_ATOMIC` in there. However, to me this looks false. Can you confirm that these comments are wrong or correct me if I am wrong? Also, the comments are used to claim that `local_irq_save(p_flags);` (and its corresponding restore) are not needed. Would they be needed,

[2021-12-14 13:57] udovdh commented on #131
[code]

[2021-12-14 14:10] solardiz commented on #131
@Adam-pi3 I think this changed in c8e18884a6bb18b4ddcccfd9c2776e4c3472392f, but we forgot to update the comments and to reconsider the uses of `GFP_ATOMIC`. I think the comment should now say:

[code]

and we only need one instance of it, just before accesses that assume the lock.

[2021-12-14 19:32] Adam-pi3 commented on #131
As far as I remember, @udovdh is having this problem for some time. There is some puzzle unrelated to the LKRG and the reason why I'm saying it, is because people never encounter that problem when they run LKRG on much "weaker" environment (e.g., with 2GB of memory). For some reasons @udovdh set-up has 32GB and his kernel has problem with memory allocation while 2GB machine does not. I'm not convi

[2021-12-15 12:38] solardiz commented on #131
Right. It is indeed puzzling that @udovdh is the only one to report this issue.

Oh, I forgot that aspect. I'll need to dig up our past discussion of it when I (hopefully) start working on LKRG closely next year.

Why are we tying this to `PAGE_SIZE` at all? Wouldn't it be more appropriate to directly specify a size in bytes (maybe just one, maybe varying by arch but even if so it'd be for reasons

[2021-12-15 12:39] solardiz commented on #131
Is this also the case when kprobes get optimized to ftrace, though?

[2021-12-15 12:52] udovdh commented on #131
Would there be an easy way to boot the Fedora so that it uses or 'sees' just 16GB?
Then we can conclude if the amount of memory is a factor or the CPU or something else.

[2021-12-15 13:03] solardiz commented on #131
@udovdh You can try the `mem=16G` kernel parameter. However, I'm sure there are others who use LKRG on 32+ GB. I have LKRG on a 32 GB machine, but that one has a very different kernel version and usage pattern. Even if it's somehow a 16 vs. 32 GB thing for you, that wouldn't tell us much.

I suggest that you test the changes to GFP_KERNEL first. While Adam suggests we wouldn't dare to do this for

[2021-12-15 13:05] udovdh commented on #131
Would there be an easy way to boot the Fedora so that it uses or 'sees' just 16GB?
Then we can conclude if the amount of memory is a factor or the CPU or something else.

5.15.8 crashes a bit more. Related to the changes we made?
See https://marc.info/?l=linux-kernel&m=163954420805741&w=2

[2021-12-15 13:10] solardiz commented on #131
@udovdh Please don't spam Linux kernel upstream developers with issues likely related to LKRG or our experiments with it.

Yes, that crash you reference looks related to our attempted use of `GFP_KERNEL`. Do you perhaps have ftrace disabled?

[2021-12-15 13:11] solardiz commented on #131
@udovdh Can you show your kernel config, and in particular lines with `FTRACE` on them?

[2021-12-15 13:19] udovdh commented on #131
[code]

[2021-12-15 13:49] solardiz commented on #131
@udovdh Please try enabling `CONFIG_FTRACE`. For this test, we need to have more than just the `HAVE` versions of the sub-options enabled.

[2021-12-15 13:57] udovdh commented on #131
[code]
Correct?

[2021-12-15 13:58] solardiz commented on #131
@udovdh Probably correct, yes. Can you show the resulting `.config` lines?

[2021-12-15 14:02] udovdh commented on #131
[code]

?

[2021-12-15 14:03] solardiz commented on #131
@udovdh Should be good enough. Please proceed to test this.

[2021-12-15 17:20] udovdh commented on #131
5.15.8 crashes a bit too much to be usable. Reverted to 5.15.7 for now. Will test more this weekend.

[2021-12-15 17:35] solardiz commented on #131
@udovdh Did 5.15.8 crash for you even after you enabled ftrace?

[2021-12-15 18:04] solardiz commented on #131
@udovdh I notice you've added more messages to the linux-kernel thread, instead of to here. Please stop spamming upstream Linux developers with an issue that isn't theirs. Really. You might want to add just one more message to there with an apology for the misdirected messages, and that's it.

In there, you wrote:

So this answers my question above.

Can you also try with ftrace enabled, but the `

[2021-12-15 18:21] Adam-pi3 commented on #131
I've analyzed the optimized KPROBE path to find out if IRQs are disabled in that case and from my tests I can confirm that OPTIMIZED kprobes are executed while IRQs are enabled. To be more clear:
[code]

That being said, we only have 2 KPROBEs which are optimized to FTRACE:
[code]
When I disable optimizer then we have IRQs disabled:
[code]

Most of our hooks are converted to FTRACE since in all mo

[2021-12-15 18:59] solardiz commented on #131
@Adam-pi3 You seem to distinguish "optimized" and "converted" - can you explain this? I thought that previously you referred to all of these conversions as "optimization" of kprobes to ftrace.

Let's just use a fixed value in bytes, not tied to `PAGE_SIZE` as that merely adds confusion.

I think we eventually should, to know what failure modes we have and make sure they're sane.

[2021-12-15 19:19] solardiz commented on #131
There are in fact `in_interrupt()` checks in various places in files under `mm`. So running via ftrace, where this condition would often be false, could make a difference.

As I understand, @udovdh's most recent test here was of two changes at once - replace two `GFP_ATOMIC` with `GFP_KERNEL` _and_ also enable ftrace. I'd like to see results for just one of these changes - enable ftrace, but keep

[2021-12-15 19:26] solardiz commented on #131
Upon a closer look, the most relevant ones appear to be limited to applying the current process' NUMA policy and retrying on another NUMA node (could give us one retry even when there isn't another node) when running from process context (which in our case will only be detected when our hooks are effectively ftrace and not kprobe).

[2021-12-15 21:50] solardiz commented on #131
@Adam-pi3 Would it make sense for us to use `in_interrupt() ? GFP_ATOMIC : GFP_KERNEL`? That way, with ftrace most of those would end up `GFP_KERNEL`.

[2021-12-15 22:29] Adam-pi3 commented on #131
When kernel is compiled with FTRACE, most of the functions are instrumented with FTRACE NOP (GCC -pg) - some of the function which controls FTRACE logic have an exception to not be instrumented. If we place KPROBE on the function which is instrumented with FTRACE, we are having incompatible scenario where 2 orthogonal mechanisms might hooking the same function. Because of that, kernel developers i

[2021-12-16 04:25] udovdh commented on #131
Yes.

[2021-12-16 04:26] udovdh commented on #131
About the setup:
Just a simple GIGABYTE Aorus Pro with AMD 5700G and 32 GB RAM.
Fedore 34.
kernel.org. with no real patches.

[2021-12-16 05:55] udovdh commented on #131
I built a 5.15.8 with pristine lkrg (`git diff|patch -p1 -R`), will test this later today.

[2021-12-16 11:22] solardiz commented on #131
Great. Since some of the changes were to header files, please make sure you did a `make clean` before `make` for LKRG.

[2021-12-16 12:38] solardiz commented on #131
@Adam-pi3 Thanks. I assume in "That being said, we only have 2 KPROBEs which are optimized to FTRACE" the "to FTRACE" part is wrong.

Is it OK to use `GFP_KERNEL` with preemption disabled?

OK with me.

My understanding is `GFP_KERNEL` is allowed to sleep precisely to make it more likely to succeed - if it can't succeed right away, then it will sleep until it likely can. The emergency pool with `G

[2021-12-16 12:47] solardiz commented on #131
While I OK'ed that, I think we might want to wait to make such changes until after our next release since we don't have much time for testing now. Also, let's wait to hear from @udovdh on testing of pristine LKRG on a kernel with ftrace enabled. If the issue is gone with that, it's another reason for us not to hurry too much with other changes to address it.

[2021-12-16 16:27] udovdh commented on #131
Jury is still out...
But yesterday we saw issues within the hour.
Today 2 hours (and counting) without issues in dmesg.

[2021-12-17 15:58] solardiz commented on #131
Great.

If this happened with no messages from LKRG, then it's probably unrelated to LKRG, yes.

That's unexpected. Are you sure?

We thought that yes, we supported running without ftrace, but as we seem to have just found out due to your reports, we had that issue with memory allocation. We might work around it for the case of no ftrace in a later LKRG version. However, we expect(ed) that running

[2021-12-17 16:33] udovdh commented on #131
Yes. I can notice it in the GUI, see  it when playing video, etc.

ftrace is a diagnostic tool (as far asI understand it) so it is not to be expected around in standard kernels?

[2021-12-17 16:42] solardiz commented on #131
Does this jerkyness disappear when you unload LKRG (but keep the kernel with ftrace)?

Yes, ftrace is intended as a diagnostic tool, but it is commonly present in distro kernels.

[2021-12-17 16:52] udovdh commented on #131
A distro includes all types of stuff I do not need, please do not get me started here. I do not compile my own kernels without reason.
I will try unloading LKRG tomorrow.

[2021-12-17 17:11] solardiz commented on #131
Sure. However, we do need a function hooking mechanism supported in the kernel. It can be kprobes or ftrace, and we're leaning towards preferring ftrace - we even consider using ftrace directly (right now, we use it indirectly via the kernel optimizing our kprobe hooks to ftrace).

The alternative to using a function hooking mechanism provided by the kernel would be to create and use our own hack

[2021-12-17 17:13] udovdh commented on #131
[97086.939245] [p_lkrg] Unloading LKRG...
[97087.028363] Freezing user space processes ... (elapsed 0.044 seconds) done.
[97087.072637] OOM killer disabled.
[97088.712418] OOM killer enabled.
[97088.712426] Restarting tasks ... done.
[97088.717571] [p_lkrg] LKRG unloaded!

I am at the end of my day.

[2021-12-17 21:40] solardiz commented on #131
@udovdh You can also try changing `lkrg.pcfi_validate` via `sysctl`. Try setting it to 0, 1, 2 and see how this affects system responsiveness. For example:

[code]

(Of course, that's for when you have LKRG loaded again.)

[2021-12-21 01:36] #108 closed

[2021-12-29 01:10] solardiz opened #132 "CI: Ubuntu Groovy failing"
We started getting this:

[code]

I think I'll try "repairing" this by:

[code]

[2021-12-29 01:37] solardiz opened #133 "Build on RHEL7 broken"
Build on RHEL7 is broken in two ways:

1. ff5ca9630057e2c1d3856a8674afac9bf6a9b1d3 apparently requires GCC 7+, and RHEL7 by default has older.
2. c6d93ae9df2519a66a6d5ec9e226f8458c51815c assumes the kernel has `READ_ONCE`, but older kernels did not. They had `ACCESS_ONCE` instead: https://lwn.net/Articles/624126/

I'm testing fixes for these.

[2021-12-29 01:43] solardiz commented on #132
@vt-alt When you have a moment, please take a look and maybe re-introduce testing on Groovy or just close this issue. Thanks.

[2021-12-29 01:50] #133 closed

[2021-12-29 02:19] solardiz commented on #133
I've fixed these, but actually we have this:

[code]

in `.github/workflows/builds.yml`, and didn't have any complaints from CI. Maybe those commits I reference broke build only with (way) older RHEL7 kernels, like I have on my test box. Perhaps their latest/recent do define `READ_ONCE` (almost certainly, as they must have back-ported lots of changes requiring this) and `fallthrough`.

[2021-12-30 09:57] vt-alt commented on #132
`groovy` seems to be short life-cycle release and only could be deleted (or upgraded to `hirsute` which we already have, but it will EOL in 01/2022). We can add some another release. `impish` looks good.

https://wiki.ubuntu.com/Releases